.lw_content_wrap.page {
    .wp-block-wdl-paid-block-fv-8 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .wp-block-wdl-paid-block-fv-8) {
        .first_content {
            display: none;
        }
    }
}
.wp-block {
    &:has(.paid-block-fv-8) {
        margin: 0;
        width: 100%;
        max-width: 100%;
        .paid-block-fv-8_inner {
            .text_in {
                .ttl {
                    .main {
                        @container (max-width: 1100px) {
                            font-size: 60px;
                        }
                    }
                }
            }
        }
    }
}
.paid-block-fv-8 {
    container-type: inline-size;
    position: relative;
    border-bottom: 1px solid #eee;
    + .post_style > .wp-block-columns.has-background {
        margin-top: 0;
    }
    *{
        box-sizing: border-box;
    }
    .paid-block-fv-8_inner {
        position: relative;
        .text_in {
            position: relative;
            z-index: 10;
            padding: 0 48px;
            padding-top: 56px;
            @container (max-width: 1200px) {
                padding: 32px;
                padding-top: 48px;
            }
            @container (max-width: 1100px) {
                padding-bottom: 0;
            }
            @container (max-width: 700px) {
                padding: 16px;
                padding-top: 32px;
                padding-bottom: 0;
            }
            @container (max-width: 500px) {
                padding: 8px;
                padding-top: 24px;
                padding-bottom: 0;
            }
            .ttl {
                font-weight: 700;
                .sub {
                    margin-bottom: -0.1em;
                    display: block;
                    font-size: 32px;
                    color: #f19a30;
                    line-height: 1.6em;
                    @container (max-width: 1200px) {
                        font-size: 24px;
                    }
                    @container (max-width: 950px) {
                        font-size: 20px;
                    }
                    @container (max-width: 700px) {
                        font-size: 16px;
                    }
                    @container (max-width: 500px) {
                        font-size: 14px;
                    }
                }
                .main {
                    margin: 24px 0 28px 0;
                    width: calc(100% - 580px);
                    display: block;
                    font-size: 80px;
                    line-height: 1.3em;
                    color: #3e3e3e;
                    letter-spacing: 0.05em;
                    font-feature-settings: "palt";
                    @container (max-width: 1440px) {
                        width: 60%;
                        font-size: 72px;
                    }
                    @container (max-width: 1300px) {
                        font-size: 64px;
                    }
                    @container (max-width: 1100px) {
                        margin-top: 32px;
                        font-size: 5.4vw;
                    }
                    @container (max-width: 700px) {
                        margin: 12px 0 16px 0;
                        width: 55%;
                    }
                    &.lw_in_text_split {
                        width: 100%;
                    }
                    .lw_in_text_box {
                        padding: 0 0.13em 0.1em 0;
                        width: fit-content;
                        display: block;
                        white-space: nowrap;
                        background: #fff;
                        @container (max-width: 700px) {
                            padding: 0.1em 0.13em 0.15em 0;
                        }
                    }
                }
            }
            p.lead {
                margin: 0;
                padding: 20px 0;
                border-top: 1px dashed #707070;
                border-bottom: 1px dashed #707070;
                font-size: 28px;
                color: #584843;
                line-height: 1.5em;
                font-weight: 700;
                display: block;
                width: calc(100% - 580px);

                @container (max-width: 1440px) {
                    width: calc(60% - 32px);
                }

                @container (max-width: 1200px) {
                    font-size: 24px;
                }
                @container (max-width: 950px) {
                    font-size: 20px;
                }
                @container (max-width: 700px) {
                    padding: 12px 0;
                    width: calc(55% - 16px);
                    font-size: 16px;
                }
                @container (max-width: 500px) {
                    font-size: 11px;
                }
            }
        }
        .image {
            position: absolute;
            top: 0;
            right: 0;
            width: 580px;
            height: 100%;

            @container (max-width: 1440px) {
                width: 40%;
            }
            @container (max-width: 700px) {
                width: 45%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .point {
            font-size: 16px;
            position: absolute;
            bottom: 32px;
            right: 32px;
            z-index: 10;
            width: 10.75em;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 50%;
            background: #fff;
            border: 3px solid #f19a30;
            @container (max-width:1300px) {
                font-size: 14px;
            }
            @container (max-width:1100px) {
                bottom: 16px;
                right: 16px;
                font-size: 11px;
            }
            @container (max-width:800px) {
                font-size: 9px;
            }
            @container (max-width:500px) {
                bottom: 8px;
                right: 8px;
                font-size: 6.5px;
                border-width: 2px;
            }
            > p {
                margin: 0;
                margin-top: 7%;
                width: 100%;
                text-align: center;
                color: #584843;
                font-size: 1.25em;
                font-weight: 600;
                > span {
                    display: block;
                    width: 100%;
                }
                span {
                    line-height: 1;
                    + span {
                        margin-top: 2%;
                    }
                    b {
                        margin-left: 5%;
                        font-size: 3em;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }
            svg.star {
                position: absolute;
                top: 10%;
                left: 0;
                right: 0;
                margin: auto;
                width: 1.875em;
                height: auto;
            }
            .btm {
                svg {
                    position: absolute;
                    width: 0.835em;
                    height: 0.825em;
                    &:nth-of-type(1) {
                        bottom: 10%;
                        left: 27%;
                    }
                    &:nth-of-type(2) {
                        bottom: 5%;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:nth-of-type(3) {
                        bottom: 10%;
                        right: 27%;
                    }
                }
            }
        }
    }
    .btm_text {
        padding: 32px 0;
        width: calc(100% - 580px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 32px;
         box-sizing: border-box;
        *{
            box-sizing: border-box;
        }
        @container (max-width: 1440px) {
            width: 60%;
        }
        @container (max-width: 1100px) {
            padding: 24px 32px;
            width: 100%;
        }
        @container (max-width:600px) {
            padding: 16px;
            gap: 16px;
        }
        @container (max-width:500px) {
            padding: 12px 8px;
            gap: 16px;
        }
        &.pc {
             box-sizing: border-box;
            @container (max-width: 1100px) {
                display: none;
            }
        }
        &.sp {
            display: none;
             box-sizing: border-box;
            @container (max-width: 1100px) {
                display: flex;
            }
        }
        ul.list {
            padding: 0;
            display: flex;
            gap: 12px;
            @container (max-width:600px) {
                gap: 4px;
            }
            li {
                width: 98px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                background: #7c6357;
                color: #fff;
                font-size: 26px;
                border-radius: 50%;
                letter-spacing: 0.1em;
                line-height: 1.1em;
                font-weight: 700;
                text-align: center;
                @container (max-width: 950px) {
                    width: 80px;
                    font-size: 20px;
                }
                @container (max-width:600px) {
                    width: 64px;
                    font-size: 16px;
                }
                @container (max-width:500px) {
                    width: 56px;
                    font-size: 14px;
                }
            }
        }
        p {
            margin: 0;
            max-width: 400px;
            font-size: 20px;
            @container (max-width: 1200px) {
                width: 100%;
                font-size: 16px;
            }
            @container (max-width:600px) {
                font-size: 14px;
            }
            @container (max-width:500px) {
                font-size: 12px;
            }
        }
    }
}
