.lw-content-2 {
  margin: 40px 0 24px 0;
  @container (max-width:600px) {
    margin: 32px 0 16px 0;
  }
  @container (max-width:500px) {
    margin: 24px 0 56px;
  }
  &.clm_2 {
    .lw-content-2_inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 40px;
      @container (max-width:800px) {
        gap: 24px 24px;
      }
      @container (max-width:500px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
      }
    }
  }
  &.clm_4 {
    .lw-content-2_inner {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px 16px;
      @container (max-width:1000px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @container (max-width:800px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 20px;
      }
      @container (max-width:500px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
      }
    }
  }
  &_inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @container (max-width:800px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 20px;
    }
    @container (max-width:500px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 48px;
    }
  }
  &_content {
    position: relative;
    padding-bottom: 64px;
    @container (max-width:500px) {
      padding-bottom: 0;
    }
    h3.ttl {
      margin: 0;
      margin-bottom: 0.3em;
      font-size: 28px;
      line-height: 1.4em;
      text-align: center;
      @container (max-width:1000px) {
        font-size: 24px;
      }
      @container (max-width:500px) {
        font-size: 28px;
      }
    }
    figure {
      margin: 0;
      padding: 0;
      width: 100%;
      aspect-ratio: 16/12;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .lw-content-2_text {
      p {
        margin: 0;
        padding: 0;
        margin-top: 1em;
      }
    }
    .lw-content-2_btn {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 14px 2em 12px 2em;
      min-height: 48px;
      min-width: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-accent);
      color: #fff;
      font-size: 14px;
      line-height: 1;
      transition: 0.3s;
      @container (max-width:500px) {
        position: static;
        margin-top: 1em;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
