.paid-block-content-4 {
  container-type: inline-size;
  margin: 80px 0;
  @container (max-width:1080px) {
    margin: 64px 0;
  }
  @container (max-width:900px) {
    margin: 56px 0;
  }
  @container (max-width:600px) {
    margin: 48px 0;
  }
  @container (max-width:500px) {
    margin: 40px 0;
  }
  @container (max-width:400px) {
    margin: 32px 0;
  }
  * {
    box-sizing: border-box;
  }
  .conts {
    margin: 0 auto;
    max-width: var(--max-width-clm-1);
    width: 100%;
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    @container (max-width:800px) {
      grid-template-columns: 1fr;
    }
    .cont {
      padding-right: 30px;
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      @container (max-width:800px) {
        padding: 0;
      }
      .ttl {
        margin-bottom: 24px;
        font-size: 35px;
        font-weight: bold;
        color: var(--color-black);
        line-height: 1.25;
        @container (max-width:800px) {
          margin-bottom: 24px;
        }
        .sub {
          margin-top: 0.5em;
          display: block;
          font-size: 13px;
          font-weight: initial;
        }
        i {
          color: var(--color-main);
        }
      }
      p.ttl_btm_p {
        margin: 0;
        width: 100%;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        @container (max-width:800px) {
          margin: 0;
        }
        @container (max-width:500px) {
          font-size: 15px;
        }
        + .cont_btn {
          margin-top: 32px;
          @container (max-width:800px) {
            margin-bottom: 24px;
          }
        }
      }
      .cont_btn {
        position: relative;
        z-index: 10;

        padding: 0.9em 1.1em;
        min-width: 180px;
        border: 2px solid #333;
        color: #333;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        transition: color 0.6s;
        text-decoration: none;
        text-align: center;
        @container (max-width:800px) {
          margin-bottom: 32px;
        }
        &.w_full {
          width: 100%;
          max-width: 100%;
        }
        &.none {
          display: none;
        }
        &.sp_w_full {
          @container (max-width:800px) {
            width: 100%;
            max-width: 100%;
          }
        }
        &.sp_none {
          @container (max-width:800px) {
            display: none;
          }
        }
        .btn_bg {
          position: absolute;
          top: 0;
          left: -100%;
          z-index: -1;
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          transition: 0.6s;
        }
        &:hover {
          color: #fff !important;
          .btn_bg {
            left: 0;
          }
        }
      }
    }
    .gallery_in {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      align-items: start;
      align-content: start;
      @container (max-width:780px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @container (max-width:550px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .image {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        background: #dfe6e8;
        &::before {
          padding-top: 100%;
          content: "";
          display: block;
        }
        &:nth-of-type(4) {
          @container (max-width:780px) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            &::before {
              padding-top: 50%;
            }
          }
          @container (max-width:550px) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            &::before {
              padding-top: 100%;
            }
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
