.paid-block-content-7 {
  margin: 48px 0;
  container-type: inline-size;
  @container (max-width:600px) {
    margin: 32px 0;
  }
  @container (max-width:500px) {
    margin: 24px 0;
  }
  * {
    box-sizing: border-box;
  }
  ul.paid-block-content-7__inner {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    list-style: none;
    @container (max-width:1000px) {
      gap:24px;
    }
    @container (max-width:800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @container (max-width:550px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &.clm_2{
      grid-template-columns: repeat(2, 1fr);
      @container (max-width:700px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    li.paid-block-content-7__li {
      position: relative;
      a {
        color: var(--color-black);
        text-decoration: none;
      }
      .image {
        position: relative;
        z-index: 10;
        margin-bottom: 24px;
        padding: 16px;
        width: 100%;
        display: flex;
        align-items: end;
        align-content: end;
        aspect-ratio: 400 / 300;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        + button {
          margin-top: 12px;
        }
        h3.ttl,
        h4.ttl,
        p.ttl {
          margin: 0;
          width: 100%;
          padding: 0.4em 0.2em;
          line-height: 1.5em;
          text-align: center;
          background: #fff;
          border-radius: 6px;
          border-bottom: 4px solid var(--color-main);
          letter-spacing: 0;
          &.font_size_l {
            font-size: 22px;
            @container (max-width:800px) {
              font-size: 20px;
            }
            @container (max-width:550px) {
              font-size: 18px;
            }
          }
          &.font_size_m {
            font-size: 20px;
            @container (max-width:800px) {
              font-size: 18px;
            }
            @container (max-width:550px) {
              font-size: 16px;
            }
          }
          &.font_size_s {
            font-size: 18px;
            @container (max-width:800px) {
              font-size: 16px;
            }
            @container (max-width:550px) {
              font-size: 14px;
            }
          }
        }
      }
      p.paid-block-content-7__text {
        margin: 0;
        margin-top: 0.8em;
        line-height: 2em;
        text-align: justify;
        &.font_size_l {
          font-size: 20px;
          @container (max-width:800px) {
            font-size: 18px;
          }
          @container (max-width:550px) {
            font-size: 16px;
          }
        }
        &.font_size_m {
          font-size: 17px;
          @container (max-width:550px) {
            font-size: 15px;
          }
        }
        &.font_size_s {
          font-size: 15px;
          @container (max-width:550px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  .paid-block-content-7__remove_btn {

    font-size: 12px;
    color: #fff !important;
    background: var(--color-accent);
    border: none;
    border-radius: 2px;
  }
  .paid-block-content-7__add_btn {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: 32px;
    padding: 12px 24px;
    padding: 12px 24px;
    width: 200px;
    font-size: 16px;
  }
}
