.lw-pr-step-8 {
  margin: 32px 0;
}

@container (max-width:800px) {
  .lw-pr-step-8 {
    margin: 24px 0;
  }
}

.lw-pr-step-8 * {
  box-sizing: border-box;
}

.lw-pr-step-8 .lw-step__inner {
  position: relative;
  z-index: 10;
  container-type: inline-size;
  margin-inline-start: 0;
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 8px;
  list-style: none;
}

@container (max-width:550px) {
  .lw-pr-step-8 .lw-step__inner {
    gap: 4px;
  }
}

.lw-pr-step-8 .lw-step__inner .lw-step__li {
  position: relative;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 4em calc(100% - 4em);
  background: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: var(--step-8-bdr-pc, 10px);
  overflow: hidden;
}

@container (max-width:700px) {
  .lw-pr-step-8 .lw-step__inner .lw-step__li {
    padding: 1.5em 1em;
    grid-template-columns: 3em calc(100% - 3em);
    border-radius: var(--step-8-bdr-sp, --step-8-bdr-pc);
  }
}

@container (max-width:550px) {
  .lw-pr-step-8 .lw-step__inner .lw-step__li {
    grid-template-columns: 2.5em calc(100% - 2.5em);
    border-radius: 6px;
  }
}

.lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_no {
  margin: 0;
  line-height: 0.7em;
  font-size: 3.2em;
  letter-spacing: 0;
}

@container (max-width:700px) {
  .lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_no {
    font-size: 2.5em;
  }
}

@container (max-width:500px) {
  .lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_no {
    font-size: 2em;
  }
}

.lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_in {
  padding-top: var(--step-8-li-in-pt-pc, 0.6em);
  padding-left: 0.8em;
}

@container (max-width:700px) {
  .lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_in {
    padding-top: var(--step-8-li-in-pt-sp, --step-8-li-in-pt-pc);
    padding-left: 0.6em;
  }
}

.lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_in *:first-child {
  margin-top: 0 !important;
}

.lw-pr-step-8 .lw-step__inner .lw-step__li .lw-step__li_in *:last-child {
  margin-bottom: 0 !important;
}

.lw-pr-step-8 .lw-step__remove_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  font-size: 12px;
  color: #fff;
  background: var(--color-accent);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.lw-pr-step-8 .lw-step__add_btn {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  margin-top: 32px;
  padding: 12px 24px;
  padding: 12px 24px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}
