.post_list_related_1 {
    margin: 80px auto;
    max-width: 1200px;
    width: calc(100% - 48px);
    container-type: inline-size;
    font-size: var(--font-size-post-df_pc);
    @media (max-width: 1080px) {
        margin: 64px auto;
    }
    @container (max-width: 800px) { 
        font-size: var(--font-size-post-df_tb);
    }
    @media (max-width: 700px) {
        margin: 48px auto;
        width: calc(100% - 32px);
    }
    @container (max-width:500px) {
        font-size: var(--font-size-post-df_sp);
    }
    h2{
        margin-bottom: 1em;
        font-size: 1.8em;
        font-weight: 600;
        line-height: 1.4em;
        text-align: center;
        @container (max-width: 800px) { 
            font-size: 1.6em;
        }
        @container (max-width:500px) {
            font-size: 1.4em;
        }
    }
    .category_nav {
        .category_links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4px;
            @container (max-width: 980px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @container (max-width: 700px) {
                grid-template-columns: repeat(2, 1fr);
            }
            li {
                a {
                    padding: 0 1em;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #9f9f9f;
                    color: #393939;
                    transition: color 0.3s;
                    font-size: 16px;
                    line-height: 1.3em;
                    text-align: center;
                    @container (max-width: 1040px) {
                        font-size: 15px;
                    }
                    @media (max-width: 500px) {
                        height: 56px;
                        font-size: 13px;
                        letter-spacing: 0;
                    }
                    @media (max-width: 400px) {
                        height: 48px;
                        font-size: 12px;
                    }
                    &:hover {
                        background: var(--color-main);
                        color: #fff;
                        border: 1px solid var(--color-main);
                    }
                }
            }
        }
        + .post_list_put {
            margin-top: 40px;
            @media (max-width: 700px) {
                margin-top: 32px;
            }
        }
    }
    .post_list_put {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 24px;
        @container (max-width: 980px) {
            gap: 16px;
        }
        @container (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media (max-width: 500px) {
            gap:8px;
        }
        .post_item {
            a {
                display: grid;
                grid-template-columns: 140px calc(100% - 140px);
                background: var(--color-background-all);
                @media (max-width: 500px) {
                    grid-template-columns: 104px calc(100% - 104px);
                }
                figure,.no_image {
                    width: 100%;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s;
                    }
                }
                .no_image{
                    position: relative;
                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-top: 0.2em;
                        content: "NO IMAGE";
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.8em;
                        font-weight: 600;
                        color: #fff;
                        background: var(--color-main);
                        opacity: 0.1;
                        @media (max-width: 500px) {
                            font-size: 0.7em;
                        }
                    }
                }
                .text_in {
                    position: relative;
                    padding: 24px 20px;
                    color: var(--color-black);
                    @media (max-width: 500px) {
                        padding: 16px 12px;
                        padding-left: 14px;
                    }
                    .post_title {
                        font-size: 18px;
                        font-feature-settings: "palt";
                        line-height: 1.6em;
                        transition: color 0.3s;
                        @container (max-width: 1040px) {
                            font-size: 16px;
                        }
                        @container (max-width: 940px) {
                            font-size: 14px;
                        }
                        @container (max-width: 800px) {
                            font-size: 18px;
                        }
                        @media (max-width: 550px) {
                            font-size: 16px;
                        }
                        @media (max-width: 500px) {
                            font-size: 15px;
                        }
                        @media (max-width: 450px) {
                            font-size: 14px;
                        }
                        @media (max-width: 400px) {
                            font-size: 13px;
                        }
                        @media (max-width: 380px) {
                            font-size: 12px;
                        }
                        
                    }
                    .post_category {
                        position: absolute;
                        bottom: 24px;
                        left: 20px;
                        font-size: 14px;
                        @container (max-width: 1040px) {
                            font-size: 12px;
                        }
                        @media (max-width: 500px) {
                            margin-top:11px;
                            bottom: 16px;
                            left: 12px;
                            letter-spacing: 0;
                        }
                    }
                    .public_date {
                        position: absolute;
                        bottom: 24px;
                        right: 20px;
                        font-size: 14px;
                        color: #555;
                        @container (max-width: 1040px) {
                            font-size: 12px;
                        }
                        @media (max-width: 500px) {
                            margin-top:11px;
                            bottom: 16px;
                            right: 12px;
                            letter-spacing: 0;
                        }
                    }
                }
                &:hover {
                    figure {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    .post_title {
                        color: var(--color-red);
                    }
                }
            }
        }
    }
    .page_nation {
        margin-top: 64px;
        display: flex;
        justify-content: center;
        @media (max-width: 500px) {
            margin-top: 40px;
        }
        > ul.page-numbers {
            display: flex;
            gap: 4px;
            font-size: 16px;
            @media (max-width: 700px) {
                font-size: 14px;
            }
            @media (max-width: 600px) {
                font-size: 13px;
            }
            @media (max-width: 500px) {
                font-size: 12px;
            }
            li {
                a,
                .current,
                .dots {
                    height: 3em;
                    width: 3em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    color: #101010;
                    transition: 0.3s;
                
                    &:hover {
                        background: var(--color-red);
                        
                        color: #fff;
                        svg {
                            fill: #fff;
                        }
                        &.prev,&.next {
                            border: 1px solid var(--color-red);
                        }
                    }
                }
                .dots{
                    pointer-events: none;
                }
                .next,
                .prev,
                .current {
                    border: 1px solid var(--color-main);
                    svg {
                        margin-right: 2px;
                        width: 12px;
                        height: 12px;
                        fill: var(--color-main);
                    }
                }
                .current {
                    background: var(--color-main);
                    color: #fff;
                    pointer-events: none;
                }
                .prev {
                    margin-right: 0.8em;
                }
                .next {
                    margin-left: 0.8em;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
