.wp-block:has(.shin-gas-station-01-post-list) {
  margin: 0;
  width: 100%;
  max-width: 100%;
  .wp-block-wdl-shin-gas-station-01-post-list {
      width: 100%;
  }
  * {
      box-sizing: border-box;
      margin: 0;
      ul {
          list-style: none;
          padding: 0;
          margin: 0;
      }
  }
}

.lw_content_wrap.page {
  .wp-block-wdl-shin-gas-station-01-post-list {
      margin-left: calc((100% - 100vw) / 2);
      width: 100vw;
  }
}

.wp-block-wdl-shin-gas-station-01-post-list,
[data-type="wdl/shin-gas-station-01-post-list"] {
  position: relative;
  z-index: 10;
  margin: 108px 0;
  padding: 0 68px;
  box-sizing: border-box;
  @container (max-width:1100px) {
    padding: 0 32px;
  }
  @container (max-width:800px) {
    margin: 64px 0;
    padding: 0 24px;
  }
  @container (max-width:600px) {
    margin: 48px 0;
    padding: 0 16px;
  }
  * {
    box-sizing: border-box;
  }
  .shin-gas-station-01-post-list {
    margin: 0 auto;
    width: 100%;
    .head {
      position: relative;
      margin-right: -12px;
      padding-top: 80px;
      padding-right: 12px;
      padding-bottom: 16px;
      width: calc(100% + 12px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      @container (max-width:800px) {
        padding-top: 0;
      }
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        display: block;
        background: #ebebeb;
      }
      .sen {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        height: 2px;
        width: 200px;
        background: var(--color-main);
      }
      h2.title {
        .main {
          position: relative;
          z-index: 10;
          font-size: 32px;
          line-height: 1.5em;
          font-weight: 600;
          letter-spacing: 0.05em;
          @container (max-width:800px) {
            font-size: 28px;
          }
          @container (max-width:600px) {
            font-size: 22px;
          }
          @container (max-width:500px) {
            font-size: 20px;
          }
        }
        .sub {
          position: absolute;
          right: 0;
          bottom: -0.15em;
          line-height: 1;
          font-size: 180px;
          color: #f7fcfd;
          @container (max-width:900px) {
            font-size: 120px;
          }
          @container (max-width:800px) {
            display: none;
          }
        }
      }
      nav {
        position: relative;
        z-index: 10;
        margin-bottom: -20px;
        a,
        .a {
          display: flex;
          align-items: center;
          gap: 8px;
          .text {
            font-size: 14px;
            color: #c6c6c6;
            @container (max-width:800px) {
              font-size: 12px;
            }
          }
          svg {
            width: 40px;
            height: auto;
            transition: 0.3s;
            @container (max-width:800px) {
              width: 32px;
            }
          }
          &:hover{
            svg{
              transform: translateX(0.5em);
            }
          }
        }
      }
    }
    ul.post-list-3__wrap {
      margin: 0;
      width: 100%;
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      list-style: none;
      li {
        border-bottom: 2px solid #ebebeb;
        a {
          padding: 24px 0;
          display: grid;
          grid-template-columns: 200px calc(100% - 200px);
          color: #000;
          text-decoration: none;
          @container (max-width:800px) {
            grid-template-columns: 160px calc(100% - 160px);
          }
          @media (max-width: 500px) {
            grid-template-columns: 112px calc(100% - 112px);
          }
          figure {
            margin: 0;
            width: 100%;
            aspect-ratio: 200 / 150;
            border-radius: 20px;
            overflow: hidden;
            @media (max-width: 500px) {
              border-radius: 16px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.6s;
            }
          }
          .in {
            padding: 12px 0 0 24px;
            overflow: hidden;
            @media (max-width: 400px) {
              padding: 12px;
              padding-bottom: 0;
            }
            .data {
              display: flex;
              align-items: center;
              gap: 32px;
              @container (max-width:600px) {
                gap: 16px;
              }
              .cat {
                font-size: 14px;
                line-height: 1.2em;
                color: var(color-main);
                border-radius: 2px;
                transition: 0.3s;
                letter-spacing: 0;
                text-transform: capitalize;
                @container (max-width:600px) {
                  font-size: 11px;
                  line-height: 1;
                }
              }
              .date {
                font-size: 14px;
                opacity: 0.6;
                line-height: 1;
                font-weight: 400;
                color: #c6c6c6;
                @container (max-width:600px) {
                  font-size: 12px;
                }
              }
            }
            h3 {
              margin-top: 16px;
              line-height: 1.7em;
              font-size: 24px;
              font-feature-settings: "palt";
              transition: 0.6s;
              letter-spacing: 0.08em;
              @container (max-width:900px) {
                margin-top: 12px;
                font-size: 20px;
              }
              @container (max-width:800px) {
                margin-top: 8px;
                font-size: 18px;
              }
              @media (max-width: 450px) {
                margin-top: 8px;
                font-size: 14px;
              }
            }
            p {
              margin: 0;
              line-height: 1.6em;
              font-size: 12px;
              transition: 0.6s;
              @container (max-width:600px) {
                font-size: 12px;
              }
              @container (max-width:400px) {
                font-size: 11px;
              }
            }
          }
          &:hover {
            opacity: 1;
            img {
              transform: scale(1.1);
            }
            h3,
            p {
              opacity: 0.6;
              color: var(--color-accent);
            }
          }
        }
      }
    }
  }
}
