.lw_content_wrap.page .wp-block-wdl-lw-page-list-1 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.wp-block-wdl-lw-page-list-1, [data-type="wdl/lw-page-list-1"] {
  margin: 32px 0;
  padding: 0 24px;
}

@container (max-width:550px) {
  .wp-block-wdl-lw-page-list-1, [data-type="wdl/lw-page-list-1"] {
    margin: 24px 0;
    padding: 0 24px;
  }
}

.wp-block-wdl-lw-page-list-1 *, [data-type="wdl/lw-page-list-1"] * {
  box-sizing: border-box;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 {
  margin: 0 auto;
  max-width: calc(var(--max-width-clm-1) - 80px);
  width: 100%;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap {
  margin: 0;
  width: 100%;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 40px;
}

@container (max-width:1050px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap {
    gap: 32px;
  }
}

@container (max-width:950px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap {
    gap: 24px;
  }
}

@container (max-width:800px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (max-width:550px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li {
  background: #fff;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a {
  color: #000;
  text-decoration: none;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a figure, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a figure {
  margin: 0;
  width: 100%;
  aspect-ratio: 16 / 11;
  overflow: hidden;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a figure img, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_2, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_2 {
  padding: 8%;
  padding-bottom: 0;
  background: #f0f0f0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_2 img, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_2 img {
  height: auto;
  object-fit: contain;
  object-position: top center;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_3, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a figure.ptn_3 {
  padding: 8%;
  background: #f0f0f0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in {
  @container (max-width:800px) {}
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in .data, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in .data {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in .data .cat, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in .data .cat {
  padding: 6px 8px;
  font-size: 11px;
  line-height: 1.5em;
  color: #fff;
  border-radius: 2px;
  transition: 0.3s;
  letter-spacing: 0;
  border-width: 1px;
  border-style: solid;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in .data .date, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in .data .date {
  font-size: 14px;
  opacity: 0.6;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in .data:has(.date) + h3, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in .data:has(.date) + h3 {
  margin-top: 8px;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in h3, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in h3 {
  margin: 0 0 8px 0;
  line-height: 1.7em;
  font-size: 17px;
  font-feature-settings: "palt";
  transition: 0.6s;
}

@container (max-width:980px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in h3, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in h3 {
    font-size: 16px;
  }
}

@container (max-width:600px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in h3, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in h3 {
    font-size: 15px;
  }
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in p, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in p {
  margin: 0;
  line-height: 1.6em;
  font-size: 14px;
  transition: 0.6s;
}

@container (max-width:600px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in p, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in p {
    font-size: 12px;
  }
}

@container (max-width:400px) {
  .wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a .in p, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a .in p {
    font-size: 11px;
  }
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a:hover, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a:hover {
  opacity: 1;
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a:hover img, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a:hover img {
  transform: scale(1.1);
}

.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a:hover h3,
.wp-block-wdl-lw-page-list-1 .lw_page-list-1 ul.page-list-1__wrap li a:hover p, [data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a:hover h3,
[data-type="wdl/lw-page-list-1"] .lw_page-list-1 ul.page-list-1__wrap li a:hover p {
  color: var(--color-accent);
}

.wp-block-wdl-lw-page-list-1 .page-list-1__load-more, [data-type="wdl/lw-page-list-1"] .page-list-1__load-more {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 24px;
}
