.header_ptn_5 {
    position: relative;
    z-index: 100;
    .inner{
        position: relative;
        z-index: 40;
        padding: 20px 48px;
        min-height: 90px;
        background: #fff;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        @media (max-width: 1180px) {
            padding: 12px 44px;
            min-height: 80px;
        }
        @media (max-width: 1080px) {
            padding: 12px 32px;
            min-height: 72px;
        }
        @media (max-width: 800px) {
            padding: 12px 24px;
        }
        @media (max-width: 500px) {
            min-height: 64px;
            padding: 0 16px;
        }
        .logo {
            a {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 24px;
                span{
                    white-space: nowrap;
                }
                img {
                    width: auto;
                    object-fit: contain;
                }
            }
        }
        .explanation.pc{
            max-width: 560px;
            font-size: 14px;
            line-height: 1.5em;
            @media (max-width: 1180px) {
                max-width: 480px;
               font-size: 12px;
            }
            @media (max-width: 1080px) {
                display: none;
            }
        }
        .explanation.sp{
            position: absolute;
            top: 0;
            right: 100px;
            z-index: 10;
            padding: 4px 24px 16px 24px;
            display: none;
            color: #fff;
            line-height: 1.6em;
            font-size: 14px;
            text-align: center;
            @media (max-width: 1080px) {
                display: block;
            }
            @media (max-width: 700px) {
                right: 80px;
                font-size: 12px;
            }
            @media (max-width: 500px) {
                right: 64px;
                font-size: 11px;
            }
            &::after{
                position: absolute;
                bottom: 5%;
                left: 0;
                z-index: -1;
                content: '';
                display: block;
                width: 100%;
                aspect-ratio: 400 / 330;
                background: var(--color-main);
                border-radius: 50%;
            }
        }
    }
    .header_nav {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        // background: rgba(112, 161, 13, 0.133);
        @media (max-width: 1080px) {
            display: none;
        }
        >div{
            height: 100%;
        }
    }
    .header_menu_pc,
    .header_nav > .menu > ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: calc(var(--font-size-post-df_pc) - 1px);
        @media (max-width: 1180px) {
            font-size: calc(var(--font-size-post-df_pc) - 2px);
        }
        > li {
            position: relative;
            height: 100%;
            > a {
                position: relative;
                padding: 0 1.8em;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #111;
                transition: 0.4s;
                white-space: nowrap;
                transition: color 0.4s;
                @media (max-width: 1240px) {
                    padding: 0 1.4em;
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0;
                    height: 4px;
                    content: "";
                    display: block;
                    background: var(--color-accent);
                    opacity: 0;
                    transition: 0.4s;
                }
                &:hover{
                    color: var(--color-accent);
                    &::after{
                        opacity: 1;
                        width: calc(100% - 3em);
                    }
                }
            }
        }
    }
    .header_nav_sub{
        padding: 6px;
        background: var(--color-main);
        @media (max-width: 1080px) {
            padding: 5px;
        }
        @media (max-width: 750px) {
            padding: 0;
            background: none !important;
        }
        &.sp_only{
            display: none;
            @media (max-width: 1080px) {
                display: block;
            }
        }
        &.pc_only{
            display: block;
            @media (max-width: 1080px) {
                display: none;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            gap:6px;
            @media (max-width: 1080px) {
                gap:5px;
            }
            @media (max-width: 750px) {
                gap:3px;
            }
            &:has(.icon){
                li{
                    a{
                        @media (max-width: 750px) {
                            min-height: 76px;
                        }
                        @media (max-width: 650px) {
                            min-height: 68px;
                        }
                        @media (max-width: 500px) {
                            min-height: 64px;
                        }
                    }
                }
            }
            li{
                @media (max-width: 750px) {
                    flex:1;
                }
                &:nth-of-type(even){
                    a{
                        &::after{
                            background: var(--color-accent);
                        }
                    }
                }
                a{
                    position: relative;
                    z-index: 10;
                    padding: 16px;
                    min-width: 190px;
                    min-height: 56px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    gap:6px;
                    background: #fff;
                    font-size: 16px;
                    border-radius: 4px;
                    color: var(--color-black);
                    transition: opacity 0.4s;
                    @media (max-width: 1080px) {
                        min-width: 170px;
                        font-size: 14px;
                    }
                    @media (max-width: 750px) {
                        min-width: initial;
                    }
                    @media (max-width: 650px) {
                        padding: 12px 4px;
                        font-size: 12px;
                    }
                    @media (max-width: 500px) {
                        letter-spacing: 0;
                        font-size: 10px;
                    }
                    &::after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        content: '';
                        display: none;
                        background: var(--color-main);
                        opacity: .1;
                        @media (max-width: 750px) {
                            display: block;
                        }
                    }
                    .icon{
                        width: 24px;
                        height: 24px;
                        svg{
                            width: 100%;
                            height: 100%;
                            fill:var(--color-main);
                            @media (max-width: 750px) {
                                fill:var(--color-black)
                            }
                            path{
                                fill:var(--color-main);
                                @media (max-width: 750px) {
                                    fill:var(--color-black)
                                }
                            }
                        }
                    }
                    .text{
                        @media (max-width: 750px) {
                            width: 100%;
                            text-align: center;
                        }
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .ham_btn {
        position: absolute;
        top: 0;
        right: 8px;
        z-index: 100;
        margin: auto;
        height: 100%;
        aspect-ratio: 1;
        display: none;
        cursor: pointer;
        @media (max-width: 1080px) {
            display: block;
        }
        @media (max-width: 500px) {
            right: 0;
        }
        &.active {
            div {
                &:nth-of-type(1) {
                    transform: translateY(0) rotate(45deg);
                }
                &:nth-of-type(2) {
                    right: -16px;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
        div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 2px;
            width: 50%;
            background: var(--color-black);
            transition: all 0.6s;
            border-radius: 40px;
            &:nth-of-type(1) {
                transform: translateY(-8px);
                @media (max-width: 500px) {
                    transform: translateY(-8px);
                }
            }
            &:nth-of-type(2) {
                transform: translateY(0);
            }
            &:nth-of-type(3) {
                transform: translateY(8px);
                @media (max-width: 500px) {
                    transform: translateY(8px);
                }
            }
        }
    }
}
