.lw-pr-comment-3 {
    margin: 32px 0;
    .lw-pr-comment-3__wrap {
        margin: 80px auto;
        max-width: 980px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: end;
        &.sp_clm_1 {
            .lw-pr-comment-3__text {
                @media (max-width: 600px) {
                    width: 100%;
                }
                .lw-pr-comment-3__text_arrow {
                    @media (max-width: 600px) {
                        right: 20% !important;
                        bottom: -9px !important;
                        transform: rotate(135deg) !important;
                    }
                }
            }
            .lw-pr-comment-3__image {
                @media (max-width: 600px) {
                    margin-top: -16px;
                    width: 100%;
                    display: flex;
                    justify-content: end;

                }
            }
        }
        .lw-pr-comment-3__text {
            width: calc(100% - var(--comment-3-image-width-pc) - 32px);
            @media (max-width: 900px) {
                width: calc(100% - var(--comment-3-image-width-sp) - 20px);
            }

            * {
                margin: 0;
            }
            .lw-pr-comment-3__text_inner {
                position: relative;
                z-index: 10;
                padding: 24px;
                border: 2px solid var(--comment-3-text-bd-color-pc);
                background: var(--comment-3-text-inner-bg);
                display: grid;
                gap: 8px 0;
                border-radius: 8px;
                @media (max-width: 900px) {
                    border-width: 1px;
                }
                @media (max-width: 600px) {
                    padding: 16px;
                }
                .lw-pr-comment-3__text_arrow {
                    position: absolute;
                    top: 32px;
                    bottom: 0;
                    right: -16px;
                    margin: auto;
                    width: 32px;
                    height: 32px;
                    background: var(--comment-3-text-inner-bg);
                    transform: rotate(45deg);
                    border-top: 2px solid var(--comment-3-text-bd-color-pc);
                    border-right: 2px solid var(--comment-3-text-bd-color-pc);
                    @media (max-width: 900px) {
                        top: auto;
                        right: -9px;
                        bottom: 32px;
                        border-width: 1px;
                        width: 24px;
                        height: 24px;
                    }
                    &::after {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 5px;
                        margin: auto;
                        height: 200%;
                        width: 10px;
                        display: block;
                        content: "";
                        background: var(--comment-3-text-inner-bg);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .lw-pr-comment-3__image {
            width: var(--comment-3-image-width-pc);
            @media (max-width: 900px) {
                width: var(--comment-3-image-width-sp);
            }
            img {
                width: var(--comment-3-image-width-pc);
                height: auto;
                transform: translateY(32px);
                @media (max-width: 900px) {
                    width: var(--comment-3-image-width-sp);
                }
            }
        }
    }
}
