.header_menu_pc,
.header_nav > .menu > ul {
    > li {
        position: relative;
        &:hover {
            > ul {
                display: block;
            }
        }
        &:nth-last-of-type(2),
        &:nth-last-of-type(3) {
            > ul {
                ul {
                    padding: 0;
                    left: initial;
                    right: 100%;
                }
            }
        }
        ul {
            background: var(--color-main);
            a {
                color: #fff;
                &:hover {
                    color: #fff;
                    background-color: var(--color-accent);
                }
            }
        }
        > ul {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 10;
            margin: auto;
            min-width: 16.75em;
            font-size: 0.94em;
            display: none;
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
            li {
                position: relative;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                &:last-of-type {
                    border: none;
                }

                a {
                    padding: 1.2em 1.5em;
                    display: flex;
                    font-weight: 400;
                    line-height: 1.4em;
                    overflow: hidden; /* 内容が突き抜けないように隠す */
                    text-overflow: ellipsis; /* 内容が長すぎる場合に「…」を表示 */
                }
                &:hover {
                    > ul {
                        display: block;
                    }
                }
                > ul {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 10;
                    display: none;
                    min-width: 15.75em;
                    box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        display: block;
                        content: "";
                    }
                }
            }
        }
    }
}
