.lw-company-1 {
  margin: 40px 0;
  @container (max-width:800px) {
    margin: 32px 0;
  }
  .lw-company-1__inner {
    margin: 0 auto;
    dl {
      position: relative;
      margin: 0;
      display: grid;
      grid-template-columns: 168px calc(100% - 168px);
      @container (max-width:800px) {
        grid-template-columns: 148px calc(100% - 148px);
      }
      @container (max-width:500px) {
        grid-template-columns: 120px calc(100% - 120px);
      }
      &:first-of-type {
        dt,
        dd {
          padding-top: 0;
        }
      }
      &:last-of-type {
        dt,
        dd {
          padding-bottom: 0;
        }
      }
      &.dt_width_l {
        grid-template-columns: 188px calc(100% - 188px);
        @container (max-width:800px) {
          grid-template-columns: 168px calc(100% - 168px);
        }
        @container (max-width:500px) {
          grid-template-columns: 144px calc(100% - 144px);
        }
      }
      &.dt_width_s {
        grid-template-columns: 120px calc(100% - 120px);
        @container (max-width:800px) {
          grid-template-columns: 108px calc(100% - 108px);
        }
        @container (max-width:500px) {
          grid-template-columns: 96px calc(100% - 96px);
        }
      }
      &.font_size_l {
        font-size: 20px;
        @container (max-width:800px) {
          font-size: 18px;
        }
        @container (max-width:500px) {
          font-size: 16px;
        }
      }
      &.font_size_m {
        @container (max-width:500px) {
          font-size: 14px;
        }
      }
      &.font_size_s {
        font-size: 15px;
        @container (max-width:800px) {
          font-size: 13px;
        }
        @container (max-width:500px) {
          font-size: 11px;
        }
      }
      &.sp_clm_1,
      &.dt_sp_full {
        @container (max-width:600px) {
          grid-template-columns: 1fr;
          dt {
            padding: 0;
            padding-top: 0.7em;
          }
          dd {
            padding: 0.3em 0 0.7em 0;
            border: none;
            border-bottom: 1px solid #000;
          }
          &:first-of-type {
            dt {
              padding-top: 0;
            }
          }
          &:last-of-type {
            dd {
              padding-bottom: 0;
              border-bottom: none;
            }
          }
        }
      }
      dt,
      dd {
        position: relative;
        margin-inline-start: 0;
        margin: 0;
        padding: 16px 0;
        line-height: 1.6em;
        @container (max-width:500px) {
          letter-spacing: 0;
        }
        a {
          color: var(--color-black);
          text-decoration: underline;
          &:hover {
            color: var(--color-red) !important;
          }
          &:visited {
            color: var(--color-black);
          }
        }
      }
      dd {
        padding-left: 40px;
        border-left: 1px solid #ddd;
        @container (max-width:1000px) {
          padding-left: 32px;
        }
        @container (max-width:800px) {
          padding-left: 24px;
        }
        @container (max-width:500px) {
          padding-left: 16px;
        }
      }
    }
  }
  .lw-company-1__remove_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    font-size: 12px;
    color: #fff !important;
    background: var(--color-accent);
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .lw-company-1__add_btn {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: 32px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
}
