.lw_content_wrap.page {
  .paid-block-voice-2 {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
  &:has(.first_content + .paid-block-voice-2) {
    .first_content {
      display: none;
    }
  }
  &:has(.paid-block-voice-2 + .last_content) {
    .last_content {
      display: none;
    }
  }
}
.lw_content_wrap.single {
    .paid-block-voice-2 {
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        @container (max-width: 800px) {
            margin-left: -32px;
            margin-right: -32px;
            width: calc(100% + 64px);
        }
        @container (max-width:600px) {
            margin-left: -24px;
            margin-right: -24px;
            width: calc(100% + 48px);
        }
        @container (max-width:500px) {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
        }
    }
}
.wp-block {
  &:has(.paid-block-voice-2) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.paid-block-voice-2 {
  container-type: inline-size;
  position: relative;
  z-index: 10;
  padding: 80px 24px;
  box-sizing: border-box;
  @container (max-width: 600px) {
    padding: 48px 16px 24px 16px;
  }
  * {
    box-sizing: border-box;
  }
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .paid-block-voice-2__wrap {
    margin: 0 auto;
    max-width: 1080px;
    h2.ttl {
      text-align: center;
      color: #fff;
      span {
        display: block;
        &.main {
          font-size: 40px;
          line-height: 1.4em;
          @container (max-width: 1080px) {
            font-size: 32px;
          }
          @container (max-width: 600px) {
            font-size: 24px;
          }
          @container (max-width: 500px) {
            font-size: 22px;
          }
        }
        &.sub {
          font-size: 18px;
          margin-top: 10px;
          @container (max-width: 1080px) {
            font-size: 16px;
          }
          @container (max-width: 600px) {
            font-size: 14px;
          }
          @container (max-width: 500px) {
            font-size: 12px;
          }
        }
      }
    }
    p.explanation {
      text-align: center;
      color: #fff;
      font-size: 16px;
      margin-top: 20px;
      line-height: 2;
    }
    .voice_list {
      margin: 0 auto;
      margin-top: 40px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      @container (max-width:950px) {
        max-width: 540px;
        grid-template-columns: 1fr;
      }
      @container (max-width: 700px) {
       margin-top: 24px;
      }
      @container (max-width: 500px) {
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 16px;
      }
      li {
        padding: 32px 24px 32px 32px;
        display: grid;
        grid-template-columns: 40% 60%;
        background: #fff;
        border-radius: 0 50px 0 50px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        @container (max-width: 500px) {
          padding: 20px 16px 20px 20px;
          grid-template-columns: 35% 65%;
        }
        .image {
          padding-right: 32px;
          width: 100%;
          height: 100%;

          border-right: 1px solid #000;
          @container (max-width: 500px) {
            padding-right: 20px;
          }
          .in {
            position: relative;
            z-index: 10;

            aspect-ratio: 1/1.3;
            img {
              border-radius: 100px 100px 0 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .thanks {
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 10;
              transform: rotate(-21deg);
            }
            &:has(.components-button) {
              .thanks {
                bottom: 40px;
              }
              .components-button {
                margin-top: 4px;
              }
            }
          }
        }
        .text_in {
          padding: 4px 0;
          padding-left: 16px;
          h3.name {
            .sub {
              margin-bottom: 6px;
              display: block;
              font-size: 14px;
              line-height: 1.5em;
              @container (max-width: 500px) {
                font-size: 12px;
              }
            }
            .main {
              display: block;
              .big {
                margin-right: 2px;
                min-width: 1em;
                display: inline-block;
                font-size: 22px;
                line-height: 1.5em;
                @container (max-width: 500px) {
                  font-size: 20px;
                }
              }
              .small {
                display: inline-block;
                font-size: 13px;
                line-height: 1.5em;
                @container (max-width: 500px) {
                  font-size: 11px;
                }
              }
            }
          }
          p.comment {
            margin-top: 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.8em;
            @container (max-width: 500px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
