.lw-list-3 {
  margin: 24px 0;
  ul.lw-list-3__inner{
    position: relative;
    z-index: 10;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:16px;
    list-style: none;
    @container (max-width:750px) {
      grid-template-columns: repeat(1 , 1fr);
      gap:8px;
    }
    li.lw-list-3__li{
      position: relative;
      padding: 18px;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 8px;
      border: 1px solid var(--color-main);
      @container (max-width:750px) {
        padding: 16px;
      }
      .icon{
        width: 1.2em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          width: 1.2em;
          height: 1.2em;
        }
      }
      .lw-list-3__text{
        padding-left: 12px;
        width:calc(100% - 1.2em);
        p{
          margin: 0;
          color: #333;
          line-height: 1.6em;
          @container (max-width:550px) {
            font-size: 14px;
          }
          >a{
            color: #333;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
              color: var(--color-accent);
            }
          }
        }
      }
    }
  }
  .lw-list-3__remove_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    font-size: 12px;
    color: #fff;
    background: var(--color-accent);
    border: none;
    border-radius: 2px;
  }
  .lw-list-3__add_btn{
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: 32px;
    padding: 12px 24px;
    padding: 12px 24px;
    width: 200px;
    font-size: 16px;
  }
}
