.lw_content_wrap:has(.first_content + .wp-block-wdl-lw-gallery-02) .first_content {
  display: none;
}

.lw_content_wrap.page:has([class*="fv-"] + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
  margin-top: 16px;
}

@container (max-width: 1100px) {
  .lw_content_wrap.page:has([class*="fv-"] + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
    margin-top: 8px;
    scroll-padding-left: 8px;
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
}

@container (max-width: 750px) {
  .lw_content_wrap.page .lw-gallery-02 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@container (max-width: 800px) {
  .lw_content_wrap.single .lw-gallery-02 {
    margin-left: -32px;
    margin-right: -32px;
    scroll-padding-left: 32px;
    width: calc(100% + 64px);
  }
}

@container (max-width: 600px) {
  .lw_content_wrap.single .lw-gallery-02 {
    margin-left: -24px;
    margin-right: -24px;
    scroll-padding-left: 16px;
    width: calc(100% + 48px);
  }
}

@media (max-width: 500px) {
  .lw_content_wrap.single .lw-gallery-02 {
    scroll-padding-left: 20px;
    margin-left: calc((100% - 100vw) / 2);
    margin-right: 0;
    width: 100vw;
  }
}

.lw_content_wrap.single:has(.first_content + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
  margin-top: 16px;
  margin-left: -24px;
  margin-right: -24px;
}

@container (max-width: 800px) {
  .lw_content_wrap.single:has(.first_content + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
    margin-top: 8px;
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
    scroll-padding-left: 0;
  }
}

@container (max-width: 600px) {
  .lw_content_wrap.single:has(.first_content + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
    margin-left: -16px;
    margin-right: -16px;
    scroll-padding-left: 0;
    width: calc(100% + 32px);
  }
}

@media (max-width: 500px) {
  .lw_content_wrap.single:has(.first_content + .wp-block-wdl-lw-gallery-02) .lw-gallery-02 {
    margin-left: calc((100% - 100vw) / 2);
    margin-right: 0;
    width: 100vw;
    scroll-padding-left: 8px;
  }
}

.lw-gallery-02 {
  margin: 32px 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

@media (max-width: 500px) {
  .lw-gallery-02 {
    scroll-padding-left: 24px;
    margin-left: calc((100% - 100vw) / 2);
    margin-right: 0;
    width: 100vw;
  }
}

.lw-gallery-02 > ul {
  padding: 0;
  display: flex;
  gap: 8px;
  scroll-snap-points-x: repeat(100%);
  list-style: none;
  max-height: 200px;
}

@container (max-width: 1100px) {
  .lw-gallery-02 > ul {
    padding: 0 24px;
  }
}

@media (max-width: 500px) {
  .lw-gallery-02 > ul {
    padding: 0 20px;
  }
}

.lw-gallery-02 > ul.img_1 {
  width: 100%;
}

.lw-gallery-02 > ul.img_2 {
  width: calc((100% / 2) * 2);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_2 {
    width: calc((100% / 2) * 2);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_2 {
    width: calc((100% / 2) * 2);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_2 {
    width: calc((100% / 1.3) * 2);
  }
}

.lw-gallery-02 > ul.img_3 {
  width: calc((100% / 3) * 3);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_3 {
    width: calc((100% / 3) * 3);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_3 {
    width: calc((100% / 2.5) * 3);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_3 {
    width: calc((100% / 1.5) * 3);
  }
}

.lw-gallery-02 > ul.img_4 {
  width: calc((100% / 4) * 4);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_4 {
    width: calc((100% / 3.5) * 4);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_4 {
    width: calc((100% / 2.5) * 4);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_4 {
    width: calc((100% / 1.5) * 4);
  }
}

.lw-gallery-02 > ul.img_5 {
  width: calc((100% / 4) * 5);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_5 {
    width: calc((100% / 3) * 5);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_5 {
    width: calc((100% / 2.5) * 5);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_5 {
    width: calc((100% / 1.5) * 5);
  }
}

.lw-gallery-02 > ul.img_6 {
  width: calc((100% / 4) * 6);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_6 {
    width: calc((100% / 3) * 6);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_6 {
    width: calc((100% / 2.5) * 6);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_6 {
    width: calc((100% / 1.5) * 6);
  }
}

.lw-gallery-02 > ul.img_7 {
  width: calc((100% / 4) * 7);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_7 {
    width: calc((100% / 3) * 7);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_7 {
    width: calc((100% / 2.5) * 7);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_7 {
    width: calc((100% / 1.5) * 7);
  }
}

.lw-gallery-02 > ul.img_8 {
  width: calc((100% / 4) * 8);
}

@container (max-width: 1000px) {
  .lw-gallery-02 > ul.img_8 {
    width: calc((100% / 3) * 8);
  }
}

@container (max-width: 750px) {
  .lw-gallery-02 > ul.img_8 {
    width: calc((100% / 2.5) * 8);
  }
}

@container (max-width: 550px) {
  .lw-gallery-02 > ul.img_8 {
    width: calc((100% / 1.5) * 8);
  }
}

.lw-gallery-02 > ul li {
  width: 100%;
  aspect-ratio: 16 / 10;
  scroll-snap-align: start;
}

.lw-gallery-02 > ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
