
.wp-block{
    &:has(.fv-3){
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.fv-3 {
    min-height: 100px;
    background: #ccc;
    h1{
        width: 100%;
    }
    .image {
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
}