.lw-list-1 {
  margin: 40px 0;
  @container (max-width:850px) {
    margin: 32px 0;
  }
  @container (max-width:550px) {
    margin: 24px 0;
  }
  *{
    box-sizing: border-box;
  }
  .lw-list-1_inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:16px;
    .lw-list-1_content{
      min-height: 112px;
      display: grid;
      grid-template-columns: 112px calc(100% - 112px);
      border: 1px solid #000;
      box-sizing: border-box;
      .no{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 28px;
      }
      .lw-list-1_text{
        padding: 0 24px 16px 24px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1.5em;
        
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
