.paid-block-custom-title-10 {
  margin: 1em 0;
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  > h2.ttl,
  > h3.ttl,
  > h4.ttl,
  > h5.ttl,
  > h6.ttl {
    position: relative;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 500;
    &.w_100 {
      width: 100%;
    }
  }
  &.size_l h2,
  &.size_l h3,
  &.size_l h4,
  &.size_l h5,
  &.size_l h6 {
    font-size: 40px;
    @container (max-width:800px) {
      font-size: 32px;
    }
    @container (max-width:500px) {
      font-size: 26px;
    }
  }
  &.size_m h2,
  &.size_m h3,
  &.size_m h4,
  &.size_m h5,
  &.size_m h6 {
    font-size: 32px;
    @container (max-width:800px) {
      font-size: 26px;
    }
    @container (max-width:500px) {
      font-size: 22px;
    }
  }
  &.size_s h2,
  &.size_s h3,
  &.size_s h4,
  &.size_s h5,
  &.size_s h6 {
    font-size: 28px;
    @container (max-width:800px) {
      font-size: 22px;
    }
    @container (max-width:500px) {
      font-size: 20px;
    }
  }
  &.position_left {
    justify-content: start;
    text-align: left;
  }
  &.position_center {
    justify-content: center;
    text-align: center;
    > h2.ttl,
    > h3.ttl,
    > h4.ttl,
    > h5.ttl,
    > h6.ttl {
      justify-content: center;
      text-align: center;
    }
  }
  &.position_right {
    justify-content: end;
    text-align: right;
    > h2.ttl,
    > h3.ttl,
    > h4.ttl,
    > h5.ttl,
    > h6.ttl {
      justify-content: end;
      text-align: right;
    }
    .border_inner {
      flex-direction: row-reverse;
    }
  }
  .image_left,
  .image_right {
    margin: 4px 0;
    img {
      height: 100%;
      width: auto;
    }
  }
  .text_wrap {
    .sub {
      margin-bottom: -0.1em;
      width: 100%;
      display: block;
      font-size: 0.4em;
      line-height: 1.5em;
      font-feature-settings: "palt";
    }
    .main {
      width: 100%;
      display: block;
      font-size: 1em;
      letter-spacing: 0.05em;
      line-height: 1.3em;
      font-feature-settings: "palt";
    }
  }
  .bd {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: 2px;
    background: var(--color-main);
  }
}

.post_style {
  .paid-block-custom-title-9 {
    .main {
      &:empty {
        display: none;
      }
    }
    .sub {
      &:empty {
        display: none;
      }
    }
  }
}
