.wp-block {
  &:has(.shin-gas-station-01-cta) {
    width: 100%;
    box-sizing: border-box;
  }
}
.shin-gas-station-01-cta {
  position: relative;
  z-index: 10;
  margin-top: 80px;
  margin-bottom: 80px;
  @container (max-width:600px) {
    margin: 48px -8px;
    width: calc(100% + 16px);
  }
  & + .last_content{
    display: none;
  }
  .shin-gas-station-01-cta__inner {
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    @container (max-width:800px) {
      padding: 40px 32px;
    }

    @container (max-width:400px) {
      padding: 40px 20px;
    }
    .shin-gas-station-01-cta__title {
      width: 100%;
      .main {
        width: 100%;
        display: block;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        line-height: 1.5em;
        font-feature-settings: "palt";
        @container (max-width:800px) {
          font-size: 28px;
        }
        @container (max-width:500px) {
          font-size: 24px;
        }
        &:empty {
          display: none;
        }
      }
      .sub {
        margin-top: 8px;
        width: 100%;
        display: block;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        line-height: 1.5em;
        font-feature-settings: "palt";
        @container (max-width:600px) {
          font-size: 12px;
        }
        &:empty {
          display: none;
        }
      }
    }
    .shin-gas-station-01-cta__text {
      margin: 1.5em auto;
      width: 100%;
      text-align: center;
      color: #fff;
      line-height: 2em;
      font-size: 16px;
      @container (max-width:800px) {
        font-size: 14px;
      }
      &.text_align_pc_left {
        text-align: left;
      }
      &.text_align_sp_left {
        @media screen and (max-width: 600px) {
          margin-top: 1em;
          text-align: left;
        }
      }
    }
    .shin-gas-station-01-cta__button {
      margin-top: 12px;
      padding: 0.13em 2em;
      min-width: 140px;
      min-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3em;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      transition: opacity 0.3s;
      transition:color .3s,background-color .3s;
      @container (max-width:600px) {
        margin-top: 8px;
      }
    }
  }
  .shin-gas-station-01-cta__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
    @container (max-width:600px) {
      border-radius: 48px 48px 48px 0;
    }
    @container (max-width:500px) {
      border-radius: 40px 40px 40px 0;
    }
    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    > div {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      mix-blend-mode: multiply;
    }
  }
}
