.wp-block:has(.shin-gas-station-01-list-2) {
    margin: 0;
    width: 100%;
    max-width: 100%;
    .shin-gas-station-01-list-2 {
        width: 100%;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

.lw_content_wrap.page {
    .shin-gas-station-01-list-2 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
}

.shin-gas-station-01-list-2 {
    position: relative;
    z-index: 10;
    padding-top: 160px;
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
    @media (max-width: 1000px) {
        padding-top: 120px;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        max-height: 1300px;
        img {
            width: 100%;
            height: 100%;
        }
        .filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    h2.ttl {
        color: #fff;
        text-align: right;
        .sub {
            position: relative;
            z-index: 10;
            padding-right: 68px;
            font-size: 32px;
            display: block;
            line-height: 1.4em;
            letter-spacing: 0.04em;
            @media (max-width: 1000px) {
                padding-right: 32px;
                font-size: 24px;
            }
            @media (max-width: 650px) {
                padding-right: 24px;
                font-size: 20px;
            }
            @media (max-width: 450px) {
                font-size: 16px;
            }
        }
        .main {
            margin-bottom: -0.1em;
            font-size: 200px;
            display: block;
            line-height: 0.9;
            letter-spacing: 0.015em;
            @media (max-width: 1300px) {
                font-size: 160px;
            }
            @media (max-width: 1000px) {
                font-size: 120px;
            }
            @media (max-width: 800px) {
                font-size: 100px;
            }
            @media (max-width: 650px) {
                font-size: 15vw;
            }
        }
    }
    ul.list {
        margin-left: auto;
        padding: 64px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
        background: #fff;
        border-radius: 160px 0 0 0;
        @media (max-width: 1300px) {
            width: 90%;
        }
        @media (max-width: 1000px) {
            width: 80%;
            grid-template-columns: repeat(1, 1fr);
        }
        @media (max-width: 800px) {
            width: 90%;
        }
        @media (max-width: 550px) {
            padding: 48px;
            width: calc(100% - 32px);
            border-radius: 130px 0 0 0;
        }
        @media (max-width: 450px) {
            padding: 40px;
            width: calc(100% - 24px);
        }
        @media (max-width: 400px) {
            padding: 32px;
            padding-right: 24px;
            border-radius: 120px 0 0 0;
        }
        li.item {
            position: relative;
            z-index: 10;
            &:first-of-type {
                grid-column: span 2;
                display: flex;
                flex-wrap: wrap;
                gap: 64px;
                @media (max-width: 1000px) {
                    grid-column: initial;
                    display: block;
                }
                .image,
                .text_in {
                    flex: 1;
                }
                .text_in{
                    padding-top: 36px;
                    @media (max-width: 1000px) {
                        padding-top: 20px;
                    }
                }
            }
            .image {
                width: 100%;

                border-radius: 80px 0 0 0;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 16 / 11.5;
                    + .image_upload{
                        margin-top: 12px;
                    }
                }
                .image_upload{
                    margin-top: 32px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    button{
                        margin-top: 0 !important;
                    }
                }
            }
            .text_in {
                padding-top: 20px;
                h3.ttl {
                    span.sub {
                        display: flex;
                        align-items: center;
                        color: #c6c6c6;
                        font-size: 14px;
                        font-weight: 500;
                        .no {
                            margin-top: -0.2em;
                            margin-right: 0.2em;
                            font-size: 24px;
                        }
                    }
                    span.main {
                        margin-top: 0.4em;
                        display: block;
                        font-size: 24px;
                        @media (max-width: 500px) {
                            font-size: 20px;
                        }
                        &:empty {
                            display: none;
                        }
                    }
                }
                p {
                    margin: 1em 0;
                    font-size: 16px;
                    line-height: 2;
                    @media (max-width: 500px) {
                        font-size: 14px;
                    }
                    &:empty {
                        display: none;
                    }
                }
                .btn {
                    display: flex;
                    align-items: center;
                    color: #c6c6c6;
                    font-size: 14px;
                    svg {
                        margin-left: 0.5em;
                        transition: .3s;
                    }
                    &:empty {
                        display: none;
                    }
                    &:hover{
                        svg{
                            transform: translateX(0.5em);
                        }
                    }
                }
            }
            .delete_item_btn {
                display: flex;
                justify-content: end;
                width: 100%;
            }
        }
    }
}
