.wp-block:has(.shin-gas-station-01-list-2) {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.wp-block:has(.shin-gas-station-01-list-2) .shin-gas-station-01-list-2 {
  width: 100%;
}

.wp-block:has(.shin-gas-station-01-list-2) * {
  box-sizing: border-box;
  margin: 0;
}

.wp-block:has(.shin-gas-station-01-list-2) * ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lw_content_wrap.page .shin-gas-station-01-list-2 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.shin-gas-station-01-list-2 {
  position: relative;
  z-index: 10;
  padding-top: 160px;
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 {
    padding-top: 120px;
  }
}

.shin-gas-station-01-list-2 .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  max-height: 1300px;
}

.shin-gas-station-01-list-2 .bg_image img {
  width: 100%;
  height: 100%;
}

.shin-gas-station-01-list-2 .bg_image .filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.shin-gas-station-01-list-2 h2.ttl {
  color: #fff;
  text-align: right;
}

.shin-gas-station-01-list-2 h2.ttl .sub {
  position: relative;
  z-index: 10;
  padding-right: 68px;
  font-size: 32px;
  display: block;
  line-height: 1.4em;
  letter-spacing: 0.04em;
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 h2.ttl .sub {
    padding-right: 32px;
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .shin-gas-station-01-list-2 h2.ttl .sub {
    padding-right: 24px;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .shin-gas-station-01-list-2 h2.ttl .sub {
    font-size: 16px;
  }
}

.shin-gas-station-01-list-2 h2.ttl .main {
  margin-bottom: -0.1em;
  font-size: 200px;
  display: block;
  line-height: 0.9;
  letter-spacing: 0.015em;
}

@media (max-width: 1300px) {
  .shin-gas-station-01-list-2 h2.ttl .main {
    font-size: 160px;
  }
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 h2.ttl .main {
    font-size: 120px;
  }
}

@media (max-width: 800px) {
  .shin-gas-station-01-list-2 h2.ttl .main {
    font-size: 100px;
  }
}

@media (max-width: 650px) {
  .shin-gas-station-01-list-2 h2.ttl .main {
    font-size: 15vw;
  }
}

.shin-gas-station-01-list-2 ul.list {
  margin-left: auto;
  padding: 64px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  background: #fff;
  border-radius: 160px 0 0 0;
}

@media (max-width: 1300px) {
  .shin-gas-station-01-list-2 ul.list {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 ul.list {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 800px) {
  .shin-gas-station-01-list-2 ul.list {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .shin-gas-station-01-list-2 ul.list {
    padding: 48px;
    width: calc(100% - 32px);
    border-radius: 130px 0 0 0;
  }
}

@media (max-width: 450px) {
  .shin-gas-station-01-list-2 ul.list {
    padding: 40px;
    width: calc(100% - 24px);
  }
}

@media (max-width: 400px) {
  .shin-gas-station-01-list-2 ul.list {
    padding: 32px;
    padding-right: 24px;
    border-radius: 120px 0 0 0;
  }
}

.shin-gas-station-01-list-2 ul.list li.item {
  position: relative;
  z-index: 10;
}

.shin-gas-station-01-list-2 ul.list li.item:first-of-type {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 ul.list li.item:first-of-type {
    grid-column: initial;
    display: block;
  }
}

.shin-gas-station-01-list-2 ul.list li.item:first-of-type .image,
.shin-gas-station-01-list-2 ul.list li.item:first-of-type .text_in {
  flex: 1;
}

.shin-gas-station-01-list-2 ul.list li.item:first-of-type .text_in {
  padding-top: 36px;
}

@media (max-width: 1000px) {
  .shin-gas-station-01-list-2 ul.list li.item:first-of-type .text_in {
    padding-top: 20px;
  }
}

.shin-gas-station-01-list-2 ul.list li.item .image {
  width: 100%;
  border-radius: 80px 0 0 0;
  overflow: hidden;
}

.shin-gas-station-01-list-2 ul.list li.item .image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 11.5;
}

.shin-gas-station-01-list-2 ul.list li.item .image img + .image_upload {
  margin-top: 12px;
}

.shin-gas-station-01-list-2 ul.list li.item .image .image_upload {
  margin-top: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.shin-gas-station-01-list-2 ul.list li.item .image .image_upload button {
  margin-top: 0 !important;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in {
  padding-top: 20px;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in h3.ttl span.sub {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  font-size: 14px;
  font-weight: 500;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in h3.ttl span.sub .no {
  margin-top: -0.2em;
  margin-right: 0.2em;
  font-size: 24px;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in h3.ttl span.main {
  margin-top: 0.4em;
  display: block;
  font-size: 24px;
}

@media (max-width: 500px) {
  .shin-gas-station-01-list-2 ul.list li.item .text_in h3.ttl span.main {
    font-size: 20px;
  }
}

.shin-gas-station-01-list-2 ul.list li.item .text_in h3.ttl span.main:empty {
  display: none;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 500px) {
  .shin-gas-station-01-list-2 ul.list li.item .text_in p {
    font-size: 14px;
  }
}

.shin-gas-station-01-list-2 ul.list li.item .text_in p:empty {
  display: none;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in .btn {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  font-size: 14px;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in .btn svg {
  margin-left: 0.5em;
  transition: .3s;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in .btn:empty {
  display: none;
}

.shin-gas-station-01-list-2 ul.list li.item .text_in .btn:hover svg {
  transform: translateX(0.5em);
}

.shin-gas-station-01-list-2 ul.list li.item .delete_item_btn {
  display: flex;
  justify-content: end;
  width: 100%;
}
