.wp-block {
  &:has(.lw-banner-info-03) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.lw_content_wrap {
  &.page {
    .lw-banner-info-03 {
      margin-left: calc((100% - 100vw) / 2);
      width: 100vw;
    }
  }
  .single {
    @media (min-width: 1120px) {
      .lw-banner-info-03 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
      }
    }
  }
}
.lw-banner-info-03 {
  margin: 32px 0;
  padding: 0 32px;
  @container (max-width:850px) {
    margin: 24px 0;
    padding: 0 24px;
  }
  @container (max-width:550px) {
    padding: 0 20px;
  }
  + .last_content {
    padding: 0 !important;
  }
  * {
    box-sizing: border-box;
  }
  ul {
    margin-inline-start: 0;
    margin: 0 auto;
    max-width: 880px;
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    @container (max-width:600px) {
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      aspect-ratio: 1;
      a,
      .a {
        position: relative;
        z-index: 10;
        padding: 24px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
        @container (max-width:980px) {
          padding: 16px;
        }
        .filter {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.5;
        }
        h3.title {
          position: relative;
          z-index: 10;
          margin: 0;
          margin-top: 8px;
          width: 100%;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.5em;
          transition: color 0.6s;
          color: #fff;
          @container (max-width:980px) {
            font-size: 18px;
          }
          @container (max-width:600px) {
            font-size: 22px;
          }
        }
        p.description {
          position: relative;
          z-index: 10;
          margin: 0;
          margin-top: 8px;
          font-size: 12px;
          line-height: 1.7em;
          color: #fff;
          transition: color 0.6s;
          @container (max-width:980px) {
            font-size: 12px;
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.6s;
        }
      }
      a {
        &:hover {
          text-decoration: none;
          opacity: 1;
          p.description,
          h3.title {
            color: var(--color-accent);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
