.follow_bottom_cta_02 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.follow_bottom_cta_02.true {
  opacity: 1;
  visibility: visible;
}
.follow_bottom_cta_02 .pc {
  padding: 10px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--color-main);
  background: #fff;
  gap: 24px;
}
@media (max-width: 1200px) {
  .follow_bottom_cta_02 .pc {
    gap: 16px;
  }
}
@media (max-width: 950px) {
  .follow_bottom_cta_02 .pc {
    padding: 6px;
    height: 64px;
  }
}
@media (max-width: 750px) {
  .follow_bottom_cta_02 .pc {
    display: none;
  }
}
.follow_bottom_cta_02 .pc .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.follow_bottom_cta_02 .pc .logo .text {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--color-black);
}
@media (max-width: 950px) {
  .follow_bottom_cta_02 .pc .logo .text {
    font-size: 28px;
  }
}
.follow_bottom_cta_02 .pc .logo .image {
  height: 100%;
}
.follow_bottom_cta_02 .pc .logo .image img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.follow_bottom_cta_02 .pc ul.point {
  min-width: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}
.follow_bottom_cta_02 .pc ul.point.point_1 {
  grid-template-columns: repeat(1, 1fr);
}
.follow_bottom_cta_02 .pc ul.point.point_2 {
  grid-template-columns: repeat(2, 1fr);
}
.follow_bottom_cta_02 .pc ul.point li {
  padding: 6px;
  font-size: 12px;
  color: #fff;
  background: var(--color-main);
  text-align: center;
  line-height: 1;
  border-radius: 2px;
  white-space: nowrap;
}
@media (max-width: 1080px) {
  .follow_bottom_cta_02 .pc ul.point li {
    font-size: 11px;
  }
}
.follow_bottom_cta_02 .pc .tel {
  font-size: 44px;
  font-weight: 700;
  color: rgb(215, 47, 47);
  letter-spacing: 0;
  font-weight: 600;
  white-space: nowrap;
}
@media (max-width: 1080px) {
  .follow_bottom_cta_02 .pc .tel {
    font-size: 40px;
  }
}
@media (max-width: 950px) {
  .follow_bottom_cta_02 .pc .tel {
    font-size: 32px;
  }
}
.follow_bottom_cta_02 .pc .btn {
  padding: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: #F19A30;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: opacity 0.3s;
}
@media (max-width: 1080px) {
  .follow_bottom_cta_02 .pc .btn {
    font-size: 12px;
  }
}
.follow_bottom_cta_02 .pc .btn .icon {
  margin-right: 8px;
}
.follow_bottom_cta_02 .pc .btn .icon svg {
  fill: #fff;
  width: 12px;
  height: 12px;
}
.follow_bottom_cta_02 .pc .btn:hover {
  opacity: 0.8;
}
.follow_bottom_cta_02 .sp {
  padding: 0 4px;
  display: none;
}
@media (max-width: 750px) {
  .follow_bottom_cta_02 .sp {
    display: block;
  }
}
.follow_bottom_cta_02 .sp ul {
  display: flex;
  gap: 4px;
}
.follow_bottom_cta_02 .sp ul li {
  flex: 1;
}
.follow_bottom_cta_02 .sp ul li:nth-of-type(2) a {
  background: var(--color-accent);
}
.follow_bottom_cta_02 .sp ul li a {
  padding: 12px 8px 8px 8px;
  display: block;
  background: var(--color-main);
  color: #fff;
  text-align: center;
  border-radius: 16px 16px 0 0;
}
.follow_bottom_cta_02 .sp ul li a .sub {
  margin-bottom: 6px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
}
@media (max-width: 500px) {
  .follow_bottom_cta_02 .sp ul li a .sub {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .follow_bottom_cta_02 .sp ul li a .sub {
    font-size: 11px;
  }
}
.follow_bottom_cta_02 .sp ul li a .main {
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .follow_bottom_cta_02 .sp ul li a .main {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .follow_bottom_cta_02 .sp ul li a .main {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */