.follow_bottom_cta_02{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    &.true{
        opacity: 1;
        visibility: visible;
    }
    .pc{
        padding: 10px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--color-main);
        background: #fff;
        gap:24px;
        @media (max-width: 1200px){
            gap:16px;
            
        }
        @media (max-width: 950px){
            padding: 6px;
            height: 64px;
            
        }
        @media (max-width: 750px){
            display: none;
        }
        .logo{
            height: 100%;
            display: flex;
            align-items: center;
            .text{
                font-size: 32px;
                font-weight: 700;
                white-space: nowrap;
                color: var(--color-black);
                @media (max-width: 950px){
                    font-size: 28px;
                    
                }
            }
            .image{
                height: 100%;
                img{
                    height: 100%;
                    width: auto;
                    object-fit: contain;
                }
            }
        }
        ul.point{
            min-width: 100px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3px;
            &.point_1{
                grid-template-columns: repeat(1, 1fr);
            }
            &.point_2{
                grid-template-columns: repeat(2, 1fr);
            }
            li{
                padding: 6px;
                font-size: 12px;
                color: #fff;
                background: var(--color-main);
                text-align: center;
                line-height: 1;
                border-radius: 2px;
                white-space: nowrap;
                @media (max-width: 1080px){
                    font-size: 11px;
                    
                }
            }
        }
        .tel{
            font-size: 44px;
            font-weight: 700;
            color: rgb(215, 47, 47);
            letter-spacing: 0;
            font-weight: 600;
            white-space: nowrap;
            @media (max-width: 1080px){
                font-size: 40px;
                
            }
            @media (max-width: 950px){
                font-size: 32px;
                
            }
        }
        .btn{
            padding: 12px;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 3px;
            background: #F19A30;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.3em;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
            white-space: nowrap;
            transition: opacity 0.3s;
            @media (max-width: 1080px){
                font-size: 12px;
                
            }
            .icon{
                margin-right: 8px;
                svg{
                    fill:#fff;
                    width: 12px;
                    height: 12px;
                }
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .sp{
        padding: 0 4px;
        display: none;
        @media (max-width:750px) {
            display: block;
        }
        ul{
            display: flex;
            gap:4px;
            li{
                flex:1;
                &:nth-of-type(2) a{
                    background: var(--color-accent);
                }
                a{
                    padding: 12px 8px 8px 8px;
                    display: block;
                    background: var(--color-main);
                    color: #fff;
                    text-align: center;
                    border-radius: 16px 16px 0 0;
                    .sub{
                        margin-bottom: 6px;
                        font-size: 14px;
                        white-space: nowrap;
                        font-weight: 600;
                        @media (max-width:500px) {
                            font-size: 12px;
                        }
                        @media (max-width:400px) {
                            font-size: 11px;
                        }
                    }
                    .main{
                        font-size: 22px;
                        font-weight: 700;
                        @media (max-width:500px) {
                            font-size: 20px;
                        }
                        @media (max-width:400px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}