.lw_content_wrap.page .wp-block-wdl-fv-2 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw_content_wrap.page:has(.first_content + .wp-block-wdl-fv-2) .first_content {
  display: none;
}

.fv-2 {
  position: relative;
  z-index: 10;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .fv-2 {
    min-height: 280px;
  }
}

@media (max-width: 500px) {
  .fv-2 {
    min-height: 220px;
  }
}

.fv-2 + .post_style > .wp-block-columns.has-background {
  margin-top: 0;
}

.fv-2 .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.fv-2 .bg_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fv-2 + p,
.fv-2 + h1,
.fv-2 + h2,
.fv-2 + h3,
.fv-2 + h4,
.fv-2 + h5,
.fv-2 + h6 {
  margin-top: 2.4em !important;
}

.fv-2 .filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.fv-2 h1,
.fv-2 h2,
.fv-2 h3,
.fv-2 h4,
.fv-2 h5,
.fv-2 h6 {
  position: relative;
  z-index: 10;
  line-height: 1.2em;
  font-size: 2.8em;
  letter-spacing: 0.05em;
}

@container (max-width:700px) {
  .fv-2 h1,
  .fv-2 h2,
  .fv-2 h3,
  .fv-2 h4,
  .fv-2 h5,
  .fv-2 h6 {
    font-size: 2.4em;
  }
}

@container (max-width:600px) {
  .fv-2 h1,
  .fv-2 h2,
  .fv-2 h3,
  .fv-2 h4,
  .fv-2 h5,
  .fv-2 h6 {
    font-size: 2em;
  }
}

@container (max-width:500px) {
  .fv-2 h1,
  .fv-2 h2,
  .fv-2 h3,
  .fv-2 h4,
  .fv-2 h5,
  .fv-2 h6 {
    font-size: 1.8em;
  }
}

.fv-2 h1:after,
.fv-2 h2:after,
.fv-2 h3:after,
.fv-2 h4:after,
.fv-2 h5:after,
.fv-2 h6:after {
  height: 8px;
  width: 100%;
  content: "";
  display: block;
}
