.post_fv_ptn_1{
    font-size: var(--font-size-post-df_pc);
    @container (max-width: 800px) { 
        font-size: var(--font-size-post-df_tb);
    }
    @container (max-width:500px) {
        font-size: var(--font-size-post-df_sp);
    }
    &:has( + .lw_share_buttons ){
        .ttl_wrap{
            border: none;
        }
    }
    .image_thumbnail{
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .ttl_wrap{
        padding: 40px 40px 32px 40px;
        border-bottom: 1px solid #ddd;
        @container (max-width: 800px) { 
            padding: 32px;
        }
        @container (max-width:600px) {
            padding: 24px;
        }
        @container (max-width:500px) {
            padding: 24px 20px;
        }
        .post_data{
            .flex{
                display: flex;
                align-items: center;
            }
            .post_category{
                margin-bottom: 10px;
                >ul{
                    display: flex;
                    gap:1em;
                    li{
                        a{
                            color: var(--color-text);
                            font-size: 0.77em;
                            &:hover{
                                color: var(--color-blue);
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .post_date_time{
                margin-bottom: 20px;
                display: block;
                color: #999;
                font-size: 0.75em;
                + .post_date_time{
                    margin-left: 1em;
                }
                svg{
                    margin-right: 3px;
                    width: 0.8em;
                    height: 0.8em;
                    fill: #999;
                }
            }
        }
        h1.post_title{
            font-size: 1.555em;
            font-feature-settings: "palt";
            line-height: 1.6em;
            font-size: 600;
            @container (max-width: 800px) { 
                font-size: 1.5em;
            }
            @container (max-width:600px) {
                font-size: 1.4em;
            }
            @container (max-width:500px) {
                font-size: 1.35em;
            }

        }
    }
}