.post_list_ptn_3 {
    margin: 80px auto;
    padding: 0 24px;
    max-width: 1080px;
    width: 100%;
    container-type: inline-size;
    @media (max-width: 1080px) {
        margin: 40px auto;
    }
    @media (max-width: 700px) {
        margin: 32px auto;
    }
    .post_list_put {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .post_item {
            &:last-of-type{
                a{
                    border-bottom: 1px solid #ddd;
                }
            }
        }
        a {
            position: relative;
            padding: 2em 12px;
            display: grid;
            grid-template-columns: 280px calc(100% - 280px);
            border-top: 1px solid #ddd;
            color: var(--color-black);
            @media (max-width: 700px) {
                padding: 1.5em 8px 1.3em 8px;
                display: block;
            }
            .data {
                display: flex;
                align-items: center;
                font-size: 0.9em;
                gap:24px;
                @media (max-width: 700px) {
                    font-size: 0.8em;
                }
                @media (max-width: 700px) {
                    margin-bottom: 12px;
                }
                .post_category{
                    padding: 0.4em 1em;
                    border: 1px solid var(--color-main);
                    border-radius: 5em;
                    color: var(--color-main);
                    font-size: 0.8em;
                }
            }
            .text_in {
                h2{
                    line-height: 1.8em;
                    font-weight: 500;
                    @media (max-width: 980px) {
                        font-size: 14px;
                        
                    }
                }
            }
            &:hover{
                .text_in{
                    h2{
                        color: #eb5e5e;
                    }
                }
            }
        }
    }
    .page_nation {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        @media (max-width: 500px) {
            margin-top: 40px;
        }
        > ul.page-numbers {
            display: flex;
            gap: 4px;
            font-size: 16px;
            @media (max-width: 700px) {
                font-size: 14px;
            }
            @media (max-width: 600px) {
                font-size: 13px;
            }
            @media (max-width: 500px) {
                font-size: 12px;
            }
            li {
                a,
                .current,
                .dots {
                    height: 3.4em;
                    width: 3.4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    color: #101010;
                    transition: 0.3s;
                    border-radius: 50%;
                    &:hover {
                        background: var(--color-red);

                        color: #fff;
                        svg {
                            fill: #fff;
                        }
                        &.prev,
                        &.next {
                            border: 1px solid var(--color-red);
                        }
                    }
                }
                .dots {
                    pointer-events: none;
                }
                .next,
                .prev,
                .current {
                    border: 1px solid var(--color-main);
                    svg {
                        margin-right: 2px;
                        width: 12px;
                        height: 12px;
                        fill: var(--color-main);
                    }
                }
                .current {
                    background: var(--color-main);
                    color: #fff;
                    pointer-events: none;
                }
                .prev {
                    margin-right: 0.8em;
                }
                .next {
                    margin-left: 0.8em;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
