.archive_fv_ptn_4 {
    position: relative;
    z-index: 10;
    padding: 44px 16px 40px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    .inner{
        padding: 28px 24px 24px 24px;
        background: rgba(255, 255, 255, 0.9);
        h1.title{
            font-size: 36px;
            font-feature-settings: "palt";
            line-height: 1.3;
            letter-spacing: 0.1em;
            @media (max-width: 980px) {
                font-size: 32px; 
            }
            @media (max-width: 600px) {
                font-size: 26px;
            }
            @media (max-width: 500px) {
                font-size: 24px;
            }
        }
        p{
            margin-top: 0.5em;
            font-size:15px;
            font-weight: 500;
            line-height: 2em;
            font-feature-settings: "palt";
            letter-spacing: 0.05em;
            @media (max-width: 980px) {
                font-size: 14px;
            }
            @media (max-width: 600px) {
                font-size: 12px;
            }
        }
    }
    .bg_img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        background-image: url(../../../../assets/image/bg/1px.png);
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            content: "";
            mix-blend-mode: multiply;
            display: block;
            
        }
    }
}
.archive_fv_ptn_4_breadcrumbs{
    margin: 0 auto;
    padding: 0;
    max-width: 1080px;
    width: calc(100% - 48px);
    @media (max-width: 700px) {
        width: calc(100% - 32px);
        
    }
    .breadcrumbs_wrap.ptn_2{
        padding-top: 12px;
        padding-bottom: 0;
        &::before{
            display: none;
        }
        .lw_breadcrumb{
            padding-left: 0;
        }
    }
}