.custom-title-2 {
  margin: 1em 0;
  border: none !important;
  font-size: 20px !important;
  &:not([class*="lw_padding_bottom_"]) {
    padding-bottom: 0 !important;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  .main {
    display: block;
    letter-spacing: 0.05em;
    font-size: 3em;
    line-height: 1.3em;
    font-feature-settings: "palt";
    @container (max-width:700px) {
      font-size: 2.4em;
    }
    @container (max-width:500px) {
      font-size: 2.2em;
    }
  }
  .sub {
    margin-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: block;
    font-size: 0.8em;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    @container (max-width:600px) {
      font-size: 0.7em;
    }
  }
  .main,
  .sub {
    strong {
      font-weight: 900;
    }
  }
}

.post_style {
  .custom-title-2 {
    .main {
      &:empty {
        display: none;
      }
    }
    .sub {
      &:empty {
        display: none;
      }
    }
  }
}
