.shin-gas-station-01-title-1 {
  text-align: center;
  border-bottom: none !important;
  font-size: 17px;
  .main {
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
  }
  .span {
    margin-top: 1.2em;
    display: block;
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
