.lw-pr-custom-title-15 {
  text-align: center;
  border-bottom: none !important;
  font-size: 17px;
  &::after {
    margin: 0 auto;
    margin-top: var(--title-15-after-mt-pc, 1em);
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background: var(--title-15-after-color, var(--color-main));
  }
  .main {
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
  }
  .sub {
    margin-top: var(--custom-title-sub-margin-top-pc, 0.2em);
    display: block;
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
