.header_ptn_4 {
    .inner{
        position: relative;
        z-index: 40;
        padding: 0 64px;
        height: 90px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1180px) {
            padding: 0 44px;
            height: 80px;
        }
        @media (max-width: 1080px) {
            height: 72px;
        }
        @media (max-width: 800px) {
            padding: 0 32px;
        }
        @media (max-width: 500px) {
            height: 64px;
            padding: 0 20px;
        }
        &:after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            display: block;
            background: #000;
            opacity: 0.1;
        }
        .logo {
            height: 100%;
            a {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 24px;
                img {
                    width: auto;
                    object-fit: contain;
                }
            }
        }
        .header_nav {
            padding-top: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 1080px) {
                display: none;
            }
            >div{
                height: 100%;
            }
        }
    }
    .header_menu_pc,
    .header_nav > .menu > ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: calc(var(--font-size-post-df_pc) - 1px);
        @media (max-width: 1180px) {
            font-size: calc(var(--font-size-post-df_pc) - 2px);
        }
        > li {
            position: relative;
            height: 100%;
            > a {
                position: relative;
                padding: 0 1.5em;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #111;
                transition: 0.4s;
                white-space: nowrap;
                transition: color 0.4s;
                @media (max-width: 1240px) {
                    padding: 0 1.4em;
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0;
                    height: 4px;
                    content: "";
                    display: block;
                    background: var(--color-accent);
                    opacity: 0;
                    transition: 0.4s;
                }
                &:hover{
                    color: var(--color-accent);
                    &::after{
                        opacity: 1;
                        width: calc(100% - 3em);
                    }
                }
            }
        }
    }
    .cta_btn {
        position: relative;
        margin-left: 1.8em;
        padding: 0.5em 1.8em;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.4em;
        font-size: 14px;
        overflow: hidden;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            transition: 0.3s;
        }
    }

    .ham_btn {
        position: absolute;
        top: 0;
        right: 16px;
        z-index: 100;
        margin: auto;
        height: 100%;
        aspect-ratio: 1;
        display: none;
        cursor: pointer;
        @media (max-width: 1080px) {
            display: block;
        }
        @media (max-width: 500px) {
           right: 0;
        }
        &.active {
            div {
                &:nth-of-type(1) {
                    transform: translateY(0) rotate(45deg);
                }
                &:nth-of-type(2) {
                    right: -16px;
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
        div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 2px;
            width: 50%;
            background: var(--color-main);
            transition: all 0.6s;
            border-radius: 40px;
            &:nth-of-type(1) {
                transform: translateY(-8px);
                @media (max-width: 500px) {
                    transform: translateY(-8px);
                }
            }
            &:nth-of-type(2) {
                transform: translateY(0);
            }
            &:nth-of-type(3) {
                transform: translateY(8px);
                @media (max-width: 500px) {
                    transform: translateY(8px);
                }
            }
        }
    }
}
