.lw_content_wrap.page {
    .wp-block-wdl-fv-5 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .wp-block-wdl-fv-5) {
        .first_content {
            display: none;
        }
    }
}

.wp-block-wdl-fv-5 {
    position: relative;
    z-index: 10;
    padding: 64px 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    @container (max-width:980px) {
        padding: 48px 32px;
    }
    @container (max-width:800px) {
        padding: 40px 24px;
    }
    @container (max-width:500px) {
        padding: 32px 16px;
    }
    + .post_style>.wp-block-columns.has-background {
        margin-top: 0;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-top: 2.4em !important;
    }
     + p:not([class]),+ p {
        margin-top: 1.8em; 
     }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }
    .fv-5_inner {
        margin: 0 auto;
        padding-top: 8px;
        max-width: var(--max-width-clm-1);
        width: 100%;
        @container (max-width:600px) {
            padding-top: 0;
        }
    }
    h1,
    h1.ttl,
    h2,
    h2.ttl,
    h3,
    h3.ttl,
    h4,
    h4.ttl,
    p,
    .ttl {
        position: relative;
        z-index: 10;
        margin: 0;
        width: 100%;
        text-align: center;
        .main {
            display: block;
            line-height: 1.4em;
            font-size: 44px;
            letter-spacing: 0.05em;
            @container (max-width:980px) {
                font-size: 36px;
            }
            @container (max-width:700px) {
                font-size: 28px;
            }
            @container (max-width:450px) {
                font-size: 24px;
            }
            &:empty {
                display: none;
            }
        }
    }
    p.description {
        margin: 0;
        margin-top: 0.5em;
        position: relative;
        z-index: 10;
        width: 100%;
        line-height: 1.6em;
        font-size: 16px;
        text-align: center;
        @container (max-width:700px) {
            font-size: 14px;
        }
        @container (max-width:500px) {
            margin-top: 0;
            font-size: 12px;
        }
        &:empty {
            display: none;
        }
    }
}
