.lw-pr-content-9 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw-pr-content-9 .lw-pr-content-9__wrap {
  margin: 0 auto;
  max-width: 1440px;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
  overflow: visible;
  margin-left: -80px;
  margin-right: -80px;
}

@media (max-width: 991px) {
  .lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
    margin: 0;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
    margin: 0;
    padding: 0 24px;
  }
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-slide {
  height: auto;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item .image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a.item {
  color: var(--color-black);
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a.item:hover {
  color: #ef6f6f;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a.item svg {
  display: none;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-pagination {
  position: relative;
  margin-top: 32px;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-pagination-bullet-active {
  background: #333;
}
