.post_fv_ptn_3{
    font-size: var(--font-size-post-df_pc);
    @container (max-width: 800px) { 
        font-size: var(--font-size-post-df_tb);
    }
    @container (max-width:500px) {
        font-size: var(--font-size-post-df_sp);
    }
    .image_thumbnail{
        position: relative;
        width: 100%;
        padding: 40px;
        display: flex;
        align-items: end;
        background-size: cover;
        background-position: center;
        aspect-ratio: 16 / 9;
        @container (max-width: 800px) { 
            padding: 32px;
        }
        @container (max-width:600px) {
            aspect-ratio: 16 / 12;
            padding: 24px;
        }
        @container (max-width:500px) {
            padding: 20px;
        }
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background: #000;
        }
    }
    .ttl_wrap_in{
        position: relative;
        z-index: 10;
        .post_title{
            color: #fff;
            font-feature-settings: "palt";
            line-height: 1.4em;
            letter-spacing: 0.1em;
            font-size: 40px;
            @container (max-width: 800px) { 
                font-size: 32px;
            }
            @container (max-width:600px) {
                font-size: 28px;
            }
            @container (max-width:500px) {
                font-size: 28px;
            }
        }
        >p{
            margin-left: 2px;
            margin-top: 0.8em;
            display: block;
            color: #eee;
            font-size: 16px;
            line-height: 1.8;
            @media (max-width: 600px) {
                margin-top: 12px;
                font-size: 14px;
                
            }
        }
    }
}