.post_fv_ptn_2 {
    font-size: var(--font-size-post-df_pc);
    @container (max-width: 800px) {
        font-size: var(--font-size-post-df_tb);
    }
    @container (max-width:500px) {
        font-size: var(--font-size-post-df_sp);
    }
    .image_thumbnail {
        position: relative;
        width: 100%;
        padding: 48px;
        display: flex;
        align-items: end;
        aspect-ratio: 16 / 10;
        background-size: cover;
        background-position: center;
        @container (max-width: 800px) {
            padding: 40px;
        }
        @container (max-width:600px) {
            padding: 24px;
            aspect-ratio: 16 / 12;
        }
        @container (max-width:500px) {
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background: #000;
        }
        .post_category a {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 0 1.6em;
            height: 3em;
            min-width: 8em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            background: var(--color-accent);
            color: #fff;
            @container (max-width:600px) {
                font-size: 13px;
            }
            @container (max-width:500px) {
                font-size: 11px;
            }
        }
    }
    .ttl_wrap_in {
        position: relative;
        z-index: 10;
        .post_title {
            color: #fff;
            font-feature-settings: "palt";
            line-height: 1.6em;
            font-size: 28px;
            @container (max-width: 800px) {
                font-size: 24px;
            }
            @container (max-width:600px) {
                font-size: 20px;
            }
            @container (max-width:500px) {
                font-size: 18px;
            }
        }
        .flex {
            display: flex;
            align-items: center;
        }
        .post_date_time {
            margin-left: 2px;
            margin-top: 1.4em;
            display: block;
            color: #eee;
            font-size: 0.8em;
            @media (max-width: 600px) {
                font-size: 0.75em;
            }
            + .post_date_time {
                margin-left: 1em;
            }
            svg {
                margin-right: 3px;
                width: 0.8em;
                height: 0.8em;
                fill: #fff;
                @media (max-width: 600px) {
                    font-size: 0.75em;
                }
            }
        }
    }
    .ttl_wrap_out {
        padding: 40px 40px 32px 40px;
        border-bottom: 1px solid #ddd;
        @container (max-width: 800px) {
            padding: 32px;
        }
        @container (max-width:600px) {
            padding: 24px;
        }
        @container (max-width:500px) {
            padding: 24px 20px;
        }
        .post_data {
            .post_category {
                > ul {
                    display: flex;
                    gap: 1em;
                    li {
                        a {
                            color: var(--color-text);
                            font-size: 0.77em;
                            &:hover {
                                color: var(--color-blue);
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .post_date_time {
                margin-bottom: 10px;
                display: block;
                color: #999;
                font-size: 0.7em;
            }
        }
        h1.post_title {
            margin-top: 0.571em;
            font-size: 1.555em;
            font-feature-settings: "palt";
            line-height: 1.6em;
            @container (max-width: 800px) {
                font-size: 1.5em;
            }
            @container (max-width:600px) {
                font-size: 1.4em;
            }
            @container (max-width:500px) {
                font-size: 1.35em;
            }
        }
    }
}
