.solution-1{
  .solution-1_inner{
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap:24px 0;
    @container (max-width:550px) {
      gap:16px 0;
    }
    .solution-1_content{
      width: calc(100% / 3);
      @container (max-width:850px) {
        width: calc(100% / 2);
      }
      @container (max-width:550px) {
        width: calc(100% / 1);
      }
      figure{
        margin: 0 auto;
        width: 168px;
        height: 168px;
        border: 2px solid var(--color-main);
        border-radius: 50%;
        overflow: hidden;
        @container (max-width:550px) {
          width: 140px;
          height: 140px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .solution-1_text{
        margin-top: 1.3em;
        font-size: 20px;
        text-align: center;
        line-height: 1.6em;
        @container (max-width:850px) {
          font-size: 18px;
        }
        @container (max-width:550px) {
          font-size: 16px;
        }
      }
    }
  }
}

