.lw_content_wrap.page .wp-block-wdl-lw-voice-1 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw_content_wrap.single .lw-voice-1 {
  margin-left: -40px;
  margin-right: -40px;
  width: calc(100% + 80px);
}

@container (max-width: 800px) {
  .lw_content_wrap.single .lw-voice-1 {
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);
  }
}

@container (max-width:600px) {
  .lw_content_wrap.single .lw-voice-1 {
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
  }
}

@container (max-width:500px) {
  .lw_content_wrap.single .lw-voice-1 {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

.lw-voice-1 {
  padding: 104px 40px 64px 40px;
}

@container (max-width:1050px) {
  .lw-voice-1 {
    padding: 88px 32px 64px 32px;
  }
}

@container (max-width:450px) {
  .lw-voice-1 {
    padding: 64px 24px 32px 24px;
  }
}

.lw-voice-1 h2.lw-voice-1__title {
  text-align: center;
  font-size: 40px;
}

@container (max-width:1050px) {
  .lw-voice-1 h2.lw-voice-1__title {
    font-size: 32px;
  }
}

@container (max-width:450px) {
  .lw-voice-1 h2.lw-voice-1__title {
    font-size: 28px;
  }
}

.lw-voice-1 ul.lw-voice-1__ul {
  margin: 0 auto;
  margin-top: 84px;
  max-width: 1240px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
  list-style: none;
}

@container (max-width:1250px) {
  .lw-voice-1 ul.lw-voice-1__ul {
    gap: 64px 32px;
  }
}

@container (max-width:1050px) {
  .lw-voice-1 ul.lw-voice-1__ul {
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (max-width:700px) {
  .lw-voice-1 ul.lw-voice-1__ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@container (max-width:500px) {
  .lw-voice-1 ul.lw-voice-1__ul {
    margin-top: 64px;
  }
}

.lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li {
  position: relative;
  padding: 56px 24px 32px 24px;
  background: #fff;
}

@container (max-width:1050px) {
  .lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li {
    padding-top: 48px;
    padding-bottom: 30px;
  }
}

.lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__name {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 10;
  padding: 8px 10px;
  font-size: 16px;
}

@container (max-width:500px) {
  .lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__name {
    font-size: 15px;
  }
}

.lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__text h3 {
  margin: 0;
  font-size: 22px;
  line-height: 1.5em;
}

@container (max-width:1050px) {
  .lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__text h3 {
    font-size: 20px;
  }
}

.lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__text p {
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1.8em;
  font-size: 16px;
}
