.lw-pr-button-5 {
  margin-top: 0.5em;
}

.lw-pr-button-5 * {
  box-sizing: border-box;
}

.lw-pr-button-5 .wrap_btn {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.lw-pr-button-5 .wrap_btn.left {
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.left.sp_center {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.left.sp_right {
    justify-content: flex-end;
  }
}

.lw-pr-button-5 .wrap_btn.center {
  justify-content: center;
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.center.sp_left {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.center.sp_right {
    justify-content: flex-end;
  }
}

.lw-pr-button-5 .wrap_btn.right {
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.right.sp_center {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn.right.sp_left {
    justify-content: flex-start;
  }
}

.lw-pr-button-5 .wrap_btn .lw_btn_a {
  position: relative;
  padding: 0.6em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #e1a20e;
  border-radius: 3em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: background var(--transition-duration) ease;
  text-decoration: none;
}

.lw-pr-button-5 .wrap_btn .lw_btn_a:hover {
  background: var(--hover-bg) !important;
}

.lw-pr-button-5 .wrap_btn .lw_btn_a .text_main {
  font-size: var(--font-size-main);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

@media (max-width: 800px) {
  .lw-pr-button-5 .wrap_btn .lw_btn_a .text_main {
    font-size: var(--font-size-main-sp) !important;
  }
}

.lw-pr-button-5 .wrap_btn .lw_btn_a .text_main .icon {
  margin-right: 4px;
  display: flex;
  align-items: center;
  width: 24px;
  height: auto;
}

.lw-pr-button-5 .wrap_btn .lw_btn_a .text_main .icon svg {
  height: auto;
  width: 100%;
  fill: #fff;
}

.lw-pr-button-5 .wrap_btn .lw_btn_shake_light {
  animation: lw_btn_shake_light var(--shake-interval) ease-in-out infinite;
}

.lw-pr-button-5 .wrap_btn .lw_btn_shake_normal {
  animation: lw_btn_shake_normal var(--shake-interval) ease-in-out infinite;
}

.lw-pr-button-5 .wrap_btn .lw_btn_shake_strong {
  animation: lw_btn_shake_strong var(--shake-interval) ease-in-out infinite;
}
