.wp-block {
    &:has(.fv-4) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.fv-4 {
    position: relative;
    z-index: 10;
    padding: 64px 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: rgba(4, 25, 48, 0.5);
        mix-blend-mode: multiply;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .fv-4_inner {
        margin: 0 auto;
        max-width: 1120px;
        width: 100%;
        &.pc_left {
            text-align: left;
        }
        &.pc_center {
            text-align: center;
        }
        &.pc_right {
            text-align: right;
        }
        @container (max-width:700px) {
            &.sp_left {
                text-align: left;
            }
            &.sp_center {
                text-align: center;
            }
            &.sp_right {
                text-align: right;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6  {
        position: relative;
        z-index: 10;
        margin: 0;
        width: 100%;

        .sub {
            margin-bottom: 0.1em;
            display: block;
            line-height: 1.4em;
            font-size: 24px;
            letter-spacing: 0.1em;
            font-weight: 500;
            @container (max-width:700px) {
                font-size: 18px;
            }
            @container (max-width:500px) {
                font-size: 16px;
            }
        }
        .main {
            display: block;
            line-height: 1.4em;
            font-size: 72px;
            letter-spacing: 0.05em;
            @container (max-width:700px) {
                font-size: 56px;
            }
            @container (max-width:500px) {
                font-size: 48px;
            }
        }
    }
    p {
        margin-top: 2em;
        margin-bottom: 0 !important;
        position: relative;
        z-index: 10;
        width: 100%;
        line-height: 1.6em;
        font-size: 16px;
        @container (max-width:500px) {
            font-size: 13px;
        }
    }
}
