.lw_content_wrap.page .wp-block-wdl-fv-4 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw_content_wrap.page:has(.first_content + .wp-block-wdl-fv-4) .first_content {
  display: none;
}

.wp-block-wdl-fv-4 {
  position: relative;
  z-index: 10;
  padding: 64px 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

@container (max-width:980px) {
  .wp-block-wdl-fv-4 {
    padding: 48px 40px;
  }
}

@container (max-width:800px) {
  .wp-block-wdl-fv-4 {
    padding: 40px 32px;
  }
}

@container (max-width:500px) {
  .wp-block-wdl-fv-4 {
    padding: 32px 16px;
  }
}

.wp-block-wdl-fv-4 .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.wp-block-wdl-fv-4 .bg_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wp-block-wdl-fv-4 + p,
.wp-block-wdl-fv-4 + h2,
.wp-block-wdl-fv-4 + h3,
.wp-block-wdl-fv-4 + h4,
.wp-block-wdl-fv-4 + h5,
.wp-block-wdl-fv-4 + h6 {
  margin-top: 2.4em !important;
}

.wp-block-wdl-fv-4 .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.wp-block-wdl-fv-4 .fv-4_inner {
  margin: 0 auto;
  padding-top: 8px;
  max-width: var(--max-width-clm-1);
  width: 100%;
}

.wp-block-wdl-fv-4 .fv-4_inner.pc_left {
  text-align: left;
}

.wp-block-wdl-fv-4 .fv-4_inner.pc_center {
  text-align: center;
}

.wp-block-wdl-fv-4 .fv-4_inner.pc_right {
  text-align: right;
}

@container (max-width:700px) {
  .wp-block-wdl-fv-4 .fv-4_inner.sp_left {
    text-align: left;
  }
  .wp-block-wdl-fv-4 .fv-4_inner.sp_center {
    text-align: center;
  }
  .wp-block-wdl-fv-4 .fv-4_inner.sp_right {
    text-align: right;
  }
}

.wp-block-wdl-fv-4 h1,
.wp-block-wdl-fv-4 h2,
.wp-block-wdl-fv-4 h3,
.wp-block-wdl-fv-4 h4,
.wp-block-wdl-fv-4 h5,
.wp-block-wdl-fv-4 h6 {
  margin: 0;
  position: relative;
  z-index: 10;
  width: 100%;
}

.wp-block-wdl-fv-4 h1 .sub,
.wp-block-wdl-fv-4 h2 .sub,
.wp-block-wdl-fv-4 h3 .sub,
.wp-block-wdl-fv-4 h4 .sub,
.wp-block-wdl-fv-4 h5 .sub,
.wp-block-wdl-fv-4 h6 .sub {
  margin-bottom: 0.1em;
  display: block;
  line-height: 1.4em;
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

@container (max-width:700px) {
  .wp-block-wdl-fv-4 h1 .sub,
  .wp-block-wdl-fv-4 h2 .sub,
  .wp-block-wdl-fv-4 h3 .sub,
  .wp-block-wdl-fv-4 h4 .sub,
  .wp-block-wdl-fv-4 h5 .sub,
  .wp-block-wdl-fv-4 h6 .sub {
    font-size: 18px;
  }
}

@container (max-width:500px) {
  .wp-block-wdl-fv-4 h1 .sub,
  .wp-block-wdl-fv-4 h2 .sub,
  .wp-block-wdl-fv-4 h3 .sub,
  .wp-block-wdl-fv-4 h4 .sub,
  .wp-block-wdl-fv-4 h5 .sub,
  .wp-block-wdl-fv-4 h6 .sub {
    font-size: 16px;
  }
}

.wp-block-wdl-fv-4 h1 .sub:empty,
.wp-block-wdl-fv-4 h2 .sub:empty,
.wp-block-wdl-fv-4 h3 .sub:empty,
.wp-block-wdl-fv-4 h4 .sub:empty,
.wp-block-wdl-fv-4 h5 .sub:empty,
.wp-block-wdl-fv-4 h6 .sub:empty {
  display: none;
}

.wp-block-wdl-fv-4 h1 .main,
.wp-block-wdl-fv-4 h2 .main,
.wp-block-wdl-fv-4 h3 .main,
.wp-block-wdl-fv-4 h4 .main,
.wp-block-wdl-fv-4 h5 .main,
.wp-block-wdl-fv-4 h6 .main {
  display: block;
  line-height: 1.4em;
  font-size: 72px;
  letter-spacing: 0.05em;
}

@container (max-width:980px) {
  .wp-block-wdl-fv-4 h1 .main,
  .wp-block-wdl-fv-4 h2 .main,
  .wp-block-wdl-fv-4 h3 .main,
  .wp-block-wdl-fv-4 h4 .main,
  .wp-block-wdl-fv-4 h5 .main,
  .wp-block-wdl-fv-4 h6 .main {
    font-size: 64px;
  }
}

@container (max-width:700px) {
  .wp-block-wdl-fv-4 h1 .main,
  .wp-block-wdl-fv-4 h2 .main,
  .wp-block-wdl-fv-4 h3 .main,
  .wp-block-wdl-fv-4 h4 .main,
  .wp-block-wdl-fv-4 h5 .main,
  .wp-block-wdl-fv-4 h6 .main {
    font-size: 56px;
  }
}

@container (max-width:500px) {
  .wp-block-wdl-fv-4 h1 .main,
  .wp-block-wdl-fv-4 h2 .main,
  .wp-block-wdl-fv-4 h3 .main,
  .wp-block-wdl-fv-4 h4 .main,
  .wp-block-wdl-fv-4 h5 .main,
  .wp-block-wdl-fv-4 h6 .main {
    font-size: 48px;
  }
}

.wp-block-wdl-fv-4 h1 .main:empty,
.wp-block-wdl-fv-4 h2 .main:empty,
.wp-block-wdl-fv-4 h3 .main:empty,
.wp-block-wdl-fv-4 h4 .main:empty,
.wp-block-wdl-fv-4 h5 .main:empty,
.wp-block-wdl-fv-4 h6 .main:empty {
  display: none;
}

.wp-block-wdl-fv-4 p {
  margin-top: 2em;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 10;
  width: 100%;
  line-height: 1.6em;
  font-size: 16px;
}

@container (max-width:500px) {
  .wp-block-wdl-fv-4 p {
    font-size: 13px;
  }
}

.wp-block-wdl-fv-4 p:empty {
  display: none;
}
