.lw_content_wrap.page {
    .wp-block-wdl-fv-6 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .wp-block-wdl-fv-6) {
        .first_content {
            display: none;
        }
    }
}
.fv-6 {
    position: relative;
    z-index: 10;
    padding: 64px 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    @container (max-width:980px) {
        padding: 48px 32px;
    }
    @container (max-width:800px) {
        padding: 40px 24px;
    }
    @container (max-width:500px) {
        padding: 32px 16px;
    }
    * {
        box-sizing: border-box;
    }
    + .post_style > .wp-block-columns.has-background {
        margin-top: 0;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    + p,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-top: 2.4em !important;
    }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }
    .fv-6_inner {
        position: relative;
        z-index: 10;
        margin: 0 auto;
        padding: 24px;
        height: 188px;
        min-width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        @container (max-width:980px) {
            height: 168px;
            min-width: 180px;
        }
        @container (max-width:550px) {
            height: 140px;
            min-width: 148px;
        }
        .inner_filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.95;
        }
    }
    h1,
    h1.ttl,
    h2,
    h2.ttl,
    h3,
    h3.ttl,
    h4,
    h4.ttl,
    p,
    .ttl {
        position: relative;
        z-index: 10;
        margin: 0;
        text-align: center;
        .main {
            display: block;
            width: 100%;
            line-height: 1.4em;
            font-weight: 500;
            font-size: 28px;
            letter-spacing: 0.05em;
            @container (max-width:980px) {
                font-size: 24px;
            }
            @container (max-width:550px) {
                font-size: 20px;
            }
        }
        .sub {
            margin-top: 0.2em;
            display: block;
            line-height: 1.4em;
            font-size: 14px;
            letter-spacing: 0.05em;
            font-weight: 500;
            @container (max-width:980px) {
                font-size: 13px;
            }
            @container (max-width:550px) {
                font-size: 12px;
            }
        }
    }
    p {
        margin-top: 2em;
        margin-bottom: 0 !important;
        position: relative;
        z-index: 10;
        width: 100%;
        line-height: 1.6em;
        font-size: 16px;
        @container (max-width:500px) {
            font-size: 13px;
        }
        &:empty {
            display: none;
        }
    }
}

.wp-block {
    .fv-6 {
        h1 {
            .main {
                &:empty {
                    display: none;
                }
            }
            .sub {
                &:empty {
                    display: none;
                }
            }
        }
    }
}
