//カーとページ ----------------------------------------
//商品タイトル
.wc-block-components-product-name{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #000;
}
//購入手続きボタン
body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link){
    margin: 1em 0;
    width: 100%;
    height: 100%;
    min-height: 3.5em !important;
    background: var(--color-accent);
    color: #fff;
    transition: .3s;
    &:hover{
        opacity: .8;
    }
}
//決済者情報入力ページ ----------------------------------------
.wc-block-components-main{
    //form
    .wc-block-components-form{
        .wc-blocks-components-select__container{
            height: 68px;
        }
        .wc-blocks-components-select .wc-blocks-components-select__container{
            height: 56px;
            select{
                margin: 0;
            }
        }
        //配送オプション
        .wc-block-components-shipping-rates-control{
            .wc-block-components-radio-control{
                input{
                    margin-top: -0.85em;
                }
            }
        }
        //注文確定ボタン
        .wc-block-components-button{
            background-color: var(--color-accent);
            border: none;
            border-radius: 4px;
            font-size: 1em;
        }
    }
}