.shin-gas-station-01-custom-title-2 {
  position: relative;
  margin: 80px 0 1em 0;
  padding-bottom: 0 !important;
  border: none !important;
  @container (max-width:600px) {
    margin-top: 64px;
  }
  @container (max-width:500px) {
    margin-top: 32px;
  }
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 1px;
    display: block;
    content: '';
    background: #EBEBEB;
  }
  .border{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 200px;
    height: 6px;
    background: var(--color-main);
    @container (max-width:600px) {
      height: 4px;
    }
  }
  .in{
    padding-top: 0.8em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:12px;
    font-size: 2.3529em;
    @container (max-width:800px) {
      font-size: 2.1em;
    }
    @container (max-width:600px) {
      font-size: 1.8em;
    }
    @container (max-width:500px) {
      font-size: 1.6em;
    }
    @container (max-width:400px) {
      font-size: 1.5em;
    }
    &.size_l{
      .main{
        font-size: 1.2em;
      }
      .sub{
        font-size: 0.5em;
      }
    }
    &.size_s{
      .main{
        font-size: 0.8em;
      }
      .sub{
        font-size: 0.35em;
      }
    }
  }
  .main {
    position: relative;
    display: block;
    letter-spacing: 0.06em;
    line-height: 1.4em;
    font-weight: 500;
    color: var(--color-main);
    span{
      display: inline-block;
    }
  }
  .sub{
    padding-top: 0.5em;
    font-size: 0.4em;
    letter-spacing: 0.05em;
    line-height: 2em;
    font-weight: 400;
    
  }
}
.post_style{
  .shin-gas-station-01-custom-title-2 {
    .main {
      &:empty{
        display: none;
      }
    }
    .sub {
      &:empty{
        display: none;
      }
    }
  }

}  
