.custom-title-1 {
  margin: 1em 0;
  margin-bottom: 1.5em;
  padding-bottom: 0 !important;
  text-align: center;
  font-size: 17px !important;
  .main {
    display: block;
    text-align: center;
    font-size: 2.4em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    @container (max-width:800px) {
      font-size: 2.2em;
    }
    @container (max-width:600px) {
      font-size: 1.9em;
    }
    @container (max-width:500px) {
      font-size: 1.7em;
    }
    @container (max-width:400px) {
      font-size: 1.6em;
    }
    span{
      display: inline-block;
    }
  }
  .sub {
    margin-top: var(--custom-title-sub-margin-top-pc,0.2em);
    display: block;
    font-size: 0.9em;
    line-height: 1.6em;
    @container (max-width:600px) {
      margin-top: var(--custom-title-sub-margin-top-sp, var(--custom-title-sub-margin-top-pc,0.2em));
      font-size: 0.8em;
    }
    span{
      display: inline-block;
    }
  }
}
.post_style{
  .custom-title-1 {
    .main {
      &:empty{
        display: none;
      }
    }
    .sub {
      &:empty{
        display: none;
      }
    }
  }

}  
