.lw_content_wrap.page {
  .paid-block-contact-2 {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
  &:has(.first_content + .paid-block-contact-2) {
    .first_content {
      display: none;
    }
  }
  &:has(.paid-block-contact-2 + .last_content) {
    .last_content {
      display: none;
    }
  }
}
.paid-block-contact-2 {
  position: relative;
  z-index: 10;
  padding: 80px 24px;
  container-type: inline-size;
  @container (max-width: 800px) {
    padding: 64px 24px;
  }
  @container (max-width: 600px) {
    padding: 56px 24px;
  }
  .bg_filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    .bg_filter_inner {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 0.5;
    }
    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .this_wrap {
    max-width: 1080px;
    margin: 0 auto;
    .title {
      text-align: center;
      color: #fff;
      span.main {
        display: block;
        font-size: 48px;
        line-height: 1.4em;
        letter-spacing: 0.08em;
        font-weight: 600;
        @container (max-width: 900px) {
          font-size: 44px;
        }
        @container (max-width: 800px) {
          font-size: 40px;
        }

        @container (max-width: 500px) {
          font-size: 36px;
        }
      }
      span.sub {
        margin-top: 8px;
        display: block;
        font-size: 16px;
        line-height: 1.6em;
        letter-spacing: 0.08em;
        font-weight: 500;
        @container (max-width: 600px) {
          font-size: 15px;
        }
      }
    }
    p.description {
      margin-top: 2.5em;
      line-height: 2;
      color: #fff;
      text-align: center;
      font-size: 16px;
      @container (max-width: 600px) {
        font-size: 15px;
      }
      &.pc_left {
        text-align: left;
      }
      &.pc_center {
        text-align: center;
      }
      @container (max-width: 600px) {
        &.sp_left {
          text-align: left;
        }
        &.sp_center {
          text-align: center;
        }
      }
    }
  }
  .lw_mail_form {
    margin-top: 24px;
    .form_group {
      position: relative;
      padding: 24px 0;
      color: #fff;
      grid-template-columns: 270px calc(100% - 270px);
      @container (max-width: 800px) {
        padding: 16px 0;
        grid-template-columns: 100%;
      }
      + .form_group {
        margin-top: 0;
      }
      .label_in {
        padding-right: 0;
        label {
          display: flex;
          justify-content: start;
          gap: 20px;
          color: #fff;
          .required {
            margin-top: 6px;
            padding: 6px;
            font-size: 12px;
            border-radius: 0;
            line-height: 1;
            font-weight: 500;
          }
          br {
            @container (max-width: 800px) {
              display: none;
            }
          }
        }
      }
      .form_in {
        padding-left: 24px;
        @container (max-width: 800px) {
          padding-left: 0;
        }
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="url"],
      input[type="password"],
      textarea {
        padding: 0.8em 0.8em 0.6em 0.8em;
        line-height: 1.8em;
        width: 100%;
        background: #f6f6f6;
        border-radius: 0;
        border: none;
        @container (max-width: 800px) {
          font-size: var(--font-size-post-df_tb);
        }
        @container (max-width:600px) {
          font-size: var(--font-size-post-df_sp);
        }
        &:focus {
          border-color: var(--color-main);
          outline-color: var(--color-main);
        }
        // プレースホルダー
        &::placeholder {
          color: #c6c6c6;
        }
      }

      select {
        padding: 1em 0.8em 0.8em 0.8em;
        border-radius: 0;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8l256 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z' fill='%234e4e4e'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 8px top 40%;
        background-size: 16px 20px;
        @container (max-width: 800px) {
          background-position: right 8px top 34%;
        }
      }
      .radio_in {
        display: grid;
        gap: 20px;
        label {
          cursor: pointer;
          + label {
            margin-top: 0 !important;
            color: #fff;
          }
          input {
            position: relative;
            margin-top: -2px;
            width: 18px;
            height: 18px;
            accent-color: var(--color-main);
            border: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            outline: none;
            background: #fff;
            border-radius: 50%;
            &:checked::before {
              position: absolute;
              top: 2px;
              left: 2px;
              content: "";
              width: 14px;
              height: 14px;
              background-color: #0377b1; /* 選択色 */
              border-radius: 50%;
            }
          }
        }
      }
    }
    .checkbox_in,
    .consent_check_wrap {
      label {
        cursor: pointer;
      }
      input[type="checkbox"] {
        margin-top: -2px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        background-color: #f0f0f0; /* 未選択時の背景 */
        cursor: pointer;
        position: relative;
        outline: none;
        border: none; /* ← ボーダーを完全に消す */
        &:checked::after {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          width: 12px;
          height: 12px;
          background-color: #007cba; /* チェック色 */
        }
      }
    }
  }
  .consent_check_wrap {
    margin-top: 16px;
    color: #fff;
    p {
      a {
        color: #fff;
      }
    }
  }
  .consent_set {
    @container (max-width:600px) {
      margin-top: 0 !important;
    }
    .consent_text_wrap {
      border-radius: 0;
      border: none !important;
      color: #000;
    }
  }
}
