.footer_ptn_2 {
  position: relative;
  z-index: 10;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: var(--color-main);
    opacity: 0.04;
  }
  .widget_area_footer {
    margin: 0 auto;
    padding: 64px 0;
    max-width: 1200px;
    width: calc(100% - 64px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
    @media (max-width: 800px) {
      padding: 48px 0;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .inner {
    padding: 72px 16px 64px 16px;
    @media (max-width: 500px) {
      padding: 56px 12px 40px 12px;
      
    }

  }
  .logo {
    display: flex;
    justify-content: center;
    a {
      color: #fff;
      font-weight: 700;
      text-align: center;
      .text{
        font-size: 48px;
      }
      img{
        width: auto;
      }
    }
  }
  .logo_bottom.text_in{
    margin-top: 1.2em;
    text-align: center;
    color: #fff;
    line-height: 1.8;
    @media (max-width: 800px) {
      font-size: 15px;
    }
  }
  .sns_links {
    margin: 1em 0 2em 0;
    ul {
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      li {
        height: 100%;
        aspect-ratio: 1/1;
        a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 80%;
            height: 80%;
            fill: #fff;
            transition: 0.4s;
          }
          &:hover {
            svg {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    & + .footer_nav {
      margin-top: 2.4em;
    }
  }
  .footer_nav {
    margin-top: 2em;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap:24px 0;
      li {
        @media (max-width: 500px) {
          width: 100%;
          text-align: center;
          
        }
        a {
          padding: 8px 16px;
          color: #fff;
          font-size: 14px;
        }
        ul {
          display: none;
        }
      }
    }
    & + .copyright {
      margin-top: 3.5em;
    }
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1.5em;
    @media (max-width: 800px) {
      font-size: 11px;
    }
    span {
      margin-right: 2px;
      font-family: var(--font-family-gothic_Arial);
    }
  }
}
