.lw_content_wrap.page {
  .wp-block-wdl-lw-post-list-3 {
    position: relative;
    z-index: 10;
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
}
.lw_content_wrap.single {
   .wp-block-wdl-lw-post-list-3{
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        @container (max-width: 800px) {
            margin-left: -32px;
            margin-right: -32px;
            width: calc(100% + 64px);
        }
        @container (max-width:600px) {
            margin-left: -24px;
            margin-right: -24px;
            width: calc(100% + 48px);
        }
        @container (max-width:500px) {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
        }
    }
}
.wp-block-wdl-lw-post-list-3,
[data-type="wdl/lw-post-list-3"] {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 40px;
  @container (max-width:550px) {
    padding: 24px;
  }
  @media (max-width: 400px) {
    padding: 16px;
  }
  *{
    box-sizing: border-box;
  }
  .filter,
  .editor_in_filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: var(--color-main);
    opacity: 0.1;
  }
  .lw_post-list-3 {
    margin: 0 auto;
    max-width: calc(var(--max-width-clm-1) - 80px);
    width: 100%;
    ul.post-list-3__wrap {
      margin: 0;
      width: 100%;
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      gap: 24px;
      @container (max-width:1000px) {
        gap: 16px;
      }
      @container (max-width:800px) {
        grid-template-columns: repeat(1, 1fr);
      }
      li {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        a {
          display: grid;
          grid-template-columns: 140px calc(100% - 140px);
          color: #000;
          text-decoration: none;
          @container (max-width:450px) {
            grid-template-columns: 120px calc(100% - 120px);
          }
          @media (max-width: 400px) {
            grid-template-columns: 112px calc(100% - 112px);
          }
          figure {
            margin: 0;
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.6s;
            }
          }
          .in {
            padding: 16px;
            height: 140px;
            overflow: hidden;
            @container (max-width:450px) {
              height: 120px;
            }
            @media (max-width: 400px) {
              padding: 12px;
              height: 112px;
            }
            .data {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .cat {
                padding: 6px 8px;
                font-size: 11px;
                line-height: 1.2em;
                color: #fff;
                border-radius: 2px;
                transition: 0.3s;
                letter-spacing: 0;
                @container (max-width:450px) {
                  font-size: 10px;
                  line-height: 1;
                }
              }
              .date {
                font-size: 14px;
                opacity: 0.6;
                line-height: 1;
                @container (max-width:450px) {
                  font-size: 12px;
                }
              }
            }
            h3 {
              margin-top: 12px;
              line-height: 1.7em;
              font-size: 16px;
              font-feature-settings: "palt";
              transition: 0.6s;

              @container (max-width:1000px) {
                font-size: 15px;
              }
              @container (max-width:900px) {
                font-size: 14px;
              }
              @container (max-width:800px) {
                font-size: 15px;
              }
              @container (max-width:450px) {
                font-size: 13px;
              }
              @media (max-width: 400px) {
                font-size: 12px;
              }
            }
            p {
              margin: 0;
              line-height: 1.6em;
              font-size: 12px;
              transition: 0.6s;
              @container (max-width:600px) {
                font-size: 12px;
              }
              @container (max-width:400px) {
                font-size: 11px;
              }
            }
          }
          &:hover {
            opacity: 1;
            img {
              transform: scale(1.1);
            }
            h3,
            p {
              color: var(--color-accent);
            }
          }
        }
      }
    }
  }
}
