.lw-pr-custom-title-13 {
  margin: 1em auto;
  font-size: 16px;
  @media (max-width: 800px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
  @media (max-width: 400px) {
    font-size: 10px;
  }
  * {
    box-sizing: border-box;
  }
  .ttl {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1.2em 1em 1.25em 1em;
    width: calc(100% - 4em);
    background: var(--color-main);
    color: #fff;
    text-align: center;
    font-size: 16px;
    @media (max-width: 800px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }
    .main {
      display: block;
      font-size: 2em;
      line-height: 1.4;
      color: var(--color-main-text);
      + .sub {
        margin-top: 0.2em;
      }
    }
    .sub {
      display: block;
      font-size: 1em;
      line-height: 1.6;
      color: var(--color-sub-text);
    }
    .left {
      position: absolute;
      top: 0;
      right: calc(100% - 1px);
      width: 2em;
      height: 100%;
      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 50%;
        content: "";
        display: block;
        background: var(--color-main);
      }
      &::before {
        top: 0;
        content: "";
        clip-path: polygon(100% 0, 0 0, 100% 100%);
      }
      &::after {
        bottom: 0;
        content: "";
        clip-path: polygon(100% 100%, 100% 0, 0 100%);
      }
    }
    .right {
      position: absolute;
      top: 0;
      left: calc(100% - 1px);
      width: 2em;
      height: 100%;
      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 50%;
        content: "";
        display: block;
        background: var(--color-main);
      }
      &::before {
        top: 0;
        content: "";
        clip-path: polygon(0 0, 100% 0, 0 100%);
      }
      &::after {
        bottom: 0;
        content: "";
        clip-path: polygon(0 100%, 0 0, 100% 100%);
      }
    }
  }
}
