.lw-pr-custom-title-13 {
  margin: 1em auto;
  font-size: 16px;
}

@media (max-width: 800px) {
  .lw-pr-custom-title-13 {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .lw-pr-custom-title-13 {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .lw-pr-custom-title-13 {
    font-size: 10px;
  }
}

.lw-pr-custom-title-13 * {
  box-sizing: border-box;
}

.lw-pr-custom-title-13 .ttl {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1.2em 1em 1.25em 1em;
  width: calc(100% - 4em);
  background: var(--color-main);
  color: #fff;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 800px) {
  .lw-pr-custom-title-13 .ttl {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .lw-pr-custom-title-13 .ttl {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .lw-pr-custom-title-13 .ttl {
    font-size: 10px;
  }
}

.lw-pr-custom-title-13 .ttl .main {
  display: block;
  font-size: 2em;
  line-height: 1.4;
  color: var(--color-main-text);
}

.lw-pr-custom-title-13 .ttl .main + .sub {
  margin-top: 0.2em;
}

.lw-pr-custom-title-13 .ttl .sub {
  display: block;
  font-size: 1em;
  line-height: 1.6;
  color: var(--color-sub-text);
}

.lw-pr-custom-title-13 .ttl .left {
  position: absolute;
  top: 0;
  right: calc(100% - 1px);
  width: 2em;
  height: 100%;
}

.lw-pr-custom-title-13 .ttl .left::before, .lw-pr-custom-title-13 .ttl .left::after {
  position: absolute;
  width: 100%;
  height: 50%;
  content: "";
  display: block;
  background: var(--color-main);
}

.lw-pr-custom-title-13 .ttl .left::before {
  top: 0;
  content: "";
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.lw-pr-custom-title-13 .ttl .left::after {
  bottom: 0;
  content: "";
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.lw-pr-custom-title-13 .ttl .right {
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  width: 2em;
  height: 100%;
}

.lw-pr-custom-title-13 .ttl .right::before, .lw-pr-custom-title-13 .ttl .right::after {
  position: absolute;
  width: 100%;
  height: 50%;
  content: "";
  display: block;
  background: var(--color-main);
}

.lw-pr-custom-title-13 .ttl .right::before {
  top: 0;
  content: "";
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.lw-pr-custom-title-13 .ttl .right::after {
  bottom: 0;
  content: "";
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}
