.wp-block {
  &:has(.lw-banner-info-02) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.lw_content_wrap.page {
  .lw-banner-info-02 {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
}
.lw-banner-info-02 {
  * {
    box-sizing: border-box;
  }
  + .last_content {
    padding: 0 !important;
  }
  ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #000;
    @container (max-width:800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @container (max-width:450px) {
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      height: 168px;
      @container (max-width:1080px) {
        height: 152px;
      }
      @container (max-width:800px) {
        height: 148px;
      }
      @container (max-width:420px) {
        height: 140px;
      }
      a,
      .a {
        position: relative;
        z-index: 10;
        padding: 24px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: end;
        align-items: end;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        @container (max-width:1080px) {
          padding: 16px;
        }
        .filter {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.5;
        }
        h3.title {
          margin: 0;
          width: 100%;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.5em;
          transition: color 0.6s;
          color: #fff;
          @container (max-width:1080px) {
            font-size: 16px;
          }
          @container (max-width:550px) {
            font-size: 15px;
          }
          @container (max-width:450px) {
            font-size: 16px;
          }
        }
        p.description {
          margin: 0;
          margin-top: 6px;
          font-size: 12px;
          line-height: 1.5em;
          color: #fff;
          transition: color 0.6s;
          @container (max-width:1080px) {
            font-size: 12px;
          }
          @container (max-width:550px) {
            font-size: 11px;
          }
          @container (max-width:450px) {
            font-size: 12px;
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.6s;
        }
      }
      a {
        &:hover {
          text-decoration: none;
          opacity: 1;
          p.description,
          h3.title {
            color: var(--color-accent);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
