.wp-block {
  &:has(.lw-gallery-01) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.lw_content_wrap {
  &.page{
    .lw-gallery-01 {
      margin-left: calc((100% - 100vw) / 2);
      width: 100vw;
    }
  }
  .single{
    @media (min-width: 1120px) {
      .lw-gallery-01 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
      }
      
    }
  }
}
.lw-gallery-01 {
  margin: 24px 0;
  @container (max-width:550px) {
    margin: 16px 0;
  }
  * {
    box-sizing: border-box;
  }
  p{
    margin: 32px auto;
    padding: 0 24px;
    max-width: 800px;
    line-height: 1.8em;
    text-align: center;
    white-space: pre-line;
    &.left_pc{
      text-align: left;
    }
    &.center_pc{
      text-align: center;
    }
    &.right_pc{
      text-align: right;
    }
    @container (max-width:550px) {
      &.left_sp {
        text-align: left;
      }
      &.center_sp {
        text-align: center;
      }
      &.right_sp {
        text-align: right;
      }
    }
    @container (max-width:450px) {
      padding: 0 16px;
    }
  }
  ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
      aspect-ratio: 1;
      div{
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s;
      }
    }
  }
}
