.lw-image-2 {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.lw-image-2 * {
  box-sizing: border-box;
}

.lw-image-2 .image__inner {
  position: relative;
  z-index: 10;
  padding: 24px;
  display: flex;
  align-content: end;
  align-items: end;
  border-radius: 1.2em;
  overflow: hidden;
  aspect-ratio: 1/0.7;
}

.lw-image-2 .image__inner p {
  width: 100%;
  margin: 0;
  color: #fff;
}

.lw-image-2 .image__inner.no_1 {
  grid-column: span 2;
}

.lw-image-2 .image__inner img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
}

.lw-image-2 .image__inner .image_filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
