.lw-button-03{
    position: relative;
    z-index: 10;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    *{
        box-sizing: border-box;
    }
    .a_inner{
        position: relative;
        z-index: 10;
        overflow: hidden;
        border-radius: 4px;
        transition: opacity 0.3s;
        a{
            padding: 12px 1em;
            display: block;
            color: #fff;
            span.text_sub{
                padding: 4px 6px;
                width: 100%;
                display: block;
                background: #fff;
                text-align: center;
                font-size: 14px;
                line-height: 1.4em;
                border-radius: 3px;
                @container (max-width:500px) {
                    font-size: 12px;
                }
            }
            .text_main_wrap{
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap:8px;
                font-size: 20px;
                line-height: 1.3em;
                @container (max-width:500px) {
                    font-size: 18px;
                }
                .icon-svg{
                    padding-top: 4px;
                    svg{
                        height: 1em;
                        width: auto;
                    }
                }
                span.text_main{
                    display: block;
                    text-align: center;
                }
            }
        }
        .a_background{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: var(--color-main);
            transition: opacity 0.3s;
        }
        &:hover{
            .a_background{
                opacity: 0.8;
            }
        }
    }
}