.lw-pr-border-1 {
    margin-top: var(--border-1-mt-pc);
    margin-left: var(--border-1-ml-pc);
    margin-bottom: var(--border-1-mb-pc);
    margin-right: var(--border-1-mr-pc);
    max-width: var(--border-1-max-width-pc);
    border: var(--border-1-width-pc) var(--border-1-style) var(--border-1-color);
    @media (max-width: 700px) {
        margin-top: var(--border-1-mt-sp);
        margin-left: var(--border-1-ml-sp);
        margin-bottom: var(--border-1-mb-sp);
        margin-right: var(--border-1-mr-sp);
        max-width: var(--border-1-max-width-sp);
        border-width: var(--border-1-width-sp);
    }
}
