.paid-block-lw-button-5 {
  position: relative;
  z-index: 10;
  margin: 2em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}

@container (max-width:1000px) {
  .paid-block-lw-button-5 {
    display: block;
  }
}

.paid-block-lw-button-5 * {
  box-sizing: border-box;
}

.paid-block-lw-button-5.position_left {
  justify-content: flex-start;
}

@container (max-width:500px) {
  .paid-block-lw-button-5.position_left .a_inner {
    margin-left: auto;
    margin-right: auto;
  }
}

.paid-block-lw-button-5.position_center {
  justify-content: center;
}

@container (max-width:1000px) {
  .paid-block-lw-button-5.position_center .a_inner {
    margin-left: auto;
    margin-right: auto;
  }
}

.paid-block-lw-button-5.position_right {
  justify-content: flex-end;
}

@container (max-width:1000px) {
  .paid-block-lw-button-5.position_right .a_inner {
    margin-left: auto;
  }
}

@container (max-width:500px) {
  .paid-block-lw-button-5.position_right .a_inner {
    margin-left: auto;
    margin-right: auto;
  }
}

.paid-block-lw-button-5 .a_inner {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 340px;
  overflow: hidden;
  transition: opacity 0.3s;
}

@container (max-width:1000px) {
  .paid-block-lw-button-5 .a_inner + .a_inner {
    margin-top: 1em;
  }
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner {
    max-width: 300px;
  }
}

.paid-block-lw-button-5 .a_inner a.a,
.paid-block-lw-button-5 .a_inner .a {
  padding: 28px 40px;
  width: 100%;
  height: 100%;
  min-height: 112px;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  color: #fff;
  cursor: pointer;
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner a.a,
  .paid-block-lw-button-5 .a_inner .a {
    min-height: 104px;
  }
}

.paid-block-lw-button-5 .a_inner a.a:has(.icon-svg),
.paid-block-lw-button-5 .a_inner .a:has(.icon-svg) {
  padding-left: 0;
}

.paid-block-lw-button-5 .a_inner a.a:has(.icon-svg) .text_in,
.paid-block-lw-button-5 .a_inner .a:has(.icon-svg) .text_in {
  width: calc(100% - 80px);
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner a.a:has(.icon-svg) .text_in,
  .paid-block-lw-button-5 .a_inner .a:has(.icon-svg) .text_in {
    width: calc(100% - 64px);
  }
}

.paid-block-lw-button-5 .a_inner a.a .text_in,
.paid-block-lw-button-5 .a_inner .a .text_in {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.paid-block-lw-button-5 .a_inner a.a .text_in .text_main,
.paid-block-lw-button-5 .a_inner .a .text_in .text_main {
  width: 100%;
  display: block;
  font-size: 24px;
  white-space: nowrap;
  font-feature-settings: "palt";
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner a.a .text_in .text_main,
  .paid-block-lw-button-5 .a_inner .a .text_in .text_main {
    font-size: 22px;
  }
}

.paid-block-lw-button-5 .a_inner a.a .text_in .text_sub,
.paid-block-lw-button-5 .a_inner .a .text_in .text_sub {
  margin-top: 4px;
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 1.5em;
  white-space: nowrap;
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner a.a .text_in .text_sub,
  .paid-block-lw-button-5 .a_inner .a .text_in .text_sub {
    font-size: 14px;
  }
}

.paid-block-lw-button-5 .a_inner a.a:after,
.paid-block-lw-button-5 .a_inner .a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 50%;
  background: #000;
  opacity: 0.05;
}

.paid-block-lw-button-5 .a_inner .a_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.paid-block-lw-button-5 .a_inner .a_in_border {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  transition: opacity 0.3s;
}

.paid-block-lw-button-5 .a_inner .icon-svg {
  padding-left: 1%;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@container (max-width:500px) {
  .paid-block-lw-button-5 .a_inner .icon-svg {
    width: 64px;
  }
}

.paid-block-lw-button-5 .a_inner .icon-svg .icon-svg-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.paid-block-lw-button-5 .a_inner .icon-svg svg {
  height: auto;
  transition: transform 0.3s;
  fill: #fff;
}

.paid-block-lw-button-5 .a_inner a:hover .a_background {
  opacity: 0.8;
}

.paid-block-lw-button-5 .a_inner a:hover .icon-svg svg {
  transform: translateX(3px);
}

.paid-block-lw-button-5 .a_inner > p {
  display: none;
}
