.header_ptn_6 {
  .inner {
    background: #fff8d4;
    &::after {
      opacity: 0;
    }
  }
}
.first_content {
  display: none;
}
@keyframes car_image_anime {
  0% {
    right: 3%;
    transform: scaleX(1);
  }
  5% {
    right: 3%;
    transform: scaleX(1);
  }
  45% {
    right: 68%;
    transform: scaleX(1);
  }
  50% {
    right: 68%;
    transform: scaleX(-1);
  }
  95% {
    right: 3%;
    transform: scaleX(-1);
  }
}
@keyframes carShakeY {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}
.fv_nijinoie {
  padding: 48px;
  padding-top: 0;
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
  background: #fff8d4;
  @media (max-width: 1250px) {
    padding: 32px 24px;
    padding-top: 0;
  }
  @media (max-width: 1000px) {
    padding: 0;
    background: none;
  }
  .fv_inner {
    position: relative;
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 400px - 32px) 400px;
    gap: 32px;
    @media (max-width: 1250px) {
      grid-template-columns: calc(100% - 360px - 24px) 360px;
      gap: 24px;
    }
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
    .fv_inner_in {
      position: relative;
      z-index: 10;
      height: 100%;
      @media (max-width: 1000px) {
        padding: 0 20px;
      }
      @media (max-width: 700px) {
        padding: 0 20px;
      }
      @media (max-width: 600px) {
        padding: 0 16px;
      }
      @media (max-width: 500px) {
        padding: 0 10px;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 89%;
        content: "";
        display: block;
        background: #fff8d4;
      }
      .btm_image {
        position: relative;
        margin-top: 0.5em;
        @media (max-width: 1000px) {
          margin-top: 0.7em;
        }
        .town {
          img {
            width: 100%;
            height: auto;
            transform: translateX(3%);
            @media (max-width: 1000px) {
              width: 80%;
            }
          }
        }
      }
    }
    .tree {
      position: absolute;
      bottom: -34%;
      right: 24%;
      z-index: 100;
      width: 5%;
      height: auto;
      @media (max-width: 1000px) {
        bottom: -3%;
        right: 26%;
        width: 6%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .car_image {
      position: absolute;
      bottom: -28%;
      right: 3%;
      z-index: 10;
      width: 10%;
      height: auto;
      animation: car_image_anime 26s ease infinite;
      @media (max-width: 1000px) {
        bottom: 2%;
        right: 2%;
        width: 16%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        animation: carShakeY 0.4s linear infinite;
      }
    }

    .main_visual {
      position: relative;
      z-index: 10;
      padding: 48px;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 24px;
      overflow: hidden;
      @media (max-width: 1100px) {
        padding: 32px;
      }
      @media (max-width: 1000px) {
        padding: 48px;
        height: auto;
        width: 100%;
        aspect-ratio: 16 / 10;
      }
      @media (max-width: 880px) {
        padding: 32px;
      }
      @media (max-width: 650px) {
        height: 375px;
        aspect-ratio: initial;
      }
      @media (max-width: 500px) {
        padding: 20px;
        height: 296px;
      }
      h1.ttl {
        font-size: 40px;
        color: #fff;
        line-height: 1.6em;
        font-weight: 600;
        @media (max-width: 1250px) {
          font-size: 32px;
        }
        @media (max-width: 880px) {
          font-size: 28px;
        }
        @media (max-width: 600px) {
          font-size: 24px;
        }
        @media (max-width: 400px) {
          font-size: 22px;
        }
        .u-line {
          position: relative;
          z-index: 10;
          &::after {
            position: absolute;
            bottom: 0.05em;
            left: 0.05em;
            z-index: -1;
            width: 100%;
            height: 0.4em;
            background: #fab5c2;
            content: "";
            border-radius: 3em;
          }
        }
      }
      picture {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .fv_cta {
      padding: 32px;
      padding-top: 40px;
      background: #fff;
      border-radius: 24px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
      @media (max-width: 1100px) {
        padding: 24px;
        padding-top: 32px;
      }
      @media (max-width: 1000px) {
        margin: 0 auto;
        margin-top: 24px;
        max-width: calc(100% - 96px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      @media (max-width: 880px) {
        width: 100%;
      }
      @media (max-width: 500px) {
        max-width: calc(100% - 40px);
      }
      > p {
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 21px;
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
        @media (max-width: 1250px) {
          font-size: 18px;
        }
        @media (max-width: 880px) {
          font-size: 20px;
        }
        @media (max-width: 410px) {
          font-size: 18px;
        }
        @media (max-width: 360px) {
          font-size: 16px;
        }
      }
      .btns {
        display: grid;
        gap: 12px;
        @media (max-width: 1000px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 880px) {
          grid-template-columns: repeat(1, 1fr);
        }
        a.btn {
          position: relative;
          padding: 0.16666666em;
          height: 5em;
          background: #ef8798;
          border-radius: 10px;
          color: #fff;
          font-size: 24px;
          transition: opacity 0.3s ease;
          @media (max-width: 1250px) {
            font-size: 20px;
          }
          @media (max-width: 1000px) {
            height: 5.5em;
            font-size: 18px;
          }
          @media (max-width: 880px) {
            margin: 0 auto;
            width: 100%;
            height: 5em;
            max-width: 340px;
            font-size: 24px;
          }
          @media (max-width: 500px) {
            max-width: 320px;
            font-size: 20px;
          }
          &.green {
            background: #159a4f;
          }
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 50%;
            content: "";
            display: block;
            background: #fff;
            opacity: 0.1;
          }
          span {
            display: block;
          }
          .in {
            position: relative;
            z-index: 10;
            padding-right: 1.5em;
            height: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            border: 1px solid #fff;
            border-radius: 10px;
            font-weight: 600;
            .main {
              white-space: nowrap;
              line-height: 1.4em;
            }
            .sub {
              margin-top: 0.2em;
              white-space: nowrap;
              font-size: 0.6em;
              line-height: 1.8em;
              @media (max-width: 1250px) {
                margin-top: 2px;
              }
            }
            .icon {
              width: 3.333333em;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                fill: #fff;
                height: auto;
                width: 37%;
                transition: transform 0.3s ease;
              }
            }
          }
          &.tel {
            border: 2px solid #ef8798;
            background: #fff;
            color: #111;
            .in {
              .main {
                font-size: 1.15em;
              }
              .icon {
                svg {
                  width: 43%;
                  fill: #ef8798;
                }
              }
            }
          }
          &:hover {
            opacity: 0.9;
            .in {
              .icon {
                svg {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  }
}
