.header_ptn_6 .inner {
  background: #fff8d4;
}
.header_ptn_6 .inner::after {
  opacity: 0;
}

.first_content {
  display: none;
}

@keyframes car_image_anime {
  0% {
    right: 3%;
    transform: scaleX(1);
  }
  5% {
    right: 3%;
    transform: scaleX(1);
  }
  45% {
    right: 68%;
    transform: scaleX(1);
  }
  50% {
    right: 68%;
    transform: scaleX(-1);
  }
  95% {
    right: 3%;
    transform: scaleX(-1);
  }
}
@keyframes carShakeY {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}
.fv_nijinoie {
  padding: 48px;
  padding-top: 0;
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
  background: #fff8d4;
}
@media (max-width: 1250px) {
  .fv_nijinoie {
    padding: 32px 24px;
    padding-top: 0;
  }
}
@media (max-width: 1000px) {
  .fv_nijinoie {
    padding: 0;
    background: none;
  }
}
.fv_nijinoie .fv_inner {
  position: relative;
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 400px - 32px) 400px;
  gap: 32px;
}
@media (max-width: 1250px) {
  .fv_nijinoie .fv_inner {
    grid-template-columns: calc(100% - 360px - 24px) 360px;
    gap: 24px;
  }
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
.fv_nijinoie .fv_inner .fv_inner_in {
  position: relative;
  z-index: 10;
  height: 100%;
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_inner_in {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .fv_nijinoie .fv_inner .fv_inner_in {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .fv_nijinoie .fv_inner .fv_inner_in {
    padding: 0 16px;
  }
}
@media (max-width: 500px) {
  .fv_nijinoie .fv_inner .fv_inner_in {
    padding: 0 10px;
  }
}
.fv_nijinoie .fv_inner .fv_inner_in::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 89%;
  content: "";
  display: block;
  background: #fff8d4;
}
.fv_nijinoie .fv_inner .fv_inner_in .btm_image {
  position: relative;
  margin-top: 0.5em;
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_inner_in .btm_image {
    margin-top: 0.7em;
  }
}
.fv_nijinoie .fv_inner .fv_inner_in .btm_image .town img {
  width: 100%;
  height: auto;
  transform: translateX(3%);
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_inner_in .btm_image .town img {
    width: 80%;
  }
}
.fv_nijinoie .fv_inner .tree {
  position: absolute;
  bottom: -34%;
  right: 24%;
  z-index: 100;
  width: 5%;
  height: auto;
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .tree {
    bottom: -3%;
    right: 26%;
    width: 6%;
  }
}
.fv_nijinoie .fv_inner .tree img {
  width: 100%;
  height: auto;
}
.fv_nijinoie .fv_inner .car_image {
  position: absolute;
  bottom: -28%;
  right: 3%;
  z-index: 10;
  width: 10%;
  height: auto;
  animation: car_image_anime 26s ease infinite;
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .car_image {
    bottom: 2%;
    right: 2%;
    width: 16%;
  }
}
.fv_nijinoie .fv_inner .car_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: carShakeY 0.4s linear infinite;
}
.fv_nijinoie .fv_inner .main_visual {
  position: relative;
  z-index: 10;
  padding: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .fv_nijinoie .fv_inner .main_visual {
    padding: 32px;
  }
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .main_visual {
    padding: 48px;
    height: auto;
    width: 100%;
    aspect-ratio: 16/10;
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .main_visual {
    padding: 32px;
  }
}
@media (max-width: 650px) {
  .fv_nijinoie .fv_inner .main_visual {
    height: 375px;
    aspect-ratio: initial;
  }
}
@media (max-width: 500px) {
  .fv_nijinoie .fv_inner .main_visual {
    padding: 20px;
    height: 296px;
  }
}
.fv_nijinoie .fv_inner .main_visual h1.ttl {
  font-size: 40px;
  color: #fff;
  line-height: 1.6em;
  font-weight: 600;
}
@media (max-width: 1250px) {
  .fv_nijinoie .fv_inner .main_visual h1.ttl {
    font-size: 32px;
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .main_visual h1.ttl {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .fv_nijinoie .fv_inner .main_visual h1.ttl {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .fv_nijinoie .fv_inner .main_visual h1.ttl {
    font-size: 22px;
  }
}
.fv_nijinoie .fv_inner .main_visual h1.ttl .u-line {
  position: relative;
  z-index: 10;
}
.fv_nijinoie .fv_inner .main_visual h1.ttl .u-line::after {
  position: absolute;
  bottom: 0.05em;
  left: 0.05em;
  z-index: -1;
  width: 100%;
  height: 0.4em;
  background: #fab5c2;
  content: "";
  border-radius: 3em;
}
.fv_nijinoie .fv_inner .main_visual picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.fv_nijinoie .fv_inner .main_visual picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv_nijinoie .fv_inner .fv_cta {
  padding: 32px;
  padding-top: 40px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}
@media (max-width: 1100px) {
  .fv_nijinoie .fv_inner .fv_cta {
    padding: 24px;
    padding-top: 32px;
  }
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_cta {
    margin: 0 auto;
    margin-top: 24px;
    max-width: calc(100% - 96px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .fv_cta {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .fv_nijinoie .fv_inner .fv_cta {
    max-width: calc(100% - 40px);
  }
}
.fv_nijinoie .fv_inner .fv_cta > p {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 1250px) {
  .fv_nijinoie .fv_inner .fv_cta > p {
    font-size: 18px;
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .fv_cta > p {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .fv_nijinoie .fv_inner .fv_cta > p {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .fv_nijinoie .fv_inner .fv_cta > p {
    font-size: 16px;
  }
}
.fv_nijinoie .fv_inner .fv_cta .btns {
  display: grid;
  gap: 12px;
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_cta .btns {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .fv_cta .btns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn {
  position: relative;
  padding: 0.16666666em;
  height: 5em;
  background: #ef8798;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  transition: opacity 0.3s ease;
}
@media (max-width: 1250px) {
  .fv_nijinoie .fv_inner .fv_cta .btns a.btn {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .fv_nijinoie .fv_inner .fv_cta .btns a.btn {
    height: 5.5em;
    font-size: 18px;
  }
}
@media (max-width: 880px) {
  .fv_nijinoie .fv_inner .fv_cta .btns a.btn {
    margin: 0 auto;
    width: 100%;
    height: 5em;
    max-width: 340px;
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .fv_nijinoie .fv_inner .fv_cta .btns a.btn {
    max-width: 320px;
    font-size: 20px;
  }
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn.green {
  background: #159a4f;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  content: "";
  display: block;
  background: #fff;
  opacity: 0.1;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn span {
  display: block;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn .in {
  position: relative;
  z-index: 10;
  padding-right: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 600;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn .in .main {
  white-space: nowrap;
  line-height: 1.4em;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn .in .sub {
  margin-top: 0.2em;
  white-space: nowrap;
  font-size: 0.6em;
  line-height: 1.8em;
}
@media (max-width: 1250px) {
  .fv_nijinoie .fv_inner .fv_cta .btns a.btn .in .sub {
    margin-top: 2px;
  }
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn .in .icon {
  width: 3.333333em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn .in .icon svg {
  fill: #fff;
  height: auto;
  width: 37%;
  transition: transform 0.3s ease;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn.tel {
  border: 2px solid #ef8798;
  background: #fff;
  color: #111;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn.tel .in .main {
  font-size: 1.15em;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn.tel .in .icon svg {
  width: 43%;
  fill: #ef8798;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn:hover {
  opacity: 0.9;
}
.fv_nijinoie .fv_inner .fv_cta .btns a.btn:hover .in .icon svg {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */