.post_list_ptn_1 {
    margin: 80px auto;
    max-width: 1080px;
    width: calc(100% - 48px);
    container-type: inline-size;
    @media (max-width: 1080px) {
        margin: 40px auto;
    }
    @media (max-width: 700px) {
        margin: 32px auto;
        width: calc(100% - 32px);
    }
    .post_list_put {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        @container (max-width: 1079px) {
            gap:40px 24px ;
        }
        @container (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @container (max-width: 520px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
        }
        .post_item {
            position: relative;
            display: block;
            figure,
            .no_image {
                width: 100%;
                aspect-ratio: 4/2.2;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s;
                }
            }
            .no_image {
                position: relative;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-top: 0.2em;
                    content: "NO IMAGE";
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.8em;
                    font-weight: 600;
                    color: #fff;
                    background: var(--color-main);
                    opacity: 0.1;
                    @media (max-width: 500px) {
                        font-size: 0.7em;
                    }
                }
            }
            .text_in {
                padding: 24px 2px 32px 2px;
                color: var(--color-black);
                @media (max-width: 500px) {
                    padding: 20px 2px 28px 2px;
                }
                .post_title {
                    font-size: 18px;
                    font-feature-settings: "palt";
                    line-height: 1.6em;
                    transition: color 0.3s;
                    color: var(--color-main);
                    @media (max-width: 800px) {
                        font-size: 16px;
                    }
                }
                > p {
                    margin-top: 0.6em;
                    line-height: 1.8em;
                    font-size: 14px;
                    @media (max-width: 800px) {
                        font-size: 12px;
                    }
                }
                .data {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    font-size: 12px;
                    color: #999;
                    @media (max-width: 500px) {
                        font-size: 11px;
                    }
                    .post_category {
                        margin-right: 10px;
                        padding-right: 10px;
                        border-right: 1px solid #999;
                    }
                }
            }
            &:hover {
                figure {
                    img {
                        transform: scale(1.1);
                    }
                }
                .post_title {
                    color: var(--color-red);
                }
            }
        }
    }
    .page_nation {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        @media (max-width: 500px) {
            margin-top: 40px;
        }
        > ul.page-numbers {
            display: flex;
            gap: 4px;
            font-size: 16px;
            @media (max-width: 700px) {
                font-size: 14px;
            }
            @media (max-width: 600px) {
                font-size: 13px;
            }
            @media (max-width: 500px) {
                font-size: 12px;
            }
            li {
                a,
                .current,
                .dots {
                    height: 3.4em;
                    width: 3.4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;
                    color: #101010;
                    transition: 0.3s;
                    border-radius: 50%;
                    &:hover {
                        background: var(--color-red);

                        color: #fff;
                        svg {
                            fill: #fff;
                        }
                        &.prev,
                        &.next {
                            border: 1px solid var(--color-red);
                        }
                    }
                }
                .dots {
                    pointer-events: none;
                }
                .next,
                .prev,
                .current {
                    border: 1px solid var(--color-main);
                    svg {
                        margin-right: 2px;
                        width: 12px;
                        height: 12px;
                        fill: var(--color-main);
                    }
                }
                .current {
                    background: var(--color-main);
                    color: #fff;
                    pointer-events: none;
                }
                .prev {
                    margin-right: 0.8em;
                }
                .next {
                    margin-left: 0.8em;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
