//drawer_nav ----------------
body {
    &:has(#wpadminbar) {
        .drawer_nav {
            top: 32px;
            @media (max-width: 784px) {
                top: 46px;
            }
        }
    }
}
.drawer_nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    .inner{
        position: relative;
        min-height: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 56px;
    }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        min-height: 100%;
        display: block;
        content: '';
        background: var(--color-main);
        opacity:0.1;
    }
    &.active {
        left: 0;
        visibility: initial;
        opacity: 1;
        z-index: 999;
    }
    a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: var(--font-size-post-df_pc);
        @media (max-width: 700px) {
            font-size: var(--font-size-post-df_tb);
        }
        @media (max-width: 500px) {
            font-size: var(--font-size-post-df_sp);
        }
    }
    ul.menu_sp {

        > li {
            position: relative;
            > a {
                padding: 1.3em 2em;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                @media (max-width: 500px) {
                    padding: 1.3em 1.5em;
                }
            }
            ul.sub-menu {
                display: none;
                background: #fff;
                li {
                    position: relative;
                    a {
                        padding: 1.3em 3em;
                        border-bottom: 1px solid rgba(223, 223, 223, 0.836);
                        color: #000;
                        @media (max-width: 500px) {
                            padding: 1.3em 2em;
                        }
                    }
                }
                ul {
                    position: relative;
                    z-index: 10;
                    &::after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        display: block;
                        content: '';
                        background: var(--color-sub);
                        opacity:0.05;
                    }
                    li {
                        a {
                            padding: 1em 4.5em;
                            font-size: 0.9em;
                            @media (max-width: 500px) {
                                padding: 1em 3em;
                            }
                        }
                    }
                }
            }
        }
    }
    .has-icon {
        display: none;
    }
    .down_btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 3.55em;
        width: 3.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-post-df_pc);
        @media (max-width: 700px) {
            font-size: var(--font-size-post-df_tb);
        }
        @media (max-width: 500px) {
            font-size: var(--font-size-post-df_sp);
        }
        > div {
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: var(--color-main);
            &::before,
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 50%;
                height: 2px;
                display: block;
                content: "";
                background: #fff;
                transition: 0.6s;
            }
            &::after {
                transform: rotate(-90deg);
            }
        }
        &.active {
            > div {
                &::after {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .drawer-menu-widget-area {
        margin: 32px auto 24px auto;
        padding: 0 16px;
        width: 100%;
        max-width: 480px;
        @media (max-width: 600px) {
            margin: 24px auto 16px auto;
        }
    }
}
.drawer_nav_filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}
.widget_area_drawer_bottom{
    position: relative;
    z-index: 10;
    padding: 40px;
    @media (max-width: 600px) {
        padding: 32px;
    }
    @media (max-width: 500px) {
        padding: 24px;
    }
    @media (max-width: 450px) {
        padding: 16px;
    }
}
//drawer_ptn_1_set 
.drawer_ptn_1_set  {
    .cta_btn{
        position: relative;
        z-index: 10;
        margin: 24px auto 24px auto;
        width: calc(100% - 48px);
        height: 64px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        @media (max-width: 500px) {
            height: 56px;
            width: calc(100% - 40px);
            font-size: 16px;
        }
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}