// #body ---------------------
body.scroll_off,
html.scroll_off {
  overflow: hidden;
}
body {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: var(--color-page-bg-pc);

    @media (max-width: 700px) {
      background: var(--color-page-bg-sp);
    }
  }
  &.single {
    .lw_content_wrap {
      position: relative;
      z-index: 10;
      &::after {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -9;
        width: 300%;
        height: 100%;
        content: "";
        display: block;
        background: var(--color-main);
        opacity: 0.05;
        @media (max-width: 500px) {
          background: #fff;
        }
      }
    }
  }
  &.admin-bar {
    .lw_header_main {
      &.fixed_on {
        top: 32px;
        @media (max-width: 782px) {
          top: 46px;
        }
      }
    }
  }
}
.lw_inline_block {
  display: inline-block;
}
.lw_header_main {
  background: #fff;
  &.fixed_on {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    width: 100%;
  }
  mark {
    background: none;
  }
}
.lw_footer_main {
  mark {
    background: none;
  }
}
.lw_information_bar {
  position: relative;
  z-index: 50;
  width: 100%;
  padding: 0.8em 0;
  display: block;
  background: var(--color-main);
  color: #fff;
  font-size: 14px;
  text-align: center;
  @media (max-width: 800px) {
    padding: 1.2em 0;
    font-size: 13px;
  }
  @media (max-width: 500px) {
    font-size: 12px;
  }
}
.lw_width_full_on {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}
//lw_content_wrap ----------------
.lw_content_wrap {
  container-type: inline-size;
}
.lw_content_wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100vw - 48px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 700px) {
    width: calc(100vw - 32px);
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  &.page,
  &.clm_1 {
    justify-content: center;
    max-width: var(--max-width-clm-1);
    .main_content {
      width: 100%;
      max-width: 100%;
    }
  }
  &.clm_2_left {
    flex-direction: row-reverse;
  }
  &.single {
    padding-bottom: 40px;
    @media (max-width: 1080px) {
      padding-bottom: 24px;
    }
    @media (max-width: 500px) {
      padding-bottom: 0;
    }
    .main_content {
      margin-top: 64px;
      @media (max-width: 1120px) {
        width: 100%;
      }
      @media (max-width: 1080px) {
        margin-top: 32px;
      }
      @media (max-width: 700px) {
        margin-top: 24px;
      }
      @media (max-width: 500px) {
        margin-top: 0;
      }
    }
  }
  .main_content {
    width: calc(100% - 300px - 24px);
  }
  .sidebar_pc {
    margin-top: 64px;
    width: 300px;
    min-height: 400px;
    @media (max-width: 1120px) {
      display: none;
    }
    @media (max-width: 1080px) {
      margin-top: 32px;
    }
    @media (max-width: 700px) {
      margin-top: 24px;
    }
    @media (max-width: 500px) {
      margin-top: 0;
    }
  }
  .post_bottom {
    margin-top: 24px;
    @media (max-width: 500px) {
      margin-top: 0;
    }
  }
  .post_padding_bottom {
    .post_style {
      padding: 0;
    }
    .post_style .lw_max_width_100vw:not(.block-editor-block-list__block) {
      padding: 0;

      width: calc(100% + 80px);
      margin-left: -40px !important;
      margin-right: -40px !important;

      @container (max-width: 795px) {
        width: calc(100% + 64px);
        margin-left: -32px !important;
        margin-right: -32px !important;
      }
      @container (max-width: 552px) {
        width: calc(100% + 48px);
        margin-left: -24px !important;
        margin-right: -24px !important;
      }
      @container (max-width: 500px) {
        width: calc(100% + 40px);
        margin-left: -20px !important;
        margin-right: -20px !important;
      }
    }
  }
}
// breadcrumbs_wrap ----------------
.breadcrumbs_wrap {
  position: relative;
  z-index: 10;
  padding: 8px 0;
  width: 100%;
  @media (max-width: 700px) {
    padding: 10px 0;
  }
  &.ptn_1 {
    &::after {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: -1;
      height: 100%;
      width: 300%;
      content: "";
      display: block;
      background: var(--color-main);
    }
  }
  &.ptn_2 {
    padding: 16px 0;
    @media (max-width: 700px) {
      padding: 10px 0;
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: -100%;
      right: -100%;
      width: 300%;
      content: "";
      display: block;
      border-bottom: 1px solid #ddd;
      @media (max-width: 500px) {
        border: none;
      }
    }
    .lw_breadcrumb {
      li {
        color: #111;
        &:after {
          border-color: #111;
        }
        a {
          color: #111;
          svg {
            fill: #111;
          }
        }
      }
    }
  }
  .lw_breadcrumb {
    padding: 12px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    @container (max-width:1040px) {
      padding: 12px 12px 10px 12px;
    }
    @container (max-width:800px) {
      font-size: 13px;
    }
    @container (max-width:600px) {
      padding: 8px;
      padding-bottom: 4px;
      font-size: 12px;
    }
    @media (max-width: 500px) {
      padding: 5px 12px;
      padding-bottom: 3px;
      font-size: 11px;
      gap: 4px 0;
    }
    li {
      margin-right: 16px;
      display: flex;
      align-items: center;
      line-height: 1.6em;
      color: #fff;
      font-feature-settings: "palt";
      @media (max-width: 600px) {
        margin-right: 10px;
      }
      &::after {
        content: "";
        margin-top: 1px;
        margin-left: 16px;
        display: block;
        width: 6px;
        height: 6px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        @media (max-width: 600px) {
          margin-left: 8px;
        }
      }
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      a {
        color: #fff;
        display: block;
        line-height: 1.6em;
        font-feature-settings: "palt";
        @media (max-width: 600px) {
          letter-spacing: 0;
        }
        &:hover {
          opacity: 0.8;
        }
        svg {
          margin-right: 8px;
          height: 12px;
          width: auto;
          fill: #fff;
          @media (max-width: 600px) {
            height: 10px;
          }
        }
      }
    }
  }
}
// リンクスタイル---------------------
.lw-company-1 .lw-company-1__inner dl{
  dt,dd{
    a{
      text-decoration: underline;
      color: var(--color-link-common,#0066cc);
    }
  }
}
.wp-block-wdl-lw-company-2 dl .company-profile-item {
  dt,dd{
    a{
      text-decoration: underline;
      color: var(--color-link-common,#0066cc);
    }
  }
}
.paid-block-lw-company-3 dl.lw-company-3__inner dd.lw-company-3__dd a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-history-1 .history__year dl.history__events .history__events_row dd.history__dd a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-list-1 .lw-list-1_inner .lw-list-1_content .lw-list-1_text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-list-2 ul.lw-list-2__inner li.lw-list-2__li .lw-list-2__text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-list-3 ul.lw-list-3__inner li.lw-list-3__li .lw-list-3__text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .lw-list-4__text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-message-1 .lw-message-1__wrap .text__in p.description a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-message-1 .lw-message-1__wrap .text__in p.lead a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-qa-1 dl.lw-qa-1__dl dt p, .lw-qa-1 dl.lw-qa-1__dl dd p{
  a{
    text-decoration: underline;
    color: var(--color-link-common,#0066cc);
  }
}
.lw-voice-1 ul.lw-voice-1__ul .lw-voice-1__li .lw-voice-1__text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-voice-2 .paid-block-voice-2__wrap .voice_list li .text_in p.comment a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-voice-3 .voice-modal .modal-text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.wp-block-wdl-profile-1 .profile_1_inner .profile_1_content p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.solution-1 .solution-1_inner .solution-1_content .solution-1_text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-solution-2 .paid-block-solution-2_inner ul.list li > p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-content-1__text p.lw_paragraph a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-content-2_content .lw-content-2_text p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-content-3__text p.lw_paragraph a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-content-4 .conts .cont p.ttl_btm_p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-content-5 .conts .cont .in p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-content-6 .this_wrap .cont p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-content-7 ul.paid-block-content-7__inner li.paid-block-content-7__li p.paid-block-content-7__text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-content-8 ul.lw-content-8__inner li.lw-content-8__li p.lw-content-8__text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-pr-table-1 .wrap_table .lw_table_row .cell a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-lw-step-5 ul.lw-step__inner li.lw-step__li .lw-step__li_in p.lw-step__li_text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-lw-step-6 ul.paid-block-lw-step-6__inner li.paid-block-lw-step-6__li p.paid-block-lw-step-6__text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-step-1 ul.lw-step-1__inner li.lw-step-1__li p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-step-2 ul.lw-step-2__inner li.lw-step-2__li p a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-lw-step-3 ul.lw-step-2__inner li.lw-step-2__li .lw-step-2__li_in p.lw-step-2__li_text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.paid-block-lw-step-4 ul.lw-step__inner li.lw-step__li .lw-step__li_in p.lw-step__li_text a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-comment-1__text p.lw-paragraph a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.lw-gallery-01 p.center_pc a{
  text-decoration: underline;
  color: var(--color-link-common,#0066cc);
}
.post_style {
  p{
    a{
      text-decoration: underline;
      color: var(--color-link-common,#0066cc);
    }
  }
}