.lw-table-item-controls {
    position: absolute;
    top: 2px;
    right: 2px;
    height: calc(100% - 4px);
    .move-up-button,
    .move-down-button {
        position: absolute;
        top: 2px;
        right: 0;
        z-index: 10;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #fff !important;
        background: #4e4e4e;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    .move-up-button {
        right: 22px;
    }
    .remove-item-button {
        position: absolute;
        bottom: 2px;
        right: 0;
        z-index: 10;
        padding: 4px;
        width: 41px;
        font-size: 12px;
        line-height: 1;
        color: #fff !important;
        background: var(--color-accent);
        border: none;
        white-space: nowrap;
        border-radius: 2px;
        cursor: pointer;
    }
}
