//投稿者 ウィジェット
.sidebar_pc,
.widget_area_drawer_bottom {
    .this_post_author {
        .this_post_author_inner {
            margin-top: 0;
            padding: 0 24px;
            > h2 {
                margin: 0 -24px;
                margin-bottom: 24px;
                padding: 0 20px;
                height: 68px;
                display: flex;
                align-items: center;
                background: var(--color-main);
                color: #fff;
                font-weight: 600;
                line-height: 1.5em;
                font-size: 18px;
            }
        }
    }
}
.this_post_author {
    container-type: inline-size;
    font-size: var(--font-size-post-df_pc);
    background: #fff;
    @container (max-width: 800px) {
        font-size: var(--font-size-post-df_tb);
    }
    @container (max-width:500px) {
        font-size: var(--font-size-post-df_sp);
    }
    .this_post_author_inner {
        margin: 24px 0;
        padding: 40px;
        display: grid;
        grid-template-columns: 120px calc(100% - 120px);
        @container (max-width:800px) {
            padding: 32px;
        }
        @container (max-width:450px) {
            padding: 0 24px;
            grid-template-columns: 1fr;
        }
        > h2 {
            display: none;
            margin-bottom: 1em;
            padding-bottom: 0.4em;
            color: var(--color-main);
            border-bottom: 1px solid var(--color-main);
            font-size: 1.35em;
            @container (max-width:450px) {
                display: block;
            }
        }
        .image {
            width: 100%;
            aspect-ratio: 1/1;
            @container (max-width:450px) {
                max-width: 128px;
                margin: 0 auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #eee;
            }
        }
        .text_in {
            padding-left: 40px;
            display: flex;
            flex-wrap: wrap;
            @container (max-width:500px) {
                padding-left: 24px;
            }
            @container (max-width:450px) {
                padding: 0;
            }
            > h2 {
                width: 100%;
                font-size: 16px;
                line-height: 1.5em;
                @container (max-width:450px) {
                    display: none;
                }
            }
            h3 {
                margin: 12px 0 4px 0;
                width: 100%;
                font-size: 20px;
                line-height: 1.5em;
                @container (max-width:450px) {
                    margin-top: 12px;
                    font-size: 18px;
                    text-align: center;
                }
            }
            p {
                margin-top: 6px;
                width: 100%;
                line-height: 1.8em;
                font-size: 16px;
                word-break: break-all;
                @container (max-width:800px) {
                    font-size: 15px;
                }
            }
            .more_btn {
                margin-top: 10px;
                padding: 0 1em;
                height: 48px;
                min-width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--color-main);
                color: #fff;
                font-size: 14px;
                @container (max-width:450px) {
                    margin: 0 auto;
                    margin-top: 16px;
                    height: 56px;
                    width: 100%;
                    font-size: 16px;
                }
                &:hover {
                    background: var(--color-red);
                }
            }
        }
        .author-sns-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            box-sizing: border-box;
            @container (max-width:450px) {
                width: 100%;
            }
            li {
                a {
                    margin-top: 20px;
                    padding-left: 1px;
                    padding-top: 1px;
                    width: 32px;
                    height:32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-main);
                    border-radius: 50%;
                    @container (max-width:450px) {
                        width: 38px;
                        height: 38px;
                    }
                    svg {
                        width: 55%;
                        height: auto;
                        fill: #fff;
                    }
                    &:hover {
                        background: var(--color-red);
                    }
                }
            }
        }
    }
}

/*--------
toc_content
---------*/
.toc_content {
    margin: 64px auto;
    padding: 4px 14px;
    width: 100%;
    border: 1px solid var(--color-main);
    @media (max-width: 1080px) {
        margin: 64px auto;
    }
    @media (max-width: 600px) {
        margin: 40px auto;
    }
    .ttl {
        padding-top: 0.4em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: var(--color-main);
        font-weight: 600;
        border-bottom: 1px dashed var(--color-main);
        text-align: center;
        @media (max-width: 1080px) {
            font-size: 20px;
        }
        @media (max-width: 600px) {
            font-size: 18px;
        }
    }
    li {
        list-style: none;
    }
    > ul {
        margin: 1.3em 0;
        padding: 0 8px;
        > li {
            margin: 0.5em 0.3em;
            margin-top: 0.8em;
            font-size: 16px;
            a {
                display: flex;
                line-height: 1.5em;
                color: var(--color-black);
                text-decoration: none;
                &:hover {
                    color: var(--color-hover);
                }
            }
            @media (max-width: 1080px) {
                font-size: 15px;
            }
            @media (max-width: 600px) {
                font-size: 14px;
            }
            > ul {
                margin: 0.5em 0 0.8em 0.2em;
                margin-top: 0.5em;
                padding-left: 0.8em;
                > li {
                    margin-top: 0.5em;
                    font-size: 13px;
                    @media (max-width: 600px) {
                        font-size: 11px;
                    }
                }
                &:empty {
                    display: none;
                }
            }
        }
    }
}
