/* -------------
段落スタイル
------------- */
//スマホ左寄せ
p.is-style-p_sp_left {
    @media (max-width: 768px) {
        text-align: left;
    }
}
// スマホ中央寄せ
@media (max-width: 768px) {
    p.is-style-p_sp_center {
        text-align: center;
    }
}
// スマホ右寄せ
@media (max-width: 768px) {
    p.is-style-p_sp_right {
        text-align: right;
    }
}
// p_001
.is-style-p_01 {
    margin: 30px 0;
    padding: 2em;
    background: rgb(255, 241, 237);
    border: 4px solid rgb(252, 228, 222);
    overflow: hidden;
}
// p_002
.is-style-p_02 {
    margin: 30px 0;
    padding: 2em;
    background: rgb(237, 251, 255);
    border: 3px solid rgb(222, 240, 252);
    overflow: hidden;
}
// p_002_2
p.is-style-p_02_2 {
    margin: 1.5em 0;
    padding: 2em;
    background: #f4f6f8;
    overflow: hidden;
}
// p_002_3
p.is-style-p_02_3 {
    margin: 1.5em 0;
    padding: 1em 1.4em;
    background: #f4f6f8;
    line-height: 1.8em !important;
    overflow: hidden;
}
// p_04
.is-style-p_04 {
    margin: 30px 0;
    padding: 2em;
    background: #fff;
    border: 2px dotted var(--color-main);
    border-radius: 12px;
    overflow: hidden;
    font-feature-settings: "palt";
    @media (max-width: 600px) {
        padding: 1.5em;
    }
}
// p_05
.is-style-p_05 {
    margin: 30px 0;
    padding: 2em;
    background: #fff;
    border: 2px dotted #fc99aa;
    border-radius: 12px;
    overflow: hidden;
    font-feature-settings: "palt";
    @media (max-width: 600px) {
        padding: 1.5em;
    }
}
//文字サイズ0.8倍
.is-style-p_0_8_em {
    font-size: 0.8em;
}
//文字サイズ1.2倍
.is-style-p_1_2_em {
    font-size: 1.2em;
}
//文字サイズ1.5倍
.is-style-p_1_5_em {
    font-size: 1.5em;
}
//文字サイズ1.8倍
.is-style-p_2_em {
    font-size: 1.8em;
}
//文字サイズ2倍
.is-style-p_2_em {
    font-size: 2em;
}
/* -------------------------------------------
heading
--------------------------------------------- */
// h_01
h2.is-style-h_01.wp-block-heading,
h3.is-style-h_01.wp-block-heading,
h4.is-style-h_01.wp-block-heading,
h5.is-style-h_01.wp-block-heading {
    padding: 0.5em 0.6em;
    background: var(--color-main);
    color: #fff;
}
// h_01_2
h2.is-style-h_01_2.wp-block-heading,
h3.is-style-h_01_2.wp-block-heading,
h4.is-style-h_01_2.wp-block-heading,
h5.is-style-h_01_2.wp-block-heading {
    padding: 0.5em 0.6em;
    background: var(--color-main);
    color: #fff;
    border-radius: 0.4em;
}
// h_01_3
h2.is-style-h_01_3.wp-block-heading,
h3.is-style-h_01_3.wp-block-heading,
h4.is-style-h_01_3.wp-block-heading,
h5.is-style-h_01_3.wp-block-heading {
    padding: 0.5em 0.6em;
    background: var(--color-main);
    color: #fff;
    border-radius: 4em;
}
// h_02
h2.is-style-h_02.wp-block-heading,
h3.is-style-h_02.wp-block-heading,
h4.is-style-h_02.wp-block-heading,
h5.is-style-h_02.wp-block-heading {
    padding-bottom: 0.3em;
    border-bottom: 2px solid var(--color-main);
}
// h_03
h2.is-style-h_03.wp-block-heading,
h3.is-style-h_03.wp-block-heading,
h4.is-style-h_03.wp-block-heading,
h5.is-style-h_03.wp-block-heading {
    padding: 0.2em 0 0.23em 0;
    padding-left: 1em;
    border-left: 0.36em solid var(--color-main);
    font-weight: 700;
    box-sizing: border-box;
}
// h_mt_0
h2.is-style-h_mt_0.wp-block-heading,
h3.is-style-h_mt_0.wp-block-heading,
h4.is-style-h_mt_0.wp-block-heading,
h5.is-style-h_mt_0.wp-block-heading {
    margin-top: 0 !important;
}
