.wp-block {
  &:has(.shin-gas-station-01-cta2) {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    *{
      box-sizing: border-box;
    }
  }
}
.lw_content_wrap.page {
  .shin-gas-station-01-cta2 {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
}
.shin-gas-station-01-cta2 {
  padding: 0 64px;
  margin: 140px 0;
  width: 100%;
  @container (max-width:1100px) {
    padding: 0 32px;
    margin: 56px 0;
  }
  @container (max-width:600px) {
    padding: 0 24px;
    margin: 48px 0;
  }
  @container (max-width:500px) {
    padding: 0 8px;
    margin: 32px 0;
  }
  & + .last_content {
    display: none;
  }
  .shin-gas-station-01-cta2__inner {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 380px;
    padding: 68px 84px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 16px;
    overflow: hidden;
    @container (max-width:1100px) {
      padding: 56px;
      min-height: auto;
      display: block;
      text-align: center;
      
    }
    @container (max-width:600px) {
      padding: 40px 32px;
    }
    .filter{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.05;
      border-radius: 40px;
      @container (max-width:500px) {
        border-radius: 24px;
      }
    }
    .bg_text{
      position: absolute;
      bottom: -0.16em;
      right: 0;
      z-index: 1;
      font-size: 150px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      letter-spacing: 0;
      @container (max-width:1100px) {
        display: none;
      }
    }
    .head{
      max-width: 600px;
      @container (max-width:1100px) {
        max-width: 100%;
        
      }
    }
    .shin-gas-station-01-cta2__title {
      margin: 0;
      width: 100%;
      .main {
        width: 100%;
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #101010;
        line-height: 1.5em;
        letter-spacing: 0.05em;
        @container (max-width:800px) {
          font-size: 28px;
        }
        @container (max-width:600px) {
          font-size: 24px;
        }
        @container (max-width:500px) {
          font-size: 22px;
        }
        &:empty {
          display: none;
        }
      }

    }
    .shin-gas-station-01-cta2__text {
      margin: 1.6em auto 1.5em auto;
      width: 100%;
      color: #101010;
      line-height: 2em;
      font-size: 16px;
      @container (max-width:1100px) {
        margin: 1.5em auto;
        
      }
      @container (max-width:800px) {
        font-size: 14px;
      }
    }
    .shin-gas-station-01-cta2__button {
      position: relative;
      z-index: 20;
      margin-top: 40px;
      margin-left: 40px;
      padding: 0.3em 2em;
      min-width: 300px;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3em;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      transition: opacity 0.3s;
      white-space: nowrap;
      transition: .3s;
      @container (max-width:1100px) {
        margin: 8px  auto 0 auto;
        display: inline-flex;
        min-height: 72px;
        min-width: 280px;
        font-size: 20px;
      }
      @container (max-width:1000px) {
        min-height: 64px;
        min-width: 240px;
        font-size: 18px;
      }
      @container (max-width:600px) {
        min-height: 56px;
        min-width: 200px;
        font-size: 16px;
      }
      .text{
        transition: color .3s;
      }
      &:hover {
        opacity: 0.8;
        background: #fff;
      }
      .icon-svg{
        margin-right: 10px;
        width: 20px;
        display: flex;
        align-items: center;
        transition: fill .3s;
        @container (max-width:600px) {
          width: 16px;
        }

      }
      svg{
        width: 100%;
        height: auto;
        fill:#fff;
        path{
          transition: fill .3s;
        }
      }
    }
  }
}
