.wp-block {
    &:has(.lw-pr-fv-14) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}
.lw_content_wrap.page {
    .lw-pr-fv-14 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .lw-pr-fv-14) {
        .first_content {
            display: none;
        }
    }
}
.lw-pr-fv-14 {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    * {
        box-sizing: border-box;
    }
    .fv_in_header {
        position: relative;
        z-index: 100;
        padding: 0 40px;
        width: 100%;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1000px) {
            padding: 0 32px;
        }
        @media (max-width: 600px) {
            padding: 0 20px;
            height: 80px;
        }
        .logo {
            height: 100%;
            a {
                height: 100%;
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 32px;
                text-align: none;
                text-decoration: none;
                white-space: nowrap;
                flex-shrink: 0; /* 追加：flexアイテムの縮小を防ぐ */
                min-width: 0; /* 追加：flex子要素の最小幅をリセット */
                @media (max-width: 1000px) {
                    font-size: 28px;
                }
                @media (max-width: 600px) {
                    font-size: 24px;
                }
                > span {
                    white-space: nowrap !important; /* 追加：テキストの折り返しを防ぐ */
                }
                img {
                    height: 58%;
                    width: auto;
                }
            }
        }
        .fv_in_nav {
            position: relative;
            z-index: 10;
            @media (max-width: 1200px) {
                display: none;
            }
            > ul {
                display: flex;
                justify-content: end;
                > li {
                    position: relative;
                    list-style: none;
                    color: #fff;
                    > a {
                        position: relative;
                        padding: 1em 2em;
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        @media (max-width: 1300px) {
                            padding: 1em 1.5em;
                            font-size: 14px;
                        }
                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 2px;
                            right: 0;
                            margin: auto;
                            width: 0;
                            height: 4px;
                            content: "";
                            display: block;
                            background: #fff;
                            transition: all 0.3s;
                        }
                        &:hover {
                            &::after {
                                width: calc(100% - 4em);
                                opacity: 1;
                                @media (max-width: 1300px) {
                                    width: calc(100% - 3em);
                                }
                            }
                        }
                    }
                    ul {
                        li {
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .ham_btn {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1000;
            aspect-ratio: 1;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media (max-width: 1200px) {
                display: flex;
            }
            &.active {
                .in {
                    div {
                        &:nth-child(1) {
                            top: 0;
                            bottom: 0;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            top: 0;
                            bottom: 0;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .in {
                position: relative;
                width: 34px;
                height: 12px;
                div {
                    position: absolute;
                    margin: auto;
                    height: 2px;
                    width: 100%;
                    background: #fff;
                    transition: all 0.3s ease;
                    &:nth-child(1) {
                        top: 0;
                        bottom: 100%;
                    }
                    &:nth-child(2) {
                        bottom: 0;
                        top: 100%;
                    }
                }
            }
        }
    }
    .fv_inner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 96px;
        padding-top: 64px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        color: #fff;
        @media (max-width: 1200px) {
            padding: 0 64px;
            padding-top: 56px;
        }
        @media (max-width: 1100px) {
            padding: 0 48px;
            padding-top: 48px;
        }
        @media (max-width: 980px) {
            padding: 0 40px;
            padding-top: 48px;
        }
        @media (max-width: 600px) {
            padding: 0 20px;
            padding-top: 48px;
        }
        p.lead_text {
            margin: 0;
            margin-bottom: 16px;
            width: 100%;
            line-height: 1.8;
            font-size: 20px;
            @media (max-width: 1000px) {
                font-size: 18px;
            }
            @media (max-width: 600px) {
                font-size: 16px;
            }
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            margin-left: -2px;
            width: 100%;
            font-size: 40px;
            line-height: 1.5;
            font-weight: 300;
            @media (max-width: 1000px) {
                font-size: 36px;
            }
            @media (max-width: 700px) {
                font-size: 32px;
            }
            @media (max-width: 600px) {
                font-size: 28px;
            }
            @media (max-width: 500px) {
                font-size: 24px;
            }
        }
        p.desc {
            margin: 24px 0;
            max-width: 560px;
            width: 100%;
            line-height: 1.8;
            font-size: 16px;
            @media (max-width: 1000px) {
                font-size: 14px;
            }
        }
        .cta_wrap {
            margin-top: 32px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            @media (max-width: 800px) {
                margin-top: 24px;
            }
            @media (max-width: 500px) {
                margin-top: 16px;
            }
            a {
                padding: 1em 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                line-height: 1.4;
                text-decoration: underline;
                transition: all 0.2s;
                text-align: center;
                font-size: 16px;
                @media (max-width: 500px) {
                    width: 100%;
                    font-size: 15px;
                }
                &:first-of-type {
                    min-width: 240px;
                    border-radius: 100px;
                    background: var(--fv-btn-bg-color, var(--color-main));
                    border: var(--fv-btn-bd-width, 1px) solid var(--fv-btn-bg-color, --color-main);
                    text-decoration: none;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .fv-12_news_list {
        margin: 0 auto;
        position: relative;
        z-index: 10;
        max-width: 1180px;
        padding: 32px 0;
        width: calc(100% - 160px);
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media (max-width: 900px) {
            padding: 28px 32px 12px 32px;
            justify-content: space-between;
        }
        @media (max-width: 800px) {
            width: calc(100% - 128px);
        }
        @media (max-width: 700px) {
            width: calc(100% - 96px);
        }
        @media (max-width: 500px) {
            padding: 24px 24px 12px 24px;
            width: calc(100% - 64px);
        }
        @media (max-width: 450px) {
            padding: 24px 24px 12px 24px;
            width: calc(100% - 48px);
        }
        h3 {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0 10px;
            height: 100%;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            line-height: 1;
            @media (max-width: 1200px) {
                width: 160px;
                font-size: 18px;
            }
            @media (max-width: 900px) {
                position: static;
                padding: 0;
                height: auto;
                width: auto;
            }
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
        .pagination {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2em;
            font-size: 16px;
            line-height: 1;
            @media (max-width: 1200px) {
                width: 160px;
                font-size: 14px;
            }
            @media (max-width: 900px) {
                position: static;
                height: auto;
                width: auto;
            }
            @media (max-width: 500px) {
                font-size: 12px;
            }
            .page {
                letter-spacing: 0.3em;
                font-weight: 400;
            }
            .prev,
            .next {
                cursor: pointer;
                font-size: 1.4em;
                transition: color 0.2s;
                &:hover {
                    color: var(--color-main);
                }
            }
        }
        ul {
            width: calc(100% - 400px);
            @media (max-width: 1200px) {
                width: calc(100% - 320px);
                font-size: 15px;
            }
            @media (max-width: 900px) {
                margin-top: 1em;
                width: 100%;
                font-size: 14px;
            }
            @media (max-width: 500px) {
                margin-top: 0.6em;
                font-size: 12px;
            }
            li {
                display: none;
                &.active {
                    display: block;
                }
                a {
                    display: flex;
                    text-decoration: none;
                    color: #000;
                    transition: color 0.2s;
                    &:hover {
                        color: var(--color-main);
                    }
                    .date {
                        width: 8em;
                        display: block;
                        font-weight: 400;
                        @media (max-width: 1200px) {
                            width: 7em;
                        }
                    }
                    .title {
                        width: calc(100% - 8em);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @media (max-width: 1200px) {
                            width: calc(100% - 7em);
                        }
                    }
                }
            }
        }
    }
    .bg_filter {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .bg_image,
    .bg_video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
