.lw-pr-custom-title-14 {
  margin: 1.5em 0;
  width: 100%;
  display: flex;
  font-size: 16px;
  @media (max-width: 800px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
  @media (max-width: 400px) {
    font-size: 10px;
  }
  &.left_pc,
  &.center_pc,
  &.right_pc,
  &.left_sp,
  &.center_sp,
  &.right_sp {
    .ttl {
      width: auto;
      .main {
        width: auto;
      }
    }
  }
  &.left_pc {
    justify-content: start;
  }
  &.center_pc {
    margin: 1.5em auto;
    justify-content: center;
    .ttl {
      justify-content: center;
      text-align: center;
      .main {
        width: 100%;
      }
    }
  }
  &.right_pc {
    margin-left: auto;
    justify-content: end;
    .ttl {
      text-align: left;
      justify-content: end;
      .sub {
        justify-content: end;
      }
      .main {
        border-radius: var(--custom-title-14-border-radius) 0 var(--custom-title-14-border-radius)
          var(--custom-title-14-border-radius);
      }
    }
  }
  &.left_sp {
    @media (max-width: 600px) {
      justify-content: start;
      text-align: left;

      .ttl {
        .sub {
          justify-content: start;
          .text {
            border-radius: var(--custom-title-14-border-radius) var(--custom-title-14-border-radius) 0 0;
          }
        }
        .main {
          margin-left: 0;
          margin-right: auto;
          border-radius: 0 var(--custom-title-14-border-radius) var(--custom-title-14-border-radius)
            var(--custom-title-14-border-radius);
        }
      }
    }
  }
  &.center_sp {
    @media (max-width: 600px) {
      margin: 1.5em auto;
      justify-content: center;
      .ttl {
        justify-content: center;
        .sub {
          justify-content: start;
          .text {
            border-radius: var(--custom-title-14-border-radius) var(--custom-title-14-border-radius) 0 0;
          }
        }
        .main {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          border-radius: 0 var(--custom-title-14-border-radius) var(--custom-title-14-border-radius)
            var(--custom-title-14-border-radius);
        }
      }
    }
  }
  &.right_sp {
    @media (max-width: 600px) {
      margin-left: auto;
      margin-right: 0;
      justify-content: end;
      .ttl {
        text-align: right;
        .sub {
          justify-content: end;
          .text {
            border-radius: var(--custom-title-14-border-radius) var(--custom-title-14-border-radius) 0 0;
          }
        }
        .main {
          margin-left: auto;
          margin-right: 0;
          width: auto;
          border-radius: var(--custom-title-14-border-radius) 0 var(--custom-title-14-border-radius)
            var(--custom-title-14-border-radius);
        }
      }
    }
  }
  * {
    box-sizing: border-box;
  }
  .ttl {
    position: relative;
    z-index: 10;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 16px;
    @media (max-width: 800px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }
    .sub {
      width: 100%;
      display: flex;
      .text {
        padding: 0.26em 16px;
        padding-top: 0.65em;
        display: inline-block;
        font-size: 0.78em;
        line-height: 1.6;
        background: var(--color-main);
        border-radius: var(--custom-title-14-border-radius) var(--custom-title-14-border-radius) 0 0;
        @media (max-width: 600px) {
          padding: 0.26em 12px;
          padding-top: 0.65em;
        }
      }
    }
    .main {
      padding: 0.3em 12px 0.4em 12px;
      
      width: 100%;
      display: block;
      font-size: 2em;
      line-height: 1.35;
      color: #000;
      border: 2px solid var(--color-main);
      border-radius: 0 var(--custom-title-14-border-radius) var(--custom-title-14-border-radius)
        var(--custom-title-14-border-radius);
      @media (max-width: 600px) {
        padding: 0.3em 8px 0.4em 8px;
      }
    }
  }
}
