.lw_content_wrap.page {
  .paid-block-content-5 {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
  &:has(.first_content + .paid-block-content-5) {
    .paid-block-content-5 {
      padding-top: 64px;
      @container (max-width: 900px) {
        padding-top: 32px;
      }
      @container (max-width: 500px) {
        padding-top: 0;
      }
    }
    .first_content {
      display: none;
    }
  }
}
.paid-block-content-5 {
  container-type: inline-size;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px;
  @container (max-width: 800px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @container (max-width: 500px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
  }
  .conts {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 380px calc(100% - 380px);
    @container (max-width: 900px) {
      grid-template-columns: 300px calc(100% - 300px);
    }
    @container (max-width: 800px) {
      display: block;
    }
    .image {
      position: relative;
      z-index: 10;
      width: 100%;
      height: auto;
      @container (max-width: 500px) {
        padding: 40px 24px;
      }
      @container (max-width: 400px) {
        padding: 24px 16px;
      }
      &::before {
        @container (max-width: 800px) {
          padding-top: 70%;
          content: "";
          display: block;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @container (max-width: 800px) {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        @container (max-width: 500px) {
          background: #000;
          opacity: 0.5;
        }
      }
      .ttl {
        position: relative;
        z-index: 20;
        display: none;
        font-feature-settings: "palt";
        @container (max-width: 500px) {
          display: block;
          font-size: 32px;
          color: #fff;
          font-weight: 500;
          line-height: 1.5em;
        }
        @container (max-width: 400px) {
          font-size: 28px;
        }
      }
    }
    .cont {
      padding: 60px 0;
      width: 100%;
      @container (max-width: 1200px) {
        padding: 30px 0;
      }
      @container (max-width: 500px) {
        padding: 0 24px;
        margin: 32px 0;
      }
      h1.ttl,
      h2.ttl,
      h3.ttl,
      h4.ttl {
        margin: 0;
        margin-left: 60px;
        font-size: 48px;
        line-height: 1.5em;
        font-weight: 500;
        font-feature-settings: "palt";
        @container (max-width: 1200px) {
          margin-left: 40px;
          font-size: 40px;
        }
        @container (max-width: 1000px) {
          font-size: 30px;
        }
        @container (max-width: 800px) {
          margin: 0 auto;
          max-width: calc(100vw - 48px);
          width: 100%;
        }
        @container (max-width: 500px) {
          display: none;
        }
      }
      .in {
        margin-top: 40px;
        margin-left: 60px;
        width: calc(100% - 60px);
        @container (max-width: 1200px) {
          margin-left: 40px;
          width: calc(100% - 40px);
          gap: 30px;
        }
        @container (max-width: 1000px) {
          display: block;
        }
        @container (max-width: 980px) {
          margin-top: 24px;
        }
        @container (max-width: 800px) {
          margin-left: auto;
          margin-right: auto;
          max-width: calc(100vw - 48px);
          width: 100%;
        }
        @container (max-width: 500px) {
          margin: 0;
          padding: 0;
          width: 100%;
        }
        p {
          margin: 0;
          columns: 2;
          @container (max-width: 980px) {
            columns: unset !important;
          }
          @container (max-width: 500px) {
            line-height: 2em;
          }
        }
      }
    }
  }
}
