.paid-block-before-after-1 {
    overflow: scroll;
    @media (max-width: 600px) {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    .this_wrap {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 56px;
        @media (max-width: 800px) {
            gap: 48px;
        }
        @media (max-width: 600px) {
            padding: 0 24px;
            width: 600px;
            gap: 40px;
        }
        @media (max-width: 400px) {
            padding: 0 16px;
            width: 550px;
        }
        .has-shadow {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
        .image {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .text {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0.7em 1em;
                color: #fff;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.1em;
                font-size: 16px;
                @media (max-width: 800px) {
                    font-size: 14px;
                }
                @media (max-width: 600px) {
                    font-size: 12px;
                }
            }
        }
        .arrow-right {
            position: absolute;
            top: calc(50% - 30px);
            right: 0;
            left: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 20px solid rgb(228, 81, 81);
            display: inline-block;
            animation: hop-right-occasionally 3s ease-in-out infinite;
        }
    }
    @keyframes hop-right-occasionally {
        0%,
        70% {
            transform: translateX(0);
        }
        75% {
            transform: translateX(6px);
        }
        80% {
            transform: translateX(0);
        }
        85% {
            transform: translateX(6px);
        }
        90%,
        100% {
            transform: translateX(0);
        }
    }
}
