// editor.scss に追加する場合
.lw_space_1 {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    *{
        box-sizing: border-box;
    }
    .pc, .tb, .sp {
        width: 100%;
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px dashed #ccc;
        overflow: hidden;
        font-size: 10px;
        span {
            font-size: 12px;
            color: #666;
            
            &:first-child {
                font-weight: bold;
            }
        }
    }
    .pc{
        background: #d3f2ff;
    }
    .tb{
        background: #ffefd8;
    }
    .sp{
        background: #ffd3d6;
    }
}


