//エディター
.paid-block-before-after-2-editor {
    .editor_in_ttl {
        padding: 12px;
        background: #eee;
        color: #000;
        text-align: center;
        i{
            font-style: normal;
            font-size: 0.7em
        }
    }
    .paid-block-before-after-2-preview-wrap{
        margin: 0 auto;
        display: flex;
        .left,.right{
            position: relative;
            height: 100%;
            flex:1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .paid-block-before-after-2_label {
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 10;
                margin: 0;
                padding: 12px 12px;
                height: auto;
                background: rgba(209, 77, 77, 0.85);
                color: #fff;
                font-size: 18px;
                border-radius: 3px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                line-height: 1;
                white-space: nowrap;
                &.right{
                    left: auto;
                    right: 8px;
                    background: rgba(77, 209, 77, 0.85);
                }
            }
        }
    }
  }
  