.lw-pr-column-1 .custom_wrap {
  padding: var(--column-1-wrap-padding-pc);
  display: grid;
  grid-template-columns: var(--column-1-gtc-pc);
  column-gap: var(--column-1-column-gap-pc);
  row-gap: var(--column-1-row-gap-pc);
  border: var(--column-1-border-width-pc) var(--column-1-border-style-pc) var(--column-1-border-color-pc);
}

@container (max-width:700px) {
  .lw-pr-column-1 .custom_wrap {
    padding: var(--column-1-wrap-padding-sp);
    grid-template-columns: var(--column-1-gtc-sp, --column-1-gtc-pc);
    column-gap: var(--column-1-column-gap-sp);
    row-gap: var(--column-1-row-gap-sp);
    border: var(--column-1-border-width-sp) var(--column-1-border-style-sp) var(--column-1-border-color-sp);
  }
}

.lw-pr-column-1 .custom_wrap.min_width_on {
  min-width: var(--column-1-min-w-pc, 800px);
}

@container (max-width:600px) {
  .lw-pr-column-1 .custom_wrap.min_width_on {
    min-width: var(--column-1-min-w-sp, --column-1-min-w-pc);
  }
}

.lw-pr-column-1 .custom_wrap .custom_column_item {
  padding: var(--column-1-item-padding-pc);
  min-height: var(--column-1-min-h-pc);
  background: var(--column-1-item-bg);
}

@container (max-width:700px) {
  .lw-pr-column-1 .custom_wrap .custom_column_item {
    min-height: var(--column-1-min-h-sp);
    padding: var(--column-1-item-padding-sp, --column-1-item-padding-pc);
  }
}

.lw-pr-column-1 .custom_wrap .custom_column_item *:first-child {
  margin-top: 0;
}

.lw-pr-column-1 .custom_wrap .custom_column_item *:last-child {
  margin-bottom: 0;
}
