.wp-block {
  &:has(.paid-block-fv-9) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.lw_content_wrap {
  &.page {
    .paid-block-fv-9 {
      &.max-w {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
        max-width: 100vw;
      }
    }
    &:has(.first_content + .paid-block-fv-9.max-w) {
      .first_content {
        display: none;
      }
    }
    &:has(.paid-block-fv-9.max-w + .last_content) {
      .last_content {
        display: none;
      }
    }
  }
}
.paid-block-fv-9 {
  margin: 0 auto;
  width: 100%;
  container-type: inline-size;
  * {
    box-sizing: border-box;
  }
  + .post_style > .wp-block-columns.has-background {
    margin-top: 0;
  }
  &.init-hide {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &.max-w {
    max-width: 100%;
    width: 100%;
  }
  .swiper-wrapper {
    height: auto;
  }
  .swiper-slide {
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 32px;
      @container (max-width: 500px) {
        font-size: 24px;
      }
    }
  }
}
