.paid-block-custom-title-8 {
  margin: 1.5em 0 1em 0;
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  > h2.ttl,
  > h3.ttl,
  > h4.ttl,
  > h5.ttl,
  > h6.ttl {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  &.size_l h2.ttl,
  &.size_l h3.ttl,
  &.size_l h4.ttl,
  &.size_l h5.ttl,
  &.size_l h6.ttl {
    font-size: 40px;
    @container (max-width:800px) {
      font-size: 32px;
    }
    @container (max-width:500px) {
      font-size: 26px;
    }
  }
  &.size_m h2.ttl,
  &.size_m h3.ttl,
  &.size_m h4.ttl,
  &.size_m h5.ttl,
  &.size_m h6.ttl {
    font-size: 32px;
    @container (max-width:800px) {
      font-size: 26px;
    }
    @container (max-width:500px) {
      font-size: 22px;
    }
  }
  &.size_s h2.ttl,
  &.size_s h3.ttl,
  &.size_s h4.ttl,
  &.size_s h5.ttl,
  &.size_s h6.ttl {
    font-size: 28px;
    @container (max-width:800px) {
      font-size: 22px;
    }
    @container (max-width:500px) {
      font-size: 20px;
    }
  }
  &.size_l_sp h2.ttl,
  &.size_l_sp h3.ttl,
  &.size_l_sp h4.ttl,
  &.size_l_sp h5.ttl,
  &.size_l_sp h6.ttl {
    @media (max-width: 800px) {
      font-size: 32px;
    }
    @media (max-width: 500px) {
      font-size: 26px;
    }
  }
  &.size_m_sp h2.ttl,
  &.size_m_sp h3.ttl,
  &.size_m_sp h4.ttl,
  &.size_m_sp h5.ttl,
  &.size_m_sp h6.ttl {
    @media (max-width: 800px) {
      font-size: 26px;
    }
    @media (max-width: 500px) {
      font-size: 22px;
    }
  }
  &.size_s_sp h2.ttl,
  &.size_s_sp h3.ttl,
  &.size_s_sp h4.ttl,
  &.size_s_sp h5.ttl,
  &.size_s_sp h6.ttl {
    @media (max-width: 800px) {
      font-size: 22px;
      
    }
    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
  &.position_left {
    justify-content: start;
    text-align: left;
  }
  &.position_right {
    justify-content: end;
    text-align: right;
    .border_inner {
      flex-direction: row-reverse;
    }
  }
  .sub {
    margin-bottom: 0.1em;
    width: 100%;
    display: block;
    font-size: 0.4em;
    line-height: 1.6em;
    font-feature-settings: "palt";
  }
  .main {
    width: 100%;
    display: block;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.15em;
    font-feature-settings: "palt";
  }
  .border_wrap {
    margin-top: 0.4em;
    width: 100%;
    height: 0.2em;
    display: flex;
    @container (max-width:800px) {
      margin-top: 0.45em;
    }
    @container (max-width:500px) {
      margin-top: 0.5em;
    }
    .border_inner {
      height: 100%;
      width: 100%;
      display: flex;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
      overflow: hidden;
      .border {
        width: 3.4em;
        display: block;
        &.right {
          width: calc(100% - 3.3em);
        }
      }
    }
  }
}

.post_style {
  .paid-block-custom-title-8 {
    .main {
      &:empty {
        display: none;
      }
    }
    .sub {
      &:empty {
        display: none;
      }
    }
  }
}
