.custom-title-accordion-1 {
  position: relative;
  margin: 1em 0 0.5em 0;
  padding: 0.6em 2em 0.55em 0.8em !important;
  border: 1px solid var(--color-main);
  border-radius: 0.3em;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  .sub {
    margin-bottom: -0.2em;
    display: block;
    font-size: 0.6em;
    line-height: 1.6em;
    &:has(> [class*="fs-"]) {
      line-height: 1.1em;
    }
  }
  .main {
    display: block;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    &:has(> [class*="fs-"]) {
      margin-top: 0.2em;
      line-height: 1.1em;
    }
  }
  .accordion-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5em;
    margin: auto;
    aspect-ratio: 1;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg {
      width: 0.7em;
      height: 0.7em;
      transition: transform 0.3s ease-in-out;
      fill: #fff;
    }
  }
  &.open {
    .accordion-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

.post_style {
  h2.custom-title-accordion-1 {
    font-size: 1.3em;
    font-weight: 600;
  }
  h3.custom-title-accordion-1 {
    font-size: 1.15em;
  }
  h4.custom-title-accordion-1 {
    font-size: 1em;
  }
  .custom-title-accordion-1 {
    .main {
      &:empty {
        display: none;
      }
    }
    .sub {
      &:empty {
        display: none;
      }
    }
  }
  .custom-title-accordion-1__content_wrap {
    + .custom-title-accordion-1 {
      margin-top: 0em;
    }
  }
}
