.paid-block-lw-gallery-3 {
  margin: 0 auto;
  overflow: hidden;
  container-type: inline-size;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      position: relative;
      text-align: center;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      figcaption {
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.1em 0.6em;
        min-width: 4em;
        background: #27366d;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        @container (max-width: 500px) {
          font-size: 1.25em;
        }
      }
    }
  }
  .lw-gallery_images_Swiper_main {
    border-radius: 0.3em;
    overflow: hidden;
    @container (max-width: 600px) {
      font-size: 0.8em;
    }
    @container (max-width: 500px) {
      font-size: 0.6em;
    }
  }
  .lw-gallery_images_Swiper_sub {
    margin: 0;
    margin-top: 0.4em;
    .swiper-slide {
      aspect-ratio: 1 / 0.8;
      opacity: 0.4;
      border-radius: 5px;
      overflow: hidden;
      font-size: 0.5em;
      @container (max-width: 600px) {
        font-size: 0.3em;
      }
      @container (max-width: 500px) {
        font-size: 0.25em;
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
    &.image_count_2 {
      width: calc(100% / 5 * 2);
    }
    &.image_count_3 {
      width: calc(100% / 5 * 3);
    }
    &.image_count_4 {
      width: calc(100% / 5 * 4);
    }
    &.editor-preview {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 4px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @container (max-width: 500px) {
      font-size: 1.2em;
    }
    svg {
      width: 1em;
      height: 1em;
    }
    &:after {
      display: none;
    }
    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
  }
}
