.lw_content_wrap.page {
    .paid-block-fv-12 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .paid-block-fv-12) {
        .first_content {
            display: none;
        }
    }
}
.paid-block-fv-12 {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    * {
        box-sizing: border-box;
    }
    .fv_in_header {
        position: relative;
        z-index: 100;
        padding: 0 40px;
        width: 100%;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1000px) {
            padding: 0 32px;
        }
        @media (max-width: 600px) {
            padding: 0 20px;
            height: 80px;
        }
        .logo {
            a {
                color: #fff;
                font-size: 32px;
                @media (max-width: 1000px) {
                    font-size: 28px;
                }
                @media (max-width: 600px) {
                    font-size: 24px;
                }
            }
        }
        .fv_in_nav {
            @media (max-width: 1000px) {
                display: none;
            }
            > ul {
                display: flex;
                justify-content: end;
                li {
                    a {
                        padding: 1em 2em;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .ham_menu{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1000;
            aspect-ratio: 1;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            @media (max-width: 1000px) {
                display: flex;
            }
            cursor: pointer;
            .in{
                position: relative;
                width: 34px;
                height: 12px;
                div{
                    position: absolute;
                    margin: auto;
                    height: 2px;
                    width: 100%;
                    background: #fff;
                    transition: all 0.3s ease;
                    &:nth-child(1){
                        top: 0;
                        bottom: 100%;
                    }
                    &:nth-child(2){
                        bottom: 0;
                        top: 100%;
                    }
                }
            }
        }
    }
    .fv_inner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 40px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        color: #fff;
        @media (max-width: 600px) {
            padding: 0 20px;
        }
        h2 {
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 40px;
            line-height: 1.5;
            font-weight: 300;
            @media (max-width: 1000px) {
                font-size: 36px;
            }
            @media (max-width: 700px) {
                font-size: 32px;
            }
        }
        .cta_wrap {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            a {
                padding: 1em 24px;
                min-width: 240px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                border: 1px solid #fff;
                color: #fff;
                line-height: 1.4;
            }
        }
    }
    .fv-12_news_list {
        margin: 0 auto;
        position: relative;
        z-index: 10;
        max-width: 1180px;
        padding: 32px 0;
        width: calc(100% - 160px);
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media (max-width: 900px) {
            padding: 28px 32px 12px 32px;
            justify-content: space-between;
        }
        @media (max-width: 800px) {
            width: calc(100% - 128px);
        }
        @media (max-width: 700px) {
            width: calc(100% - 96px);
        }
        @media (max-width: 500px) {
            padding: 24px 24px 12px 24px;
            width: calc(100% - 64px);
        }
        @media (max-width: 450px) {
            padding: 24px 24px 12px 24px;
            width: calc(100% - 48px);
        }
        h3 {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0 10px;
            height: 100%;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            line-height: 1;
            @media (max-width: 1200px) {
                width: 160px;
                font-size: 18px;
            }
            @media (max-width: 900px) {
                position: static;
                padding: 0;
                height: auto;
                width: auto;
            }
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
        .pagination {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2em;
            font-size: 16px;
            line-height: 1;
            @media (max-width: 1200px) {
                width: 160px;
                font-size: 14px;
            }
            @media (max-width: 900px) {
                position: static;
                height: auto;
                width: auto;
            }
            @media (max-width: 500px) {
                font-size: 12px;
            }
            .page {
                letter-spacing: 0.3em;
                font-weight: 400;
            }
            .prev,
            .next {
                cursor: pointer;
                font-size: 1.4em;
            }
        }
        ul {
            width: calc(100% - 400px);
            @media (max-width: 1200px) {
                width: calc(100% - 320px);
                font-size: 15px;
            }
            @media (max-width: 900px) {
                margin-top: 1em;
                width: 100%;
                font-size: 14px;
            }
            @media (max-width: 500px) {
                margin-top: 0.6em;
                font-size: 12px;
            }
            li {
                display: none;
                &.active {
                    display: block;
                }
                a {
                    display: flex;
                    text-decoration: none;

                    .date {
                        width: 8em;
                        display: block;
                        font-weight: 400;
                        @media (max-width: 1200px) {
                            width: 7em;
                        }
                    }
                    .title {
                        width: calc(100% - 8em);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @media (max-width: 1200px) {
                            width: calc(100% - 7em);
                        }
                    }
                }
            }
        }
    }
    .bg_filter {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
