/*
 Theme Name: LiteWord Child
 Theme URI: https://lite-word.com/liteword-child
 Description: LiteWord のカスタマイズ用子テーマ
 Author: Ryuichi
 Author URI: https://lite-word.com
 Template: LiteWord
 Version: 1.0
 Text Domain: liteword-child
*/
