.shin-gas-station-01-list-4 {
  margin: 40px 0 64px 0;
  container-type: inline-size;
  @container (max-width:600px) {
    margin: 24px 0 48px 0;
  }
  ul.shin-gas-station-01-list-4__inner{
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:32px;
    list-style: none;
    @container (max-width:800px) {
      grid-template-columns: repeat(2 , 1fr);
      gap:16px;
    }
    @container (max-width:550px) {
      grid-template-columns: repeat(1 , 1fr);
    }
    li.shin-gas-station-01-list-4__li{
      position: relative;
      padding: 24px;
      border: 0 solid var(--color-main);
      border-radius: 32px 32px 32px 0 ;
      @container (max-width:500px) {
        padding: 16px;
      }
      a{
        color: var(--color-black);
        text-decoration: none;
      }
      .image{
        margin-bottom: 24px;
        width: 100%;
        img{
          width: 100%;
          aspect-ratio: 268 / 160;
          object-fit: cover;
          border-radius: 28px 28px 28px 0 ;
        }
        + button{
          margin-top: 12px;
        }
      }
      .shin-gas-station-01-list-4__text{
        h4.ttl{
          margin: 0;
          font-size: 0.95em;
          line-height: 1.5em;
          text-align: center;
        }
        p{
          margin: 0;
          margin-top: 0.8em;
          margin-bottom: 0.3em;
          font-size: 0.93em;
          line-height: 2em;
        }
      }
    }
  }
  .shin-gas-station-01-list-4__remove_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    font-size: 12px;
    color: #fff;
    background: var(--color-accent);
    border: none;
    border-radius: 2px;
  }
  .shin-gas-station-01-list-4__add_btn{
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: 32px;
    padding: 12px 24px;
    padding: 12px 24px;
    width: 200px;
    font-size: 16px;
  }
}
