.paid-block-lw-button-4 {
    container-type: inline-size;
    position: relative;
    z-index: 10;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
        box-sizing: border-box;
    }
    &.position_left {
        justify-content: flex-start;
    }
    &.position_center {
        justify-content: center;
    }
    &.position_right {
        justify-content: flex-end;
    }
    @container (max-width:600px) {
        &.position_left_sp {
            justify-content: flex-start;
        }
        &.position_center_sp {
            justify-content: center;
        }
        &.position_right_sp {
            justify-content: flex-end;
        }
    }
    .a_inner {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 320px;
        overflow: hidden;
        border-radius: 5em;
        transition: opacity 0.3s;
        &.font_size_l {
            font-size: 24px;
            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
        &.font_size_m {
            font-size: 20px;
            @media (max-width: 500px) {
                font-size: 18px;
            }
        }
        &.font_size_s {
            font-size: 17px;
            @media (max-width: 500px) {
                font-size: 15px;
            }
        }
        &:has(.icon-svg) {
            a.a {
                padding-right: 3.2em;
            }
        }
        a.a {
            padding: 1em 3em 1em 3em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.5em;
            text-align: center;
            color: #fff;
            cursor: pointer;
            text-decoration: none !important;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -2;
                width: 100%;
                height: 50%;
                background: #000;
                opacity: 0.05;
            }
        }
        .a_background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -3;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s;
        }
        .a_in_border {
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: -1;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            transition: opacity 0.3s;
        }
        .icon-svg {
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            margin: auto;
            aspect-ratio: 1;
            height: 1.6666em;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            svg {
                width: 0.7em;
                height: 0.7em;
                transition: transform 0.3s;
            }
        }
        &:hover {
            .a_background {
                opacity: 0.8;
            }
            .icon-svg {
                svg {
                    transform: translateX(3px);
                }
            }
        }
    }
}
