.lw_content_wrap.page{
    .wp-block-wdl-profile-1{
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
        background: #ebebeb;
    }
    &:has(.first_content + .profile-1){
      .first_content{
        display: none;
      }
    }
}
.wp-block-wdl-profile-1{
  &:has(+ .last_content){
    margin-bottom: 0 !important;
  }
  + .last_content{
    display: none;
  }
  .profile_1_inner{
    margin: 0 auto;
    padding: 64px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    @container (max-width:600px) {
      padding: 40px 0 32px 0;
      display: block;
    }
    .profile_1_image{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @container (max-width:600px) {
        width: 100%;
      }
      img,p{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        background: #ccc;
        @container (max-width:500px) {
          width: 160px;
          height: 160px;
        }
      }
      p{
        background: #d4c7c7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }
    .profile_1_content{
      padding-left: 24px;
      width: 50%;
      @container (max-width:600px) {
        margin: 0 auto;
        margin-top: 32px;
        padding-left: 0;
        width: 100%;
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      h2{
        font-size: 1.8em;
        margin: 0;
        padding: 0;
        border: none;
        letter-spacing: 0.1em;
        @container (max-width:600px) {
          width: 100%;
          text-align: center;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}