.wp-block{
  &:has(.wp-block-wdl-cta-1){
      margin: 0;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
  }
}
.wp-block-wdl-cta-1{
    position: relative;
    z-index: 10;
    margin: 3em 0 ;
    margin-top: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
    .cta-1__inner{
      margin: 0 auto;
      max-width: 800px;
      padding: 3.5em 1.5em ;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      @container (max-width:600px) {
          font-size: 14px;
      }
      .cta-1__title{
        margin: 0;
        width: 100%;
        font-size: 2em;
        text-align: center;
        color: #fff;
        line-height: 1.5em;
        font-feature-settings: "palt";
      }
      .cta-1__text{
        margin: 0.8em auto 1.5em auto;
        width: 100%;
        text-align: center;
        color: #fff;
        line-height: 2em;
        max-width: 680px;
        &.text_align_pc_left{
          text-align: left;
        }
        &.text_align_sp_left{
          @media screen and (max-width: 600px){
            text-align: left;
            
          }
        }
      }
      .cta-1__button{
        padding: 0.9em 2em;
        min-width: 240px;
        width: 100%;
        border-radius: 3em;
        color: #fff;
        text-align: center;
        transition: opacity 0.3s;
        text-decoration: none;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    .cta-1__image{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      img{
        position: relative;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      >div{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        mix-blend-mode: multiply;
      }
    }
  }