

.lw_content_wrap.page {
  .wp-block-wdl-lw-post-list-2 {
    position: relative;
    z-index: 10;
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }
}
.lw_content_wrap.single {
   .wp-block-wdl-lw-post-list-2{
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        @container (max-width: 800px) {
            margin-left: -32px;
            margin-right: -32px;
            width: calc(100% + 64px);
        }
        @container (max-width:600px) {
            margin-left: -24px;
            margin-right: -24px;
            width: calc(100% + 48px);
        }
        @container (max-width:500px) {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
        }
    }
}
.wp-block-wdl-lw-post-list-2 ,[data-type="wdl/lw-post-list-2"] {
  position: relative;
  z-index: 10;
  margin: 24px 0 0 0;
  padding: 40px;
  @container (max-width:550px) {
    padding: 24px;
  }
  + .last_content{
    display: none;
  }
  .filter,.editor_in_filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: var(--color-main);
    opacity: 0.1;
  }
  .lw_post-list-2 {
    margin: 0 auto;
    max-width: calc(var(--max-width-clm-1) - 80px);
    width: 100%;
    ul.post-list-2__wrap {
      margin: 0;
      width: 100%;
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      gap: 24px;
      @container (max-width:800px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @container (max-width:550px) {
        grid-template-columns: repeat(1, 1fr);
      }
      li {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        a {
          color: #000;
          text-decoration: none;
          figure {
            margin: 0;
            width: 100%;
            aspect-ratio: 16 / 11;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.6s;
            }
          }
          .in {
            padding: 20px;
            @container (max-width:800px) {
            }
            .data {
              display: flex;
              justify-content: space-between;
              .cat {
                padding: 6px 8px;
                font-size: 11px;
                line-height: 1.5em;
                color: #fff;
                border-radius: 2px;
                transition: 0.3s;
                letter-spacing: 0;
              }
              .date {
                font-size: 14px;
                opacity: 0.6;
              }
            }
            h3 {
              margin: 16px 0 12px 0;
              line-height: 1.7em;
              font-size: 17px;
              font-feature-settings: "palt";
              transition: 0.6s;
              @container (max-width:980px) {
                font-size: 16px;
              }
              @container (max-width:600px) {
                font-size: 15px;
              }
            }
            p {
              margin: 0;
              line-height: 1.6em;
              font-size: 14px;
              transition: 0.6s;
              @container (max-width:600px) {
                font-size: 12px;
              }
              @container (max-width:400px) {
                font-size: 11px;
              }
            }
          }
          &:hover {
            opacity: 1;
            img {
              transform: scale(1.1);
            }
            h3,
            p {
              color: var(--color-accent);
            }
          }
        }
      }
    }
  }
}
