.lw-comment-1{
  margin: 1em 0;
  position: relative;
  z-index: 10;
  *{
    box-sizing: border-box;
  }
  &.right{
    .lw-comment-1__wrap{
      flex-direction: row-reverse;
    }
    .lw-comment-1__text_wrap{
      justify-content: end;
    }
    .lw-comment-1__text{
      .lw-arrow{
        left: auto;
        right: -8px;
      }
      p.lw-p{
        text-align: right;
      }
    }
  }
  &__wrap {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    align-items: start;
    gap:24px;
    @media (max-width: 600px){
      gap:16px;
      
    }
  }
  &__image{
    width: 80px;
    @media (max-width: 600px){
      width: 72px;
      
    }
    img,.no_image{
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 2px solid var(--color-main);
      object-fit: cover;
    }
    .no_image{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      text-align: center;
      line-height: 1.4em;
      font-weight: 500;
    }
    p.lw-p{
      margin: 0;
      margin-top: 8px;
      font-size: 14px;
      text-align: center;
      @media (max-width: 600px){
        font-size: 12px;
      }
    }
  }
  &__text_wrap{
    width: calc(100% - 80px - 24px);
    display: flex;
    @media (max-width: 600px){
      width: calc(100% - 72px - 16px);
    }
  }
  &__text{
    position: relative;
    margin-top: 12px;
    padding: 1em;
    width: auto;
    .lw-bg_color{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      z-index: -1;
      border-radius: 8px;
    }
    .lw-arrow{
      position: absolute;
      top: 20px;
      left: -8px;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
    }
    p.lw-p{
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      white-space: pre-wrap;
      @media (max-width: 600px){
        font-size: 14px;
      }
    }
  }
}