
.wp-block{
    &:has(.fv-7){
        margin: 0;
        width: 100%;
        max-width: 100%;
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    }
}