.lw_content_wrap.page {
    .wp-block-wdl-fv-7 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .wp-block-wdl-fv-7) {
        .first_content {
            display: none;
        }
    }
}
.fv-7,
.wp-block-wdl-fv-7 {
    position: relative;
    z-index: 10;
    padding: 64px 48px;
    padding-bottom: 56px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    @container (max-width:980px) {
        padding: 48px 32px;
        padding-bottom: 40px;
    }
    @container (max-width:800px) {
        padding: 40px 24px;
        padding-bottom: 32px;
    }
    + .post_style > .wp-block-columns.has-background {
        margin-top: 0;
    }
    .fv-7__inner {
        .title {
            margin: 0;
            margin-bottom: 16px;
            color: #fff;
            text-align: center;
            .sub {
                margin-bottom: 0.5em;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.6em;
                @container (max-width:980px) {
                    font-size: 14px;
                }
                @container (max-width:550px) {
                    font-size: 12px;
                }
            }
            .main {
                font-size: 56px;
                font-weight: 500;
                line-height: 1.3em;
                @container (max-width:980px) {
                    font-size: 48px;
                }
                @container (max-width:550px) {
                    font-size: 40px;
                }
            }
        }
        p.description {
            margin: 0;
            line-height: 1.8em;
            font-size: 14px;
            color: #fff;
            text-align: center;
            @container (max-width:550px) {
                font-size: 12px;
            }
        }
        .btn {
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            @container (max-width:550px) {
                margin-top: 32px;
            }
            a.btn-text {
                padding: 14px 24px;
                min-width: 220px;
                display: flex;
                justify-content: center;
                border: 1px solid #fff;
                color: #fff;
                font-size: 14px;
                text-align: center;
                outline: 1px solid rgba(255, 255, 255, 0);
                transition: all 0.3s;
                @container (max-width:550px) {
                    padding: 12px 20px;
                    min-width: 180px;
                }
                &:hover {
                    outline-offset: -4px;
                    outline-color: #fff;
                }
            }
        }
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .vimeo-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 56.25vw; /* 16:9アスペクト比 */
            min-height: 100vh;
            min-width: 177.77vh; /* 16:9アスペクト比 */
            transform: translate(-50%, -50%);
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
        .filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
        }
    }
}
