.lw-pr-list-6 {
  container-type: inline-size;
}

.lw-pr-list-6 .custom_list_items {
  display: grid;
  grid-template-columns: repeat(var(--columns-pc, 4), 1fr);
  gap: 32px 8px;
}

@container (max-width: 799px) {
  .lw-pr-list-6 .custom_list_items {
    grid-template-columns: repeat(var(--columns-sp, 2), 1fr);
  }
}

.lw-pr-list-6 .custom_item .image {
  width: 100%;
}

.lw-pr-list-6 .custom_item .image img {
  display: block;
  width: 100%;
  object-fit: cover;
}
