.lw-pr-list-6 {
    container-type: inline-size;

    .custom_list_items {
        display: grid;
        grid-template-columns: repeat(var(--columns-pc, 4), 1fr);
        row-gap: var(--list-6-row-gap-pc, 32px);
        column-gap: var(--list-6-column-gap-pc, 8px);

        @media (max-width: 700px) {
            grid-template-columns: repeat(var(--columns-sp, 2), 1fr);
            row-gap: var(--list-6-row-gap-sp, 32px);
            column-gap: var(--list-6-column-gap-sp, 8px);
        }

        .custom_item {
            position: relative;
            .image {
                position: relative;
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
                .label {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                    padding: 0.5em 1em;
                    min-width: 130px;
                    line-height: 1;
                    background: var(--list-6-label-bg, var(--color-accent));
                    color: var(--list-6-label-color, #fff);
                    font-size: var(--list-6-label-fontsize-pc, 17px);
                    text-align: center;
                    @media (max-width: 600px) {
                        font-size: var(--list-6-label-fontsize-sp, 15px);
                    }
                }
            }
            .custom_ttl {
                margin: 0 !important;
                margin-top: var(--list-6-margin-top-ttl-pc, 12px) !important;
                line-height: 1.7;
                font-size: var(--list-6-fontsize-ttl-pc, 18px);
                text-align: var(--list-6-align-ttl-pc, center);
                font-weight: 600;
                color: var(--color-accent, #f28b16);

                @media (max-width: 1000px) {
                    font-size: var(--list-6-fontsize-ttl-tb, 17px);
                }
                @media (max-width: 600px) {
                    font-size: var(--list-6-fontsize-ttl-sp, 15px);
                    text-align: var(--list-6-align-ttl-sp, center);
                    margin-top: var(--list-6-margin-top-ttl-sp, 12px) !important;
                }
            }
            .custom_p {
                margin: 0;
                margin-top: 0.7em;
                line-height: 1.7;
                font-size: var(--list-6-fontsize-p-pc, 14px);
                text-align: var(--list-6-align-p-pc, left);
                font-weight: 400;

                @media (max-width: 1000px) {
                    font-size: var(--list-6-fontsize-p-tb, 13px);
                }
                @media (max-width: 600px) {
                    font-size: var(--list-6-fontsize-p-sp, 12px);
                    text-align: var(--list-6-align-p-sp, left);
                }
            }
        }
    }
    .lw-pr-list-6__image-remove {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .lw-pr-list-6__item-controls {
        margin-top: 12px;
        button + button {
            margin-left: 4px;
        }
    }
    .lw-pr-list-6__add-btn {
        padding: 1em;
        width: 100%;
        margin-top: 24px;
    }
}
