.lw-pr-button-6 {
    box-sizing: border-box;
    outline: none !important;
    border: none !important;

    * {
        box-sizing: border-box;
    }

    &.is-selected,
    &:focus {
        outline: none !important;
    }

    .lw-pr-button-6__wrap {
        margin: 0 auto;
        max-width: var(--button-6-max-width-pc, 600px);
        display: grid;
        grid-template-columns: repeat(var(--button-6-gtc-pc, 2), 1fr);
        row-gap: var(--button-6-row-gap-pc, 8px);
        column-gap: var(--button-6-column-gap-pc, 8px);

        .lw-pr-button-6__item {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: var(--button-6-item-padding-pc, 12px);
            min-height: var(--button-6-item-min-height-pc, 64px);
            justify-content: var(--button-6-item-position-pc, center);
            text-align: var(--button-6-item-position-pc, center);
            font-size: var(--button-6-item-fontsize-pc, 16px);
            color: var(--button-6-item-text-color, #000000);
            border-width: var(--button-6-item-bd-width-pc, 1px);
            border-style: var(--button-6-item-border-style, solid);
            border-color: var(--button-6-item-border-color, #000000);
            border-radius: var(--button-6-item-border-radius-pc, 0px);
            background-color: var(--button-6-item-bg-color, #ffffff);

            .lw-pr-button-6__item_text {
                white-space: pre-line;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}
