.lw-pr-button-6 {
    container-type: inline-size;

    .lw-pr-button-6__wrap {
        margin: 0 auto;
        max-width: var(--button-6-max-width-pc, 600px);
        display: grid;
        grid-template-columns: repeat(var(--button-6-gtc-pc, 2), 1fr);
        row-gap: var(--button-6-row-gap-pc, 8px);
        column-gap: var(--button-6-column-gap-pc, 8px);

        @container (max-width: 700px) {
            max-width: var(--button-6-max-width-sp, var(--button-6-max-width-pc, 600px));
            grid-template-columns: repeat(var(--button-6-gtc-sp, 1), 1fr);
            row-gap: var(--button-6-row-gap-sp, var(--button-6-row-gap-pc, 8px));
            column-gap: var(--button-6-column-gap-sp, var(--button-6-column-gap-pc, 8px));
        }

        .lw-pr-button-6__item {
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: var(--button-6-item-padding-pc, 12px);
            min-height: var(--button-6-item-min-height-pc, 40px);
            justify-content: var(--button-6-item-position-pc, center);
            text-align: var(--button-6-item-position-pc, center);
            font-size: var(--button-6-item-fontsize-pc, 16px);
            color: var(--button-6-item-text-color, #000000);
            border-width: var(--button-6-item-bd-width-pc, 1px);
            border-style: var(--button-6-item-border-style, solid);
            border-color: var(--button-6-item-border-color, #000000);
            border-radius: var(--button-6-item-border-radius-pc, 0px);
            background-color: var(--button-6-item-bg-color, #ffffff);
            line-height: 1.6;
            transition: opacity 0.3s;
            @container (max-width: 700px) {
                padding: var(--button-6-item-padding-sp, var(--button-6-item-padding-pc, 12px));
                min-height: var(--button-6-item-min-height-sp, 32px);
                justify-content: var(--button-6-item-position-sp, var(--button-6-item-position-pc, center));
                text-align: var(--button-6-item-position-sp, var(--button-6-item-position-pc, center));
                font-size: var(--button-6-item-fontsize-sp, 15px);
                border-width: var(--button-6-item-bd-width-sp, var(--button-6-item-bd-width-pc, 1px));
                border-radius: var(--button-6-item-border-radius-sp, var(--button-6-item-border-radius-pc, 0px));
            }

            .lw-pr-button-6__item_text {
                white-space: pre-line;
                text-align: var(--button-6-item-text-align, center);
                width: 100%;
            }
            .icon{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 8px;
                margin: auto;
                height: 100%;
                width: 14px;
                display: flex;
                align-items: center;
                svg{
                    height: auto;
                    width: 100%;
                }
            }
            &:hover{
                opacity: 0.6;
            }
        }
    }
}
