.lw-content-1 {
  margin: 40px 0;
  @container (max-width:550px) {
    margin: 32px 0;
  }
  &.right{
    .lw-content-1__inner{
      flex-direction: row-reverse;
    }
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:48px;
    @container (max-width:800px) {
      gap:32px;
    }
  }
  &__image {
    flex:2;
    @container (max-width:800px) {
      width: 100%;
      flex:initial;
    }
    img{
      width: 100%;
      height: auto;
      aspect-ratio: 16/14;
      object-fit: cover;
    }
  }
  &__text{
    flex:3;
    @container (max-width:800px) {
      width: 100%;
      flex:initial;
    }
    h3.lw_title{
      margin: 0;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1.45em;
      @container (max-width:1080px) {
        font-size: 28px;
      }
      @container (max-width:980px) {
        font-size: 24px;
      }
      @container (max-width:800px) {
        margin-bottom: 16px;
      }
      @container (max-width:550px) {
        margin-bottom: 12px;
        font-size: 22px;
      }
      @container (max-width:450px) {
        font-size: 20px;
      }
      &:empty{
        display: none;
      }
    }
    p.lw_p{
      padding: 0;
      margin: 0;
      line-height: 1.8em;
      @container (max-width:1080px) {
        font-size: 16px;
      }
      @container (max-width:980px) {
        font-size: 15px;
      }
      &:empty{
        display: none;
      }
    }
    a{
      margin-top: 24px;
      padding: 0.6em 2em;
      min-height: 56px;
      min-width: 180px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      transition: .3s;
      @container (max-width:550px) {
        font-size: 15px;
      }
      &:hover{
        opacity: 0.8;
      }
      &:empty{
        display: none;
      }
    }
  }
}
