.shin-gas-station-01-button-01{
    position: relative;
    z-index: 10;
    container-type: inline-size;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    *{
        box-sizing: border-box;
    }
    .a_inner{
        position: relative;
        z-index: 10;
        min-width: 320px;
        overflow: hidden;
        border-radius: 5em;
        transition: opacity 0.3s;
        border-style: solid;
        @container (max-width:900px) {
            min-width: 280px;
        }
        @container (max-width:600px) {
            min-width: 240px;
        }
        a{
            padding: 0.78em 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.5em;
            color: #fff;
            font-size: 24px;
            @container (max-width:900px) {
                font-size: 20px;
            }
            @container (max-width:600px) {
                font-size: 18px;
            }
        }
        .a_background{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s;
        }
        .icon-svg{
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 16px;
            display: flex;
            align-items: center;
            fill:#fff;
            svg{
                height: 100%;
                width: 100%;
            }
        }
        &:hover{
            .a_background{
                opacity: 0.8;
            }
        }
    }
}