.paid-block-image-1 {
  container-type: inline-size;
  * {
    box-sizing: border-box;
  }
  &.font_size_l {
    font-size: 28px;
    @container (max-width:800px) {
      font-size: 24px;
    }
    @container (max-width:550px) {
      font-size: 20px;
    }
  }
  &.font_size_m {
    font-size: 24px;
    @container (max-width:800px) {
      font-size: 20px;
    }
    @container (max-width:550px) {
      font-size: 18px;
    }
  }
  &.font_size_s {
    font-size: 20px;
    @container (max-width:800px) {
      font-size: 18px;
    }
    @container (max-width:550px) {
      font-size: 16px;
    }
  }
  &.font_size_ss {
    font-size: 18px;
    @container (max-width:800px) {
      font-size: 16px;
    }
    @container (max-width:550px) {
      font-size: 14px;
    }
  }
  .paid-block-image-1__inner {
    position: relative;
    z-index: 10;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    aspect-ratio: 400 / 340;
    overflow: hidden;
    border-radius: 0.9em;
    @container (max-width:550px) {
      padding: 16px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .name_plate {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 20;
      margin: 0;
      min-width: 6em;
      text-align: center;
      background: #fc99aa;
      border: 2px solid #fc99aa;
      border-radius: 0.2em;
      overflow: hidden;
      @container (max-width:550px) {
        bottom: 16px;
        left: 16px;
      }
      .sub {
        padding: 0.1em 1em;
        display: block;
        color: #fff;
        font-size: 0.75em;
        line-height: 1.4em;
        font-weight: 500;
      }
      .main {
        padding: 0.4em 0.2em;
        display: block;
        background: #fff;
        color: var(--color-black);
        font-size: 1em;
        font-weight: 500;
      }
    }
    .link_next {
      position: relative;
      z-index: 20;
      width: 2em;
      height: 2em;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fc99aa;
      border-radius: 50%;
      svg {
        width: 0.7em;
        height: 0.7em;
        fill: #fff;
      }
    }
  }
  a.paid-block-image-1__inner{
    img{
      transition: transform 0.4s ease-in-out;
    }
    &:hover{
      img {
        transform: scale(1.1);
      }
    }
  }
}
