@charset "UTF-8";
.lw-pr-custom-title-12 {
  margin: 1em auto;
  font-size: 16px;
}

@media (max-width: 800px) {
  .lw-pr-custom-title-12 {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .lw-pr-custom-title-12 {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .lw-pr-custom-title-12 {
    font-size: 10px;
  }
}

.lw-pr-custom-title-12 * {
  box-sizing: border-box;
}

.lw-pr-custom-title-12 .ttl {
  position: relative;
  z-index: 10;
  margin-bottom: 1em;
  padding: 1.2em 1.5em 1.25em 1.5em;
  width: 100%;
  background: var(--color-main);
  color: #fff;
  text-align: center;
  outline: 1px solid rgba(255, 255, 255, 0.8);
  outline-offset: -6px;
  font-size: 16px;
}

@media (max-width: 800px) {
  .lw-pr-custom-title-12 .ttl {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .lw-pr-custom-title-12 .ttl {
    font-size: 12px;
    outline-offset: -4px;
  }
}

@media (max-width: 400px) {
  .lw-pr-custom-title-12 .ttl {
    outline-offset: -3px;
    font-size: 10px;
  }
}

.lw-pr-custom-title-12 .ttl .main {
  display: block;
  font-size: 2em;
  line-height: 1.4;
  color: var(--color-main-text);
}

.lw-pr-custom-title-12 .ttl .main + .sub {
  margin-top: 0.2em;
}

.lw-pr-custom-title-12 .ttl .sub {
  display: block;
  font-size: 1em;
  line-height: 1.6;
  color: var(--color-sub-text);
}

.lw-pr-custom-title-12 .ttl::after, .lw-pr-custom-title-12 .ttl::before {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 1em 1em 0 0;
  /* 上と右にボーダー */
  border-color: var(--lw-pr-custom-title-12-sub-color) transparent transparent transparent;
}

.lw-pr-custom-title-12 .ttl::before {
  right: auto;
  left: 0;
  border-width: 1em 0 0 1em;
  /* 上と左にボーダー */
  border-color: var(--lw-pr-custom-title-12-sub-color) transparent transparent transparent;
}
