.lw-pr-list-5 {
  container-type: inline-size;
  margin: 24px 0;
  *{
    box-sizing: border-box;
  }
  // 1列レイアウト
  &.columns-1 {
    .list_items_inner {
      > ul {
        max-width: 100%;
        min-width: 0;
      }
    }
  }
  .lw-pr-list-5_wrap {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
    @container (max-width:1200px) {
      font-size: 17px;
    }
    @container (max-width:1000px) {
      font-size: 16px;
    }
    @container (max-width:799px) {
      font-size: 17px;
      grid-template-columns: repeat(1, 1fr);
    }
    @container (max-width:600px) {
      font-size: 16px;
    }
    .list_items {
      display: flex;
      align-items: center;
      background: var(--list_items_bg_color, #f7f7f7);
      .list_items_inner {
        padding: 24px;
        min-width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
        @container (max-width:500px) {
          padding: 20px;
        }
        > ul {
          min-width: 40%;
          display: grid;
          gap: 0.3em;
          @container (max-width:500px) {
            min-width: 45%;
          }
          &:has(+ ul) {
            max-width: 50%;
          }
          > li {
            position: relative;
            padding-left: 1.2em;
            color: var(--list_items_color, var(--color-main));
            line-height: 1.8em;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              content: "・";
            }
            &.list-item-add{
              padding-left: 0;
              &::before{
                display: none;
              }
            }
          }
        }
      }
    }
    .image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .list-item-remove{
    position: absolute;
    top: 7px;
    right: -15px;
    padding: 0;
    padding-bottom: 1px;
    height: 14px;
    width: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

  }
}
