.lw-pr-custom-title-14 {
    margin: 1.5em 0;
    font-size: 16px;
    @media (max-width: 800px) {
        font-size: 14px;
    }
    @media (max-width: 600px) {
        font-size: 12px;
    }
    @media (max-width: 400px) {
        font-size: 10px;
    }
    *{
        box-sizing: border-box;
    }
    .ttl {
        position: relative;
        z-index: 10;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        font-size: 16px;
        @media (max-width: 800px) {
            font-size: 14px;
        }
        @media (max-width: 600px) {
            font-size: 12px;
        }
        @media (max-width: 400px) {
            font-size: 10px;
        }
        .sub {
            width: 100%;
            display: flex;
            .text {
                padding: 0.25em 0.5em;
                padding-top: 0.5em;
                display: inline-block;
                font-size: 0.8em;
                line-height: 1.6;
                background: var(--color-main);
                border-radius: 6px 6px 0 0;
            }
        }
        .main {
            padding: 0.3em 0.4em;
            display: block;
            font-size: 2em;
            line-height: 1.35;
            color: #000;
            border: 2px solid var(--color-main);
            border-radius: 0 6px 6px 6px;
        }
    }
}
