.lw_content_wrap.page {
    .lw-pr-fv-15 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .lw-pr-fv-15) {
        .first_content {
            display: none;
        }
    }
}
.lw-pr-fv-15 {
    position: relative;
    z-index: 10;
    height: 640px;
    background: var(--fv-color-bg-all, #ffe1e1);
    @media (max-width: 1200px) {
        height: 580px;
    }
    @media (max-width: 1000px) {
        height: 540px;
    }
    @media (max-width: 700px) {
        height: auto;
    }
    * {
        box-sizing: border-box;
    }

    .fv_inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 auto;
        padding: 0 64px;
        padding-top: 16px;
        max-width: 1300px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        font-family: "noto-sans-jp", sans-serif;
        @media (max-width: 1000px) {
            padding: 0 32px;
            padding-top: 12px;
        }
        @media (max-width: 700px) {
            position: static;
            padding-top: 48px;
            padding-left: 48px;
        }
        @media (max-width: 600px) {
            padding-top: 40px;
            padding-left: 32px;
        }
        @media (max-width: 450px) {
            padding-left: 24px;
        }
        .ttl {
            margin: 0;
            width: 100%;
            font-size: 64px;
            line-height: 1.25;
            font-weight: var(--fv-ttl-main-font-weight);
            color: var(--color-fv-ttl-main);
            /* ストローク → 塗り の順に描画 */
            paint-order: stroke fill;

            /* 実際に適用される CSS */
            -webkit-text-stroke-width: var(--lw-stroke-width);
            -webkit-text-stroke-color: var(--lw-stroke-color);
            @media (max-width: 1200px) {
                font-size: 56px;
            }
            @media (max-width: 1000px) {
                font-size: 48px;
            }
            @media (max-width: 700px) {
                -webkit-text-stroke-width: var(--lw-stroke-width-sp);
            }
            @media (max-width: 500px) {
                font-size: 40px;
            }
             @media (max-width: 400px) {
                font-size: 32px;
            }
        }
        p.description {
            margin: 16px 0 0 0;
            width: 100%;
            font-size: 18px;
            line-height: 1.8;
            font-weight: var(--fv-description-main-font-weight);
            color: var(--color-fv-description-main);
            @media (max-width: 1000px) {
                font-size: 14px;
            }
            @media (max-width: 700px) {
                margin-top: 12px;
            }
        }
        .cta_wrap {
            margin-top: 32px;
            display: flex;
            @media (max-width: 1000px) {
                margin-top: 24px;
            }
            @media (max-width: 420px) {
                margin-top: 16px;
            }
            a {
                padding: 0.65em 2em;
                min-height: 56px;
                min-width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: var(--color-cta-bg, #000);
                color: var(--color-cta-text, #fff);
                border-radius: var(--cta-border-radius, 100px);
                border: var(--cta-bd-width, 1px) solid var(--cta-bd-color, #000);
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                transition: opacity 0.3s ease;
                @media (max-width: 1000px) {
                    min-height: 52px;
                    min-width: 180px;
                    font-size: 14px;
                }
                @media (max-width: 700px) {
                    min-height: 40px;
                    min-width: 120px;
                    font-size: 12px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .bg_image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -2;
        margin: auto;
        max-width: 1300px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        @media (max-width: 700px) {
            margin-top: 32px;
            position: relative;
        }
        @media (max-width: 500px) {
            margin-top: 24px;
        }
        img,
        video,
        &::after {
            width: calc(100% - 400px);
            height: 100%;
            object-fit: cover;
            @media (max-width: 1000px) {
                width: calc(100% - 300px);
            }
            @media (max-width: 700px) {
                margin-bottom: -32px;
                width: calc(100% - 48px);
                height: 300px;
            }
            @media (max-width: 600px) {
                width: calc(100% - 32px);
            }
            @media (max-width: 450px) {
                margin-bottom: -24px;
                width: calc(100% - 24px);
            }
        }
        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            content: "";
            display: block;
            background: var(--color-image-filter, #000);
            opacity: var(--fv-image-filter-opacity, 0.2);
        }
    }
}
