.custom-title-5 {
  margin: 1em 0;
  font-size: 20px !important;
  border-bottom: 2px solid var(--color-main);
  &:not([class*="lw_padding_bottom_"]) {
    padding-bottom: 0.4em !important;
  }
  &.font_size_m {
    font-size: 18px !important;
  }
  &.font_size_s {
    font-size: 16px !important;
  }
  .sub {
    margin-bottom: 0.1em;
    display: block;
    font-size: 0.9em;
    line-height: 1.6em;
    @container (max-width:600px) {
      font-size: 0.8em;
    }
    @container (max-width:500px) {
      font-size: 0.7em;
    }
    &:has(> [class*="fs-"]) {
      line-height: 1.1em;
    }
  }
  .main {
    display: block;
    font-size: 2em;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    @container (max-width:800px) {
      font-size: 1.8em;
    }
    @container (max-width:600px) {
      font-size: 1.6em;
    }
    @container (max-width:500px) {
      font-size: 1.5em;
    }
    @container (max-width:400px) {
      font-size: 1.4em;
    }
    &:has(> [class*="fs-"]) {
      margin-top: 0.2em;
      line-height: 1.1em;
    }
  }
}

.post_style {
  .custom-title-5 {
    .main {
      &:empty {
        display: none;
      }
    }
    .sub {
      &:empty {
        display: none;
      }
    }
  }
}
