.shin-gas-station-01-list-3 {
  margin: 40px 0;
  container-type: inline-size;
}

@container (max-width:600px) {
  .shin-gas-station-01-list-3 {
    margin: 24px 0;
  }
}

.shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  list-style: none;
}

@container (max-width:750px) {
  .shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

.shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li {
  position: relative;
  padding: 32px 18px;
  display: flex;
  align-items: center;
  border-radius: 32px 32px 32px 0;
  border: 0 solid var(--color-main);
}

@container (max-width:750px) {
  .shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li {
    padding: 24px 16px;
    border-radius: 24px 24px 24px 0;
  }
}

.shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li .shin-gas-station-01-list-3__text {
  width: 100%;
}

.shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li .shin-gas-station-01-list-3__text p {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 1.6em;
}

@container (max-width:900px) {
  .shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li .shin-gas-station-01-list-3__text p {
    font-size: 22px;
  }
}

@container (max-width:700px) {
  .shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li .shin-gas-station-01-list-3__text p {
    font-size: 20px;
  }
}

@container (max-width:550px) {
  .shin-gas-station-01-list-3 ul.shin-gas-station-01-list-3__inner li.shin-gas-station-01-list-3__li .shin-gas-station-01-list-3__text p {
    font-size: 18px;
  }
}

.shin-gas-station-01-list-3 .shin-gas-station-01-list-3__remove_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  font-size: 12px;
  color: #fff;
  background: var(--color-accent);
  border: none;
  border-radius: 2px;
}

.shin-gas-station-01-list-3 .shin-gas-station-01-list-3__add_btn {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  margin-top: 32px;
  padding: 12px 24px;
  padding: 12px 24px;
  width: 200px;
  font-size: 16px;
}
