.wp-block {
  &:has(.paid-block-fv-11) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.lw_content_wrap {
  &.page {
    .paid-block-fv-11 {
      &.max-w {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
        max-width: 100vw;
      }
    }
    &:has(.first_content + .paid-block-fv-11.max-w) {
      .first_content {
        display: none;
      }
    }
    &:has(.paid-block-fv-11.max-w + .last_content) {
      .last_content {
        display: none;
      }
    }
  }
}
.paid-block-fv-11 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  container-type: inline-size;
  * {
    box-sizing: border-box;
  }
  + .post_style > .wp-block-columns.has-background {
    margin-top: 0;
  }
  &.init-hide {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &.max-w {
    max-width: 100%;
    width: 100%;
  }
  .text_in {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .in {
      color: #fff;
      h1.ttl {
        .sub {
          font-size: 20px;
          line-height: 1.5em;
          display: block;
          text-align: center;
          font-weight: 600;
          @container (max-width: 800px) {
            font-size: 18px;
          }
          @container (max-width: 500px) {
            font-size: 14px;
          }
        }
        .main {
          font-size: 48px;
          line-height: 1.3em;
          display: block;
          text-align: center;
          font-weight: 600;
          @container (max-width: 800px) {
            font-size: 36px;
          }
          @container (max-width: 500px) {
            font-size: 28px;
          }
        }
      }
      p.description {
        margin-top: 1em;
        font-size: 18px;
        line-height: 2em;
        text-align: center;
        color: #fff;
        @container (max-width: 800px) {
          font-size: 16px;
        }
        @container (max-width: 500px) {
          font-size: 14px;
        }
      }
      .cta_btn {
        display: flex;
        justify-content: center;
        .btn_link {
          padding: 0.8em 2em;
          min-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          text-align: center;
          border: 1px solid #fff;
          color: #fff;
          @container (max-width: 500px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    .image_filter {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-slide {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  .bg_img {
    height: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    z-index: 40;
    &::after {
      font-size: 32px;
      @container (max-width: 500px) {
        font-size: 24px;
      }
    }
  }
}
