.wp-block:has(.shin-gas-station-01-list-1) {
    margin: 0;
    width: 100%;
    max-width: 100%;
    * {
        box-sizing: border-box;
        margin: 0;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

.lw_content_wrap.page {
    .wp-block-wdl-shin-gas-station-01-list-1 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
}
.shin-gas-station-01-list-1 {
    margin: 48px 0;
    padding: 0 64px;
    @container (max-width:1100px) {
        padding: 0 32px;
    }
    @container (max-width:800px) {
        margin: 32px 0;
    }
    @media (max-width: 500px) {
        margin: 24px 0;
        padding: 0 24px;
    }
    > ul.list {
        padding: 1px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: 1px solid #c6c6c6;
        border-left: 1px solid #c6c6c6;
        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &:has(.item_2){
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: 1100px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 800px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        li.shin-gas-station-01-list-1_item {
            background: #fff;
            border-bottom: 1px solid #c6c6c6;
            border-right: 1px solid #c6c6c6;
            .link {
                padding: 0 40px;
                padding-bottom: 40px;
                height: 100%;
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                text-decoration: none;
                @container (max-width:800px) {
                    padding: 0 32px;
                }
                @media (max-width: 500px) {
                    padding: 0 24px;
                    padding-bottom: 24px;
                }
            }
            a.link{
                &:hover{
                    img{
                        opacity: 0;
                        transform: scale(1.1);
                    }
                }
            }
            .text_in {
                h3.ttl {
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    .no {
                        margin-top: -1px;
                        padding-top: 0.2em;
                        border-top: 4px solid #e58a68;
                        color: #e58a68;
                        display: block;
                        font-size: 64px;
                        line-height: 1;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        transition: .3s;
                        @media (max-width: 1180px) {
                            font-size: 56px;
                        }
                        @media (max-width: 500px) {
                            font-size: 40px;
                        }
                    }
                    .text {
                        margin-top: 2em;
                        width: 100%;
                        font-weight: 600;
                        font-size: 24px;
                        color: #e58a68;
                        transition: .3s;
                        @media (max-width: 500px) {
                            margin-top: 1.4em;
                            font-size: 18px;
                        }
                        &:empty {
                            display: none;
                        }
                    }
                }
                > p {
                    margin-top: 1.5em;
                    margin-bottom: 0;
                    font-size: 16px;
                    line-height: 2;
                    color: #111;
                    transition: .3s;
                    @media (max-width: 500px) {
                        font-size: 14px;
                    }
                    &:empty {
                        display: none;
                    }
                }
            }
            .bottom_content {
                position: relative;
                z-index: 10;
                margin-top: 32px;
                width: 100%;
                aspect-ratio: 356 / 220;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                @media (max-width: 500px) {
                    margin-top: 24px;
                }
                &:empty {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s;
                    + .next_btn{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .next_btn {
                    > div {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: #c6c6c6;
                        svg {
                            margin-left: 0.8em;
                            transition: 0.3s;
                        }
                    }
               
                }
                &:hover{
                    >div{
                        svg{
                            transform: translateX(0.5em);
                        }
                    }
                }
            }
        }
    }
}
