.wp-block:has(.lw-banner-info-01) {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.lw_content_wrap.page .lw-banner-info-01 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw-banner-info-01 + .last_content {
  padding: 0 !important;
}

.lw-banner-info-01 * {
  box-sizing: border-box;
}

.lw-banner-info-01 ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #000;
}

@container (max-width:700px) {
  .lw-banner-info-01 ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

.lw-banner-info-01 ul li {
  height: 280px;
}

@container (max-width:850px) {
  .lw-banner-info-01 ul li {
    height: 240px;
  }
}

.lw-banner-info-01 ul li a,
.lw-banner-info-01 ul li .a {
  position: relative;
  z-index: 10;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  align-items: end;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

@container (max-width:980px) {
  .lw-banner-info-01 ul li a,
  .lw-banner-info-01 ul li .a {
    padding: 16px;
  }
}

.lw-banner-info-01 ul li a .filter,
.lw-banner-info-01 ul li .a .filter {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.lw-banner-info-01 ul li a h3.title,
.lw-banner-info-01 ul li .a h3.title {
  margin: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  transition: color 0.6s;
  color: #fff;
}

@container (max-width:980px) {
  .lw-banner-info-01 ul li a h3.title,
  .lw-banner-info-01 ul li .a h3.title {
    font-size: 18px;
  }
}

.lw-banner-info-01 ul li a h3.title span,
.lw-banner-info-01 ul li .a h3.title span {
  color: #fff;
}

.lw-banner-info-01 ul li a p.description,
.lw-banner-info-01 ul li .a p.description {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7em;
  color: #fff;
  transition: color 0.6s;
}

@container (max-width:980px) {
  .lw-banner-info-01 ul li a p.description,
  .lw-banner-info-01 ul li .a p.description {
    font-size: 12px;
  }
}

.lw-banner-info-01 ul li a img,
.lw-banner-info-01 ul li .a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
}

.lw-banner-info-01 ul li a:hover {
  text-decoration: none;
  opacity: 1;
}

.lw-banner-info-01 ul li a:hover p.description, .lw-banner-info-01 ul li a:hover h3.title {
  color: var(--color-accent);
}

.lw-banner-info-01 ul li a:hover img {
  transform: scale(1.1);
}
