.paid-block-voice-2 {
    margin-left: calc((100% - 100vw) / 2);
    padding: 80px 24px;
    width: 100vw;
    background: #0d9094;
    @media (max-width: 600px) {
        padding: 40px 16px;
        
    }
    .paid-block-voice-2__wrap{
        margin: 0 auto;
        max-width: 1080px;
        h2.ttl{
            text-align: center;
            color: #fff;
            span{
                display: block;
                &.main{
                    font-size: 40px;
                    line-height: 1.4em;
                }
                &.sub{
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }
        p.explanation{
            text-align: center;
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
            line-height: 2;
        }
        .voice_list{
            margin: 0 auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 32px;
            @media (max-width: 950px) {
                max-width: 540px;
                grid-template-columns: 1fr;
                
            }
            @media (max-width: 500px) {
                max-width: 100%;
                grid-template-columns: 1fr;
                gap: 16px;
            }
            li{
                padding: 32px 24px 32px 32px;
                display: grid;
                grid-template-columns: 40% 60%;
                background: #fff;
                border-radius: 0 50px 0 50px;
                box-shadow: 0 0 20px rgba(0,0,0,0.1);
                @media (max-width: 500px) {
                    padding: 20px 16px 20px 20px;
                    grid-template-columns: 35% 65%;
             
                }
                .image{
                    padding-right: 32px;
                    width: 100%;
                    height: 100%;
    
                    border-right: 1px solid #000;
                    @media (max-width: 500px) {
                        padding-right: 20px;
                    }
                    .in{
                        position: relative;
                        z-index: 10;
                        
                        aspect-ratio: 1/1.3;
                        img{
                            border-radius: 100px 100px 0 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .thanks{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 10;
                            transform: rotate(-21deg);
                            font-family: "Dancing Script", cursive;
                        }
                    }
                }
                .text_in{
                    padding: 4px 0;
                    padding-left: 16px;
                    h3.name{
                        .sub{
                            margin-bottom: 6px;
                            display: block;
                            font-size: 14px;
                            line-height: 1.5em;
                            @media (max-width: 500px) {
                                font-size: 12px;
                            }
                        }
                        .main{
                            display: block;
                            .big{
                                font-size: 22px;
                                line-height: 1.5em;
                                @media (max-width: 500px) {
                                    font-size: 20px;
                                }
                            }
                            .small{
                                font-size: 13px;
                                line-height: 1.5em;
                                @media (max-width: 500px) {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    p.comment{
                        margin-top: 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 1.8em;
                        @media (max-width: 500px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
