.paid-block-cta-3 {
    .this_wrap {
        margin: 0 auto;
        max-width: 800px;
        container-type: inline-size;
        display: flex;
        border: 3px solid #f45353;
        background: #f8f4de;
        color: #000;
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0.9;
        }
        .text_in {
            padding: 12px;
            width: 70%;
            @container (max-width: 700px) {
                padding: 0;
                width: 100%;
            }
            h2.title {
                margin: 0;
                font-size: 44px;
                font-weight: 900;
                line-height: 1.4em;
                text-align: center;
                font-feature-settings: "palt";
                @container (max-width: 780px) {
                    font-size: 40px;
                }
                @container (max-width: 700px) {
                    padding: 0 6px;
                    padding-top: 4px;
                    padding-bottom: 6px;
                    color: #fff;
                }
                @container (max-width: 550px) {
                    font-size: 32px;
                }
                @container (max-width: 450px) {
                    font-size: 28px;
                }
            }
            p {
                margin: 0;
                padding: 0 12px;
                font-size: 24px;
                text-align: center;
                font-weight: 800;
                @container (max-width: 780px) {
                    font-size: 20px;
                }
                @container (max-width: 700px) {
                    margin-top: 12px;
                    padding: 0 6px;
                    font-size: 24px;
                }
                @container (max-width: 550px) {
                    font-size: 20px;
                }
            }
            ul {
                margin-top: 16px;
                padding: 0 12px;
                display: flex;
                gap: 8px;
                li {
                    padding: 10px 0;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    border-radius: 2px;
                    font-weight: 600;
                    border: 1px solid #fff;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
                    @container (max-width: 780px) {
                        font-size: 16px;
                    }
                    @container (max-width: 450px) {
                        padding: 6px 0;
                        font-size: 15px;
                    }
                }
            }
            .tel {
                margin-top: 8px;
                display: flex;
                justify-content: center;
                font-size: 70px;
                color: #e43939;
                font-weight: 700;
                line-height: 1;
                font-feature-settings: "palt";
                white-space: nowrap !important;
                @container (max-width: 780px) {
                    font-size: 64px;
                }
                @container (max-width: 700px) {
                    padding-bottom: 12px;
                }
                @container (max-width: 550px) {
                    font-size: 56px;
                }
                @container (max-width: 450px) {
                    font-size: 48px;
                }
                @container (max-width: 400px) {
                    font-size: 40px;
                }
                >span{
                     white-space: nowrap !important;
                }
            }
        }
        .image {
            width: 30%;
            @container (max-width: 700px) {
                display: none;
            }
            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                &.object_fit_cover {
                    object-fit: cover;
                }
                &.object_fit_contain {
                    object-fit: contain;
                }
                &.object_position_top {
                    object-position: top;
                }
                &.object_position_bottom {
                    object-position: bottom;
                }
                &.object_position_center {
                    object-position: center;
                }
            }
        }
    }
    .tap_tel{
        margin-top: 20px;
        display: none;
        justify-content: center;
        @container (max-width: 700px) {
            display: flex;
        }
        p{
            position: relative;
            z-index: 10;
            margin: 0;
            padding: 4px 12px;
            background: #e15a5a;
            color: #fff;
            border-radius: 3px;
            animation: bounceUp ease 3.5s infinite;
            &::after{
                position: absolute;
                top: -8px;
                left: 0;
                right: 0;
                z-index: -1;
                margin: auto;
                content: "";
                width: 16px;
                height: 16px;
                background: #e15a5a;
                transform: rotate(45deg);
                
            }
        }
    }
    @keyframes bounceUp {
        0%   { transform: translateY(0); }
        8%   { transform: translateY(-18px); }
        12%  { transform: translateY(0); }
        20%  { transform: translateY(-10px); }
        24%  { transform: translateY(0); }
        100% { transform: translateY(0); }
      }
      
}
