#return_top {
  &.ptn_2 {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 900;
    width: 56px;
    height: 56px;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
    border-radius: 50%;
    @media (max-width: 700px) {
      width: 48px;
      height: 48px;
    }
    @media (max-width: 500px) {
      right: 8px;
      bottom: 8px;
      width: 40px;
      height: 40px;
    }
    &::before,
    &::after {
      position: absolute;
      top: 7px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      display: block;
      @media (max-width: 700px) {
        top: 5px;
      }
      @media (max-width: 600px) {
        top: 4px;
      }
    }
    &::before {
      width: 12px;
      height: 12px;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: rotate(45deg);
      @media (max-width: 700px) {
        width: 8px;
        height: 8px;
      }
      @media (max-width: 500px) {
        width: 8px;
        height: 8px;
      }
    }
    &.on {
      position: fixed;
      visibility: inherit;
      opacity: 0.8;
    }
    &:hover{
      opacity: 0.5;
    }
  }
}
