.lw-pr-custom-title-12 {
    margin: 1em 0;
    font-size: 16px;
    @media (max-width: 800px) {
        font-size: 14px;
    }
    @media (max-width: 600px) {
        font-size: 12px;
    }
    @media (max-width: 400px) {
        font-size: 10px;
    }
    .ttl {
        position: relative;
        z-index: 10;
        margin-bottom: 1em;
        padding: 1.2em 1.5em 1.25em 1.5em;
        width: 100%;
        background: var(--color-main);
        color: #fff;
        text-align: center;
        outline: 1px solid rgba(255, 255, 255, 0.8);
        outline-offset: -6px;
        @media (max-width: 600px) {
            outline-offset: -4px;
        }
        @media (max-width: 400px) {
            outline-offset: -3px;
        }
        .main {
            display: block;
            font-size: 2em;
            line-height: 1.4;
            + .sub {
                margin-top: 0.2em;
            }
        }
        .sub {
            display: block;
            font-size: 1em;
            line-height: 1.6;
        }
        &::after,
        &::before {
            position: absolute;
            top: 100%;
            right: 0;
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 1em 1em 0 0; /* 上と右にボーダー */
            border-color: var(--lw-pr-custom-title-12-sub-color) transparent transparent transparent;
        }
        &::before {
            right: auto;
            left: 0;
            border-width: 1em 0 0 1em; /* 上と左にボーダー */
            border-color: var(--lw-pr-custom-title-12-sub-color) transparent transparent transparent;
        }
    }
}
