.lw-list-4 {
  margin: 24px 0;
}

.lw-list-4 ul.lw-list-4__inner {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 36px 40px !important;
  max-width: 1040px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  list-style: none;
  border: 1px solid var(--color-main);
  background: #fff;
}

@container (max-width:750px) {
  .lw-list-4 ul.lw-list-4__inner {
    padding: 32px 24px 28px 24px !important;
    grid-template-columns: repeat(1, 1fr);
  }
}

@container (max-width:550px) {
  .lw-list-4 ul.lw-list-4__inner {
    padding: 28px 16px 24px 16px !important;
    gap: 18px;
  }
}

.lw-list-4 ul.lw-list-4__inner.clm_2 {
  grid-template-columns: repeat(2, 1fr);
}

@container (max-width:750px) {
  .lw-list-4 ul.lw-list-4__inner.clm_2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.lw-list-4 ul.lw-list-4__inner.none_border {
  border: none !important;
  padding: 0;
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li {
  position: relative;
  display: flex;
  align-items: center;
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li.size_l {
  font-size: 1.4em;
}

@media (max-width: 550px) {
  .lw-list-4 ul.lw-list-4__inner li.lw-list-4__li.size_l {
    font-size: 1.2em;
  }
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li.size_m {
  font-size: 1.2em;
}

@media (max-width: 550px) {
  .lw-list-4 ul.lw-list-4__inner li.lw-list-4__li.size_m {
    font-size: 1.1em;
  }
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li.size_s {
  font-size: 1em;
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .icon {
  width: 1.2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .icon svg, .lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .icon img {
  width: 100%;
  height: auto;
  fill: var(--color-main);
  object-fit: contain;
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .lw-list-4__text {
  padding-left: 1em;
  width: calc(100% - 1.2em);
}

.lw-list-4 ul.lw-list-4__inner li.lw-list-4__li .lw-list-4__text p {
  margin: 0;
  color: #333;
  line-height: 1.6em;
}

.lw-list-4 .lw-list-4__remove_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  font-size: 12px;
  color: #fff;
  background: var(--color-accent);
  border: none;
  border-radius: 2px;
}

.lw-list-4 .lw-list-4__add_btn {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  margin-top: 32px;
  padding: 12px 24px;
  padding: 12px 24px;
  width: 200px;
  font-size: 16px;
}

.lw-list-4 .lw-table-item-controls .move-down-button,
.lw-list-4 .lw-table-item-controls .move-up-button {
  top: -14px;
}
