.lw-pr-content-9 {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

.lw-pr-content-9 .lw-pr-content-9__wrap {
  margin: 0 auto;
  max-width: 1440px;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
  overflow: visible;
  margin-left: -80px;
  margin-right: -80px;
}

@media (max-width: 991px) {
  .lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
    margin: 0;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper {
    margin: 0;
    padding: 0 24px;
  }
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-slide {
  height: auto;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item .image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform .3s;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item h3 {
  margin: 1.1em 0 0.6em 0;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  color: var(--color-main);
  transition: color .3s;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .item p {
  margin: 0;
  line-height: 1.8;
  font-size: 16px;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a {
  color: var(--color-black);
  transition: color .3s;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a:hover {
  color: #ef6f6f;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a:hover h3 {
  color: #ef6f6f;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper a:hover img {
  transform: scale(1.1);
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-pagination {
  position: relative;
  margin-top: 32px;
}

.lw-pr-content-9 .lw-pr-content-9__wrap .lw-pr-content-9-swiper .swiper-pagination-bullet-active {
  background: #333;
}
