.lw_content_wrap.page {
    .wp-block-wdl-fv-1 {
        margin-left: calc((100% - 100vw) / 2);
        width: 100vw;
    }
    &:has(.first_content + .wp-block-wdl-fv-1) {
        .first_content {
            display: none;
        }
    }
}
.wp-block {
    &:has(.fv-1) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}
.wp-block .fv-1,
.wp-block-wdl-fv-1 {
    position: relative;
    z-index: 10;
    padding: 64px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #fff;
    text-align: center;
    font-size: 17px;
    box-sizing: border-box;
    @container (max-width:700px) {
        font-size: 16px;
    }
    + .post_style>.wp-block-columns.has-background {
        margin-top: 0;
    }
    .bg_image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    + p,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-top: 2.4em !important;
        font-size: 1em;
    }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    h1 {
        position: relative;
        z-index: 10;
        width: 100%;
        font-size: 1em;
        .main {
            display: block;
            line-height: 1.4em;
            font-size: 3em;
            letter-spacing: 0.05em;
            color: #fff;
            @container (max-width:700px) {
                font-size: 2.6em;
            }
            @container (max-width:500px) {
                font-size: 2.4em;
            }
            &:has(> span[class*="fs-"]) {
                line-height: 1em;
            }
            > span {
                display: inline-block;
            }
        }
        .sub {
            margin-top: 0.1em;
            display: block;
            line-height: 1.4em;
            font-size: 0.9em;
            letter-spacing: 0.1em;
            font-weight: 500;
            color: #fff;
            @container (max-width:700px) {
                font-size: 0.8em;
            }
            @container (max-width:500px) {
                font-size: 0.7em;
            }
        }
    }
    p {
        margin-bottom: 0 !important;
        position: relative;
        z-index: 10;
        width: 100%;
        line-height: 1.6em;
        font-size: 1em;
        @container (max-width:500px) {
            font-size: 0.85em;
        }
    }
    .button {
        position: relative;
        z-index: 10;
        margin-top: 1.7em;
        padding: 1em 1.5em 1.02em 1.5em;
        min-width: 220px;
        font-size: 1em;
        color: #000;
        border-radius: 3em;
        display: block;
        text-decoration: none;
        line-height: 1.3em;
        transition: 0.3s;
        font-size: 0.95em;
        border-style: solid;
        overflow: hidden;
        background: none;
        border-width: 0;
        &:hover {
            opacity: 0.8;
            transform: scale(1.05);
        }
        .btn_bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: none;
        }
    }
}

.post_style {
    .wp-block-wdl-fv-1 {
        h1 {
            .main {
                &:empty {
                    display: none;
                }
            }
            .sub {
                &:empty {
                    display: none;
                }
            }
        }
        p {
            &:empty {
                display: none;
            }
        }
        .button {
            &:empty {
                display: none;
            }
        }
    }
}
.wp-block .fv-1 {
    .button {
        &:hover {
            opacity: 1;
            transform: scale(1);
            cursor: text;
        }
    }
}





